#include <definitions>
__E_CFG_VERSION 1

USE_BORDER_FOR_SHAPED_CLIENT("BORDERLESS")

BEGIN_BORDER_MATCH("NARROW_WINDOW_MATCH", "TRANSIENT")
  IS_IN_WIDTH_RANGE(0, 130)
  IS_IN_HEIGHT_RANGE(0, 99999)
END_BORDER_MATCH

BEGIN_BORDER_MATCH("FIXED_SIZE_BORDER_MATCH", "FIXED_SIZE")
  IS_IN_WIDTH_RANGE(211, 99999)
  CANNOT_RESIZE_HORIZONTALLY
  CANNOT_RESIZE_VERTICALLY
END_BORDER_MATCH

