#include <definitions>
__E_CFG_VERSION 1

#if THEME_VARIANT_blue_btnalt1 == 1
#include <imageclasses/blue-btnalt1/borders.cfg>
#include <imageclasses/blue/dialogs.cfg>
#include <imageclasses/blue-btnalt1/dragbar.cfg>
#include <imageclasses/blue/epplets.cfg>
#include <imageclasses/blue-btnalt1/iconbox.cfg>
#include <imageclasses/blue/pager.cfg>
#endif

#if THEME_VARIANT_blue == 1
#include <imageclasses/blue/borders.cfg>
#include <imageclasses/blue/dialogs.cfg>
#include <imageclasses/blue/dragbar.cfg>
#include <imageclasses/blue/epplets.cfg>
#include <imageclasses/blue/iconbox.cfg>
#include <imageclasses/blue/pager.cfg>
#endif

#if THEME_VARIANT_turquoise_btnalt1 == 1
#include <imageclasses/turquoise-btnalt1/borders.cfg>
#include <imageclasses/turquoise/dialogs.cfg>
#include <imageclasses/turquoise-btnalt1/dragbar.cfg>
#include <imageclasses/turquoise/epplets.cfg>
#include <imageclasses/turquoise-btnalt1/iconbox.cfg>
#include <imageclasses/turquoise/pager.cfg>
#else
#include <imageclasses/turquoise/borders.cfg>
#include <imageclasses/turquoise/dialogs.cfg>
#include <imageclasses/turquoise/dragbar.cfg>
#include <imageclasses/turquoise/epplets.cfg>
#include <imageclasses/turquoise/iconbox.cfg>
#include <imageclasses/turquoise/pager.cfg>
#endif

#include <imageclasses/coords.cfg>
#include <imageclasses/dock.cfg>
#include <imageclasses/focuslist.cfg>
#include <imageclasses/menustyles.cfg>
#include <imageclasses/tooltips.cfg>
