#include <definitions>
__E_CFG_VERSION 1

USE_BORDER_FOR_CLIENT_WITH_CLASS("Enlightenment_Dialog", "BUTTONLESS")
USE_BORDER_FOR_CLIENT_WITH_CLASS("Enlightenment_IconBox", "BORDERLESS")

BEGIN_BORDER_MATCH(GKRELLM, FIXED_FRAME)
  HAS_TITLE("gkrellm*")
  CANNOT_RESIZE_HORIZONTALLY
  CANNOT_RESIZE_VERTICALLY
END_BORDER

BEGIN_BORDER_MATCH(GIMPSTARTUP, MENU)
  HAS_TITLE("GIMP Startup")
  CANNOT_RESIZE_HORIZONTALLY
  CANNOT_RESIZE_VERTICALLY
END_BORDER

