#include <definitions>
__E_CFG_VERSION 1

BEGIN_BACKGROUND("STARTUP_BACKGROUND")
  SET_SOLID("0 0 0")
  ADD_BACKGROUND_SCALED("artwork/bg.jpg")
  ADD_OVERLAY_IMAGE_TOP_LEFT("artwork/stat1a.png")
END_BACKGROUND

BEGIN_IMAGE(STARTUP_BAR)
  IMAGE_NORMAL("artwork/dragbar_normal.png", __STRETCH, 115, 3, 3, 3)
END_IMAGE

BEGIN_IMAGE(PROGRESS_BAR)
  IMAGE_NORMAL("artwork/stat_1.png", __STRETCH, 7, 6, 0, 0)
  IMAGE_CLICKED("artwork/stat_2.png", __STRETCH, 7, 6, 0, 0)
  IMAGE_NORMAL_ACTIVE("artwork/stat_1.png", __STRETCH, 7, 6, 0, 0)
  IMAGE_PADDING(1, 1, 1, 1)
END_IMAGE

BEGIN_TEXT("PROGRESS_TEXT")
  TEXT_NORMAL("*font-init", __EFFECT_OUTLINE, 255 255 255, 0 0 0)
END_TEXT

BEGIN_TEXT("PROGRESS_TEXT_NUMBER")
  TEXT_NORMAL("*font-init", __EFFECT_OUTLINE, 255 180 0, 120 50 0)
END_TEXT

