#include <definitions>
__E_CFG_VERSION 0

/* Maintained at theming.effishiency.com
   $Id$ */

#include <borders/borderless.cfg>
#include <borders/frame.cfg>
#include <borders/default.cfg>
#include <borders/fixedsize.cfg>
#include <borders/full.cfg>
#include <borders/iconbox.cfg>
#include <borders/medium.cfg>
#include <borders/menuborder.cfg>
#include <borders/narrow.cfg>
#include <borders/shaped.cfg>
#include <borders/transient.cfg>
#include <borders/wide.cfg>

