#include <definitions>
__E_CFG_VERSION 1

BEGIN_FONTS
  font-border "chromolt/10"
  font-coords "chromolt/10"
  font-default "chromolt/10"
  font-dialog "chromolt/10"
  font-dialog-hilite "chromolt/10"
  font-dialog-hilite "morpheus/12"
  font-init "zirkle/9"
  font-menu "morpheus/12"
  font-tooltip "Yikes/16"
END_FONTS

