#include <definitions>
__E_CFG_VERSION 1

BEGIN_FONTS
  font-border "-*-helvetica-medium-r-normal-*-*-100-75-75-p-*-*-*"
  font-coords "-*-helvetica-medium-r-normal-*-*-100-75-75-p-*-*-*"
  font-dialog "-*-helvetica-medium-r-normal-*-*-100-75-75-p-*-*-*"
  font-dialog-hilite "-*-helvetica-medium-r-normal-*-*-100-75-75-p-*-*-*"
  font-epplet "-*-helvetica-medium-r-normal-*-*-80-75-75-p-*-iso8859-1"
  font-epplet-large "-*-helvetica-medium-r-normal-*-*-120-75-75-p-*-iso8859-1"
  font-epplet-medium "-*-helvetica-medium-r-normal-*-*-100-75-75-p-*-iso8859-1"
  font-epplet-small "-*-helvetica-medium-r-normal-*-*-80-75-75-p-*-iso8859-1"
  font-focus "-*-helvetica-medium-r-normal-*-*-100-75-75-p-*-*-*"
  font-init "-*-helvetica-medium-r-normal-*-*-100-75-75-p-*-*-*"
  font-menu "-*-helvetica-medium-r-normal-*-*-100-75-75-p-*-*-*"
  font-tooltip "-*-helvetica-medium-r-normal-*-*-100-75-75-p-*-*-*"
END_FONTS

