#include <definitions>
__E_CFG_VERSION 1

__TCLASS __BGN
  __NAME COORDS
  __JUSTIFICATION 512
  __NORMAL "*font-coords"
  __DRAWING_EFFECT __EFFECT_NONE
  __FORGROUND_COLOR 20 20 20
  __BACKGROUND_COLOR 0 0 0
__END

__TCLASS __BGN
  __NAME DEFAULT_TITLE
  __NORMAL "*font-border"
  __JUSTIFICATION 0
  __DRAWING_EFFECT __EFFECT_NONE
  __FORGROUND_COLOR 90 90 90
  __BACKGROUND_COLOR 0 0 0
  __NORMAL_ACTIVE "*font-border"
  __JUSTIFICATION 0
  __DRAWING_EFFECT __EFFECT_NONE
  __FORGROUND_COLOR 240 240 240
  __BACKGROUND_COLOR 0 0 0
  __NORMAL_STICKY "*font-border"
  __JUSTIFICATION 0
  __DRAWING_EFFECT __EFFECT_NONE
  __FORGROUND_COLOR 90 90 90
  __BACKGROUND_COLOR 0 0 0
  __NORMAL_ACTIVE_STICKY "*font-border"
  __JUSTIFICATION 0
  __DRAWING_EFFECT __EFFECT_NONE
  __FORGROUND_COLOR 240 240 240
  __BACKGROUND_COLOR 0 0 0
__END

__TCLASS __BGN
  __NAME DIALOG
  __JUSTIFICATION 512
  __NORMAL "*font-dialog"
  __DRAWING_EFFECT __EFFECT_NONE
  __FORGROUND_COLOR 84 84 84
  __BACKGROUND_COLOR 0 0 0
__END

__TCLASS __BGN
  __NAME DIALOG_BUTTON
  __JUSTIFICATION 512
  __NORMAL "*font-dialog-hilite"
  __DRAWING_EFFECT __EFFECT_NONE
  __FORGROUND_COLOR 20 20 20
  __BACKGROUND_COLOR 0 0 0
__END

__TCLASS __BGN
  __NAME DIALOG_WIDGET_BUTTON
  __JUSTIFICATION 512
  __NORMAL "*font-dialog-hilite"
  __DRAWING_EFFECT __EFFECT_NONE
  __FORGROUND_COLOR 20 20 20
  __BACKGROUND_COLOR 0 0 0
__END

__TCLASS __BGN
  __NAME DIALOG_WIDGET_CHECK_BUTTON
  __JUSTIFICATION 0
  __NORMAL "*font-dialog"
  __DRAWING_EFFECT __EFFECT_NONE
  __FORGROUND_COLOR 84 84 84
  __BACKGROUND_COLOR 0 0 0
__END

__TCLASS __BGN
  __NAME DIALOG_WIDGET_RADIO_BUTTON
  __JUSTIFICATION 0
  __NORMAL "*font-dialog"
  __DRAWING_EFFECT __EFFECT_NONE
  __FORGROUND_COLOR 84 84 84
  __BACKGROUND_COLOR 0 0 0
__END

__TCLASS __BGN
  __NAME DIALOG_WIDGET_TEXT
  __JUSTIFICATION 512
  __NORMAL "*font-dialog"
  __DRAWING_EFFECT __EFFECT_NONE
  __FORGROUND_COLOR 84 84 84
  __BACKGROUND_COLOR 0 0 0
__END

__TCLASS __BGN
  __NAME EPPLET_BUTTON
  __NORMAL "*font-epplet"
  __DRAWING_EFFECT __EFFECT_NONE
  __FORGROUND_COLOR 20 20 20
  __BACKGROUND_COLOR 0 0 0
__END

__TCLASS __BGN
  __NAME EPPLET_LABEL
  __NORMAL "*font-epplet"
  __DRAWING_EFFECT __EFFECT_NONE
  __FORGROUND_COLOR 20 20 20
  __BACKGROUND_COLOR 0 0 0
__END

__TCLASS __BGN
  __NAME EPPLET_POPUP
  __NORMAL "*font-epplet"
  __DRAWING_EFFECT __EFFECT_NONE
  __FORGROUND_COLOR 20 20 20
  __BACKGROUND_COLOR 0 0 0
__END

__TCLASS __BGN
  __NAME EPPLET_TEXT_LARGE
  __NORMAL "*font-epplet-large"
  __DRAWING_EFFECT __EFFECT_NONE
  __FORGROUND_COLOR 20 20 20
  __BACKGROUND_COLOR 0 0 0
__END

__TCLASS __BGN
  __NAME EPPLET_TEXT_MEDIUM
  __NORMAL "*font-epplet-medium"
  __DRAWING_EFFECT __EFFECT_NONE
  __FORGROUND_COLOR 20 20 20
  __BACKGROUND_COLOR 0 0 0
__END

__TCLASS __BGN
  __NAME EPPLET_TEXT_TINY
  __NORMAL "*font-epplet-small"
  __DRAWING_EFFECT __EFFECT_NONE
  __FORGROUND_COLOR 20 20 20
  __BACKGROUND_COLOR 0 0 0
__END

__TCLASS __BGN
  __NAME EPPLET_TOGGLEBUTTON_OFF
  __NORMAL "*font-epplet"
  __DRAWING_EFFECT __EFFECT_NONE
  __FORGROUND_COLOR 20 20 20
  __BACKGROUND_COLOR 0 0 0
__END

__TCLASS __BGN
  __NAME EPPLET_TOGGLEBUTTON_ON
  __NORMAL "*font-epplet"
  __DRAWING_EFFECT __EFFECT_NONE
  __FORGROUND_COLOR 20 20 20
  __BACKGROUND_COLOR 0 0 0
__END

__TCLASS __BGN
  __NAME MENU_TEXT
  __JUSTIFICATION 0
  __NORMAL "*font-menu"
  __DRAWING_EFFECT __EFFECT_NONE
  __FORGROUND_COLOR 51 51 102
  __BACKGROUND_COLOR 0 0 0
  __HILITED "*font-menu"
  __DRAWING_EFFECT __NONE
  __FORGROUND_COLOR 51 102 153
  __BACKGROUND_COLOR 0 0 0
__END

__TCLASS __BGN
  __NAME MENU_TITLE
  __NORMAL "*font-menu"
  __JUSTIFICATION 512
  __DRAWING_EFFECT __NONE
  __FORGROUND_COLOR 240 240 240
  __BACKGROUND_COLOR 0 0 0
__END

__TCLASS __BGN
  __NAME TT_MINI_TEXT
  __JUSTIFICATION 512
  __NORMAL "*font-tooltip"
  __DRAWING_EFFECT __EFFECT_NONE
  __FORGROUND_COLOR 20 20 20
  __BACKGROUND_COLOR 0 0 0
__END

__TCLASS __BGN
  __NAME TT_TEXT
  __JUSTIFICATION 0
  __NORMAL "*font-tooltip"
  __DRAWING_EFFECT __EFFECT_NONE
  __FORGROUND_COLOR 20 20 20
  __BACKGROUND_COLOR 0 0 0
__END

__TCLASS __BGN
  __NAME WARPFOCUS
  __JUSTIFICATION 512
  __NORMAL "*font-focus"
  __DRAWING_EFFECT __EFFECT_NONE
  __FORGROUND_COLOR 20 20 20
  __BACKGROUND_COLOR 0 0 0
__END

