#include <definitions>
__E_CFG_VERSION 1

BEGIN_FONTS
  font-border "bei/12"
  font-coords "bei/12"
  font-dialog "-adobe-helvetica-medium-r-normal-*-*-100-*-*-*-*-*-*"
  font-dialog-hilite "-adobe-helvetica-medium-r-normal-*-*-100-*-*-*-*-*-*"
  font-focus "bei/12"
  font-init "-*-helvetica-medium-r-normal-*-8-*-*-*-*-*-*-*"
  font-menu "bei/12"
  font-tooltip "bei/12"
END_FONTS

