#define BP_START(name,action,shade) \
__BORDER_PART  __BGN ; \
    __ICLASS name ; \
    __ACLASS action ; \
    __KEEP_WHEN_SHADED shade

#define BP_END  __END

#define BP_SIZE(iw,ih,aw,ah) \
    __MIN_WIDTH iw ; \
    __MIN_HEIGHT ih ; \
    __MAX_WIDTH aw ; \
    __MAX_HEIGHT ah

#define BP_TL(xp,xa,yp,ya) \
    __TOPLEFT_ORIGIN -1 ; \
    __TOPLEFT_X_PERCENTAGE xp ; \
    __TOPLEFT_X_ABSOLUTE xa ; \
    __TOPLEFT_Y_PERCENTAGE yp ; \
    __TOPLEFT_Y_ABSOLUTE ya
 
#define BP_BR(xp,xa,yp,ya) \
    __BOTTOMRIGHT_ORIGIN -1 ; \
    __BOTTOMRIGHT_X_PERCENTAGE xp ; \
    __BOTTOMRIGHT_X_ABSOLUTE xa ; \
    __BOTTOMRIGHT_Y_PERCENTAGE yp ; \
    __BOTTOMRIGHT_Y_ABSOLUTE ya

