#include <definitions>
__E_CFG_VERSION 1

BEGIN_FONTS
  font-coords "metalord/10"
  font-default "metalord/10"
  font-dialog "-*-helvetica-medium-r-*-*-12-*-*-*-*-*-*-*"
  font-dialog-hilite "-*-helvetica-medium-r-*-*-12-*-*-*-*-*-*-*"
  font-focus "metalord/10"
  font-init "-*-helvetica-medium-r-*-*-12-*-*-*-*-*-*-*"
  font-menu "-*-helvetica-medium-r-*-*-12-*-*-*-*-*-*-*"
END_FONTS

