#include <definitions>
__E_CFG_VERSION 1

/* Maintained at themes.effx.us
   $Id$ */

BEGIN_BACKGROUND(STARTUP_BACKGROUND)
  SET_SOLID("0 0 0")
  ADD_BACKGROUND_SCALED("artwork/init/splash.png")
END_BACKGROUND

__ICLASS __BGN
  __NAME STARTUP_BAR
  __NORMAL "artwork/init/split.png"
  __EDGE_SCALING 0 0 0 0
__END

__ICLASS __BGN
  __NAME PROGRESS_BAR
/* normal used for text background */
  __NORMAL  "artwork/icon_1.png"
  __EDGE_SCALING 3 3 3 3
/* used for numeric bg */
  __CLICKED "artwork/icon_1.png"
  __EDGE_SCALING 3 3 3 3
/* used for bar itself */
  __NORMAL_ACTIVE  "artwork/icon_1.png"
  __EDGE_SCALING 3 3 3 3
  __PADDING 3 3 3 3
__END

/* text class for text above progress bar */
__TCLASS __BGN
  __NAME PROGRESS_TEXT
  __JUSTIFICATION 0
  __NORMAL "*font-init"
  __DRAWING_EFFECT __EFFECT_SHADOW
  __FORGROUND_COLOR 0 0 0
  __BACKGROUND_COLOR 180 180 180
__END

/* number in % displayed next to text */
__TCLASS __BGN
  __NAME PROGRESS_TEXT_NUMBER
  __JUSTIFICATION 512
  __NORMAL "*font-init"
  __DRAWING_EFFECT __EFFECT_SHADOW
  __FORGROUND_COLOR 0 0 0
  __BACKGROUND_COLOR 180 180 180
__END

