#include <definitions>
__E_CFG_VERSION 1

#include_next <actionclasses.cfg>

__ACLASS __BGN
  __NAME ACTION_WINDOW_SLIDEOUT_LEFT
  __TOOLTIP_TEXT "More Buttons"
  __TYPE __TYPE_NORMAL
  __TOOLTIP_ACTION_TEXT "Show more buttons."
  __ALLOW_ANY_BUTTON __ON
  __EVENT __MOUSE_RELEASE
  __ACTION __A_SLIDEOUT TO_LEFT
__END

__ACLASS __BGN
  __NAME ACTION_WINDOW_SLIDEOUT_UP
  __TOOLTIP_TEXT "More Buttons"
  __TYPE __TYPE_NORMAL
  __TOOLTIP_ACTION_TEXT "Show more buttons."
  __ALLOW_ANY_BUTTON __ON
  __EVENT __MOUSE_RELEASE
  __ACTION __A_SLIDEOUT TO_UP
__END

