#include <definitions>
__E_CFG_VERSION 1

/* Maintained at themes.effx.us
   $Id$ */

#include <borders/b2b.cfg>
#include <borders/b2b_shaped.cfg>
#include <borders/b2t.cfg>
#include <borders/borderless.cfg>
#include <borders/bt2_shaped.cfg>
#include <borders/default.cfg>
#include <borders/fixed_size.cfg>
#include <borders/frame.cfg>
#include <borders/iconbox.cfg>
#include <borders/l2l.cfg>
#include <borders/l2l_shaped.cfg>
#include <borders/l2r_shaped.cfg>
#include <borders/menu_frame.cfg>
#include <borders/menu.cfg>
#include <borders/pager.cfg>
#include <borders/pager_right.cfg>
#include <borders/r2l_shaped.cfg>
#include <borders/r2r.cfg>
#include <borders/r2r_shaped.cfg>
#include <borders/t2b.cfg>
#include <borders/t2b_shaped.cfg>
#include <borders/t2t_shaped.cfg>
#include <borders/tiny.cfg>

