#include <definitions>
__E_CFG_VERSION 1

/* Maintained at themes.effx.us
   $Id$ */

NORMAL_MENU_STYLE_VERTICAL("DEFAULT", "MENU", "MENU_TEXT", "DIALOG", "MENU_SEL", "MENU_SUB",40)
NORMAL_MENU_STYLE_VERTICAL("ROOT", "MENU", "MENU_TEXT", "DIALOG", "MENU_SEL", "MENU_SUB",40)
NORMAL_MENU_STYLE_VERTICAL("ROOT_IMAGE", "MENU", "MENU_TEXT", "DIALOG", "MENU_SEL", "MENU_SUB",15)
NORMAL_MENU_STYLE_VERTICAL("EMPTY", "MENU", "MENU_TEXT", "DIALOG", "MENU_SEL", "MENU_SUB",40)
NORMAL_MENU_STYLE_VERTICAL("DESK_MENU", "MENU_FRAME", "MENU_TEXT", "DIALOG", "MENU_SEL", "MENU_SUB",40)
NORMAL_MENU_STYLE_VERTICAL("TASK_MENU", "MENU_FRAME", "MENU_TEXT", "DIALOG", "MENU_SEL", "MENU_SUB",40)


BEGIN_NEW_MENU("BORDER_T", "EMPTY")
  ADD_MENU_TITLE("top")
  ADD_MENU_TEXT_ITEM("to up",    __A_SET_BORDER, "DEFAULT")
  ADD_MENU_TEXT_ITEM("& shaped", __A_SET_BORDER, "T2T_SHAPED")
  ADD_MENU_TEXT_ITEM("to down",  __A_SET_BORDER, "T2B")
  ADD_MENU_TEXT_ITEM("& shaped", __A_SET_BORDER, "T2B_SHAPED")
END_MENU

BEGIN_NEW_MENU("BORDER_B", "EMPTY")
  ADD_MENU_TITLE("bottom")
  ADD_MENU_TEXT_ITEM("to up",    __A_SET_BORDER, "B2T")
  ADD_MENU_TEXT_ITEM("& shaped", __A_SET_BORDER, "B2T_SHAPED")
  ADD_MENU_TEXT_ITEM("to down",  __A_SET_BORDER, "B2B")
  ADD_MENU_TEXT_ITEM("& shaped", __A_SET_BORDER, "B2B_SHAPED")
END_MENU

BEGIN_NEW_MENU("BORDER_L", "EMPTY")
  ADD_MENU_TITLE("left")
  ADD_MENU_TEXT_ITEM("to right", __A_SET_BORDER, "RIGHT_PAGER")
  ADD_MENU_TEXT_ITEM("& shaped", __A_SET_BORDER, "L2R_SHAPED")
  ADD_MENU_TEXT_ITEM("to left",  __A_SET_BORDER, "L2L")
  ADD_MENU_TEXT_ITEM("& shaped", __A_SET_BORDER, "L2L_SHAPED")
END_MENU

BEGIN_NEW_MENU("BORDER_R", "EMPTY")
  ADD_MENU_TITLE("right")
  ADD_MENU_TEXT_ITEM("to left",  __A_SET_BORDER, "PAGER")
  ADD_MENU_TEXT_ITEM("& shaped", __A_SET_BORDER, "R2L_SHAPED")
  ADD_MENU_TEXT_ITEM("to right", __A_SET_BORDER, "R2R")
  ADD_MENU_TEXT_ITEM("& shaped", __A_SET_BORDER, "R2R_SHAPED")
END_MENU

BEGIN_NEW_MENU("BORDER_S", "EMPTY")
  ADD_MENU_TITLE("special")
  ADD_MENU_TEXT_ITEM("fixed size",  __A_SET_BORDER, "FIXED_SIZE")
  ADD_MENU_TEXT_ITEM("border only", __A_SET_BORDER, "BORDER_ONLY")
  ADD_MENU_TEXT_ITEM("borderless",  __A_SET_BORDER, "BORDERLESS")
END_MENU

BEGIN_NEW_MENU("BORDER_MENU", "DEFAULT")
  ADD_MENU_TITLE("dir")
  ADD_MENU_SUB_TEXT_ITEM("T", "BORDER_T")
  ADD_MENU_SUB_TEXT_ITEM("B", "BORDER_B")
  ADD_MENU_SUB_TEXT_ITEM("L", "BORDER_L")
  ADD_MENU_SUB_TEXT_ITEM("R", "BORDER_R")
  ADD_MENU_SUB_TEXT_ITEM("S", "BORDER_S")
END_MENU

