#include <definitions>
__E_CFG_VERSION 1

__SLIDEOUT __BGN
  __NAME "TO_LEFT"
  __SLIDE_DIRECTION __LEFT
  __BUTTON H_LAYER
  __BUTTON H_SKIP
  __BUTTON H_SNAPSHOT
  __BUTTON H_GROUP
  __BUTTON H_MEMBERSHIP
__END

__SLIDEOUT __BGN
  __NAME "TO_UP"
  __SLIDE_DIRECTION __UP
  __BUTTON V_LAYER
  __BUTTON V_SKIP
  __BUTTON V_SNAPSHOT
  __BUTTON V_GROUP
  __BUTTON V_MEMBERSHIP
__END

__ACLASS __BGN
  __NAME ACTION_WINDOW_SLIDEOUT_LEFT
  __TOOLTIP_TEXT "More Buttons"
  __TYPE __TYPE_NORMAL
  __TOOLTIP_ACTION_TEXT "Show more buttons."
  __ALLOW_ANY_BUTTON __ON
  __EVENT __MOUSE_RELEASE
  __ACTION __A_SLIDEOUT TO_LEFT
__END

__ACLASS __BGN
  __NAME ACTION_WINDOW_SLIDEOUT_UP
  __TOOLTIP_TEXT "More Buttons"
  __TYPE __TYPE_NORMAL
  __TOOLTIP_ACTION_TEXT "Show more buttons."
  __ALLOW_ANY_BUTTON __ON
  __EVENT __MOUSE_RELEASE
  __ACTION __A_SLIDEOUT TO_UP
__END

