#include <definitions>
__E_CFG_VERSION 1

USE_BORDER_FOR_SHAPED_CLIENT("BORDERLESS")

__MATCH_WINDOW __BGN
  __NAME "LEFTSIDE_BORDER_MATCH"
  __USE_BORDER "LEFTSIDE"
  __IS_IN_WIDTH_RANGE 50 240
  __IS_IN_HEIGHT_RANGE 241 99999
__END

__MATCH_WINDOW __BGN
  __NAME "SMALL_BORDER_MATCH"
  __USE_BORDER "SMALL"
  __IS_IN_WIDTH_RANGE 50 240
  __IS_IN_HEIGHT_RANGE 40 240
__END

__MATCH_WINDOW __BGN
  __NAME "VERYSMALL_BORDER_MATCH"
  __USE_BORDER "VERYSMALL"
  __IS_IN_WIDTH_RANGE 50 240
  __IS_IN_HEIGHT_RANGE 0 39
__END

__MATCH_WINDOW __BGN
  __NAME "VERYSMALL_BORDER_MATCH_2"
  __USE_BORDER "VERYSMALL"
  __IS_IN_WIDTH_RANGE 0 49
  __IS_IN_HEIGHT_RANGE 0 99999
__END

__MATCH_WINDOW __BGN
  __NAME "FIXEDSIZE_BORDER_MATCH"
  __USE_BORDER "FIXED_SIZE"
  __IS_IN_WIDTH_RANGE 211 99999
  __CANNOT_RESIZE_HORIZONTALLY 1
  __CANNOT_RESIZE_VERTICALLY 1
__END

__MATCH_WINDOW __BGN
  __NAME "SMALLFIXED_BORDER_MATCH"
  __USE_BORDER "SMALLFIXED"
  __IS_IN_WIDTH_RANGE 60 210
  __CANNOT_RESIZE_HORIZONTALLY 1
  __CANNOT_RESIZE_VERTICALLY 1
__END

__MATCH_WINDOW __BGN
  __NAME "VERYSMALLFIXED_BORDER_MATCH"
  __USE_BORDER "VERYSMALLFIXED"
  __IS_IN_WIDTH_RANGE 0 59
  __CANNOT_RESIZE_HORIZONTALLY 1
  __CANNOT_RESIZE_VERTICALLY 1
__END

