#include <definitions>
__E_CFG_VERSION 1

CURSOR(DEFAULT, 255 255 255, 0 0 0, "artwork/cursors/cursor.xbm")
CURSOR(MOVE, 255 255 255, 0 0 0, "artwork/cursors/move.xbm")
CURSOR(ICONIFY, 255 255 255, 0 0 0, "artwork/cursors/iconify.xbm")
CURSOR(KILL, 255 255 255, 0 0 0, "artwork/cursors/kill.xbm")
CURSOR(RESIZE_H, 255 255 255, 0 0 0, "artwork/cursors/resize_h.xbm")
CURSOR(RESIZE_V, 255 255 255, 0 0 0, "artwork/cursors/resize_v.xbm")
CURSOR(RESIZE_BR, 255 255 255, 0 0 0, "artwork/cursors/resize_br.xbm")
CURSOR(RESIZE_TR, 255 255 255, 0 0 0, "artwork/cursors/resize_tr.xbm")
