#include <definitions>
__E_CFG_VERSION 1

#include <borders/borderless.cfg>
#include <borders/concept.cfg>
#include <borders/de_eterm.cfg>
#include <borders/default_alternative.cfg>
#include <borders/default.cfg>
#include <borders/diff_dynamic.cfg>
#include <borders/dynamic.cfg>
#include <borders/eterm_alternative.cfg>
#include <borders/fixed_frame.cfg>
#include <borders/fixed_size.cfg>
#include <borders/iconbox.cfg>
#include <borders/menu_frame.cfg>
#include <borders/menu.cfg>
#include <borders/non_dynamic.cfg>
#include <borders/pager.cfg>
#include <borders/pager_right.cfg>
#include <borders/pager_white.cfg>
#include <borders/shaped.cfg>
#include <borders/shaped_incomplete.cfg>
#include <borders/side.cfg>
#include <borders/stick.cfg>
#include <borders/switch_stance.cfg>
#include <borders/transient.cfg>

