#include <definitions>
__E_CFG_VERSION 1

BEGIN_FONTS
  font-coords "-*-lucida-medium-r-normal-*-*-100-*-*-p-*-iso8859-1"
  font-default "verdana/7"
  font-dialog "-*-lucida-medium-r-*-*-10-*-*-*-*-*-*-*"
  font-dialog-hilite "-*-lucida-bold-r-*-*-10-*-*-*-*-*-*-*"
  font-epplet "-*-lucida-medium-r-*-*-10-*-*-*-*-*-*-*"
  font-epplet-large "-*-lucida-medium-r-*-*-12-*-*-*-*-*-*-*"
  font-epplet-medium "-*-lucidatypewriter-medium-r-*-*-10-*-*-*-*-*-*-*"
  font-epplet-small "-*-lucida-medium-r-*-*-8-*-*-*-*-*-*-*"
  font-focus "-*-lucida-medium-r-*-*-10-*-*-*-*-*-*-*"
  font-init "verdana/9"
  font-menu "-*-lucida-medium-r-*-*-0-*-*-*-*-*-*-*"
  font-menu "-*-lucida-medium-r-*-*-10-*-*-*-*-*-*-*"
  font-tooltip "-*-lucida-medium-r-*-*-10-*-*-*-*-*-*-*"
END_FONTS

