#include <definitions>
__E_CFG_VERSION 1

BEGIN_BACKGROUND(STARTUP_BACKGROUND)
  SET_SOLID("100 100 100")
  ADD_BACKGROUND_TILED("artwork/init/startup_background.jpg")
  ADD_OVERLAY_IMAGE_BOTTOM_MIDDLE("artwork/init/startup_logo.png")
END_BACKGROUND

__ICLASS __BGN
  __NAME STARTUP_BAR
  __NORMAL "artwork/black.png"
  __EDGE_SCALING 0 0 0 0
  __PADDING 0 0 0 0
__END

__ICLASS __BGN
  __NAME PROGRESS_BAR
  __NORMAL  "artwork/init/progress_bar_text.png"
  __EDGE_SCALING 3 3 3 3
  __CLICKED "artwork/init/progress_bar_number.png"
  __EDGE_SCALING 3 3 3 3
  __NORMAL_ACTIVE  "artwork/init/progress_bar.png"
  __EDGE_SCALING 0 0 0 0
  __PADDING 0 0 0 0
__END

__TCLASS __BGN
  __NAME PROGRESS_TEXT
  __NORMAL "*font-init"
  __DRAWING_EFFECT __EFFECT_OUTLINE
  __FORGROUND_COLOR 255 255 255
  __BACKGROUND_COLOR 0 0 0
  __JUSTIFICATION 0
__END

__TCLASS __BGN
  __NAME PROGRESS_TEXT_NUMBER
  __NORMAL "*font-init"
  __DRAWING_EFFECT __EFFECT_OUTLINE
  __FORGROUND_COLOR 255 255 255
  __BACKGROUND_COLOR 100 100 100
  __JUSTIFICATION 512
__END

