#include <definitions>
__E_CFG_VERSION 1

BEGIN_SOUND
  "SOUND_STARTUP"             "audio/welcome_to_e.wav"
  "SOUND_BUTTON_RAISE"        "audio/synclaves.wav"
  "SOUND_ALERT"               "audio/warning.wav"
  "SOUND_EXIT"                "audio/goodbye.wav"
  "SOUND_LOGOUT"              "audio/logout.wav"
  "SOUND_WAIT"                "audio/E_wait.wav"
  "SOUND_ERROR_IPC"           "audio/error_ipc.wav"
  
  "SOUND_SETTINGS_ACTIVE"     "audio/dialog_already_active.wav"
  "SOUND_SETTINGS_PAGER"      "audio/prefs_pager.wav"
  "SOUND_SETTINGS_FOCUS"      "audio/prefs_focus.wav"
  "SOUND_SETTINGS_MOVERESIZE" "audio/prefs_moveresize.wav"
  "SOUND_SETTINGS_DESKTOPS"   "audio/prefs_desktops.wav"
  "SOUND_SETTINGS_AREA"       "audio/prefs_virtual.wav"
  "SOUND_SETTINGS_PLACEMENT"  "audio/prefs_placement.wav"
  "SOUND_SETTINGS_AUTORAISE"  "audio/prefs_autoraise.wav"
  "SOUND_SETTINGS_TOOLTIPS"   "audio/prefs_tooltip.wav"
  "SOUND_SETTINGS_AUDIO"      "audio/prefs_audio.wav"
  "SOUND_SETTINGS_FX"         "audio/prefs_fx.wav"
  "SOUND_SETTINGS_BG"         "audio/prefs_background.wav"
  "SOUND_SETTINGS_KDE"        "audio/prefs_kde.wav"
  "SOUND_SETTINGS_GROUP"      "audio/prefs_groups.wav"
  
  "SOUND_DESKTOP_SHUT"        "audio/SOUND_DESKTOP_SHUT.wav"
  "SOUND_WINDOW_CLOSE"        "audio/SOUND_WINDOW_CLOSE.wav"
  "SOUND_WINDOW_STICK"      "audio/SOUND_WINDOW_STICK.wav"
  "SOUND_WINDOW_UNSTICK"    "audio/SOUND_WINDOW_UNSTICK.wav"
  "SOUND_WINDOW_SLIDE"      "audio/SOUND_WINDOW_SLIDE.wav"
  "SOUND_MENU_SHOW"  "audio/SOUND_MENU_SHOW.wav"
  "SOUND_UNSHADE"  "audio/SOUND_UNSHADE.wav"
  "SOUND_SHADE"  "audio/SOUND_SHADE.wav"
  "SOUND_WINDOW_CHANGE_LAYER_DOWN"  "audio/SOUND_WINDOW_CHANGE_LAYER_DOWN.wav"
  "SOUND_WINDOW_CHANGE_LAYER_UP"  "audio/SOUND_WINDOW_CHANGE_LAYER_DOWN.wav"
  "SOUND_WINDOW_BORDER_CHANGE"  "audio/SOUND_WINDOW_BORDER_CHANGE.wav"
  "SOUND_NEW_ICONBOX"  "audio/SOUND_NEW_ICONBOX.wav"
  "SOUND_MOVE_AREA_LEFT"  "audio/SOUND_MOVE_AREA_DOWN.wav"
  "SOUND_MOVE_AREA_RIGHT"  "audio/SOUND_MOVE_AREA_DOWN.wav"
  "SOUND_MOVE_AREA_UP"  "audio/SOUND_MOVE_AREA_DOWN.wav"
  "SOUND_MOVE_AREA_DOWN"  "audio/SOUND_MOVE_AREA_DOWN.wav"
  "SOUND_MOVE_RESIST"  "audio/SOUND_MOVE_RESIST.wav"
  "SOUND_FOCUS_SET"  "audio/SOUND_FOCUS_SET.wav"
  "SOUND_ICONIFY" "audio/SOUND_ICONIFY.wav"
  "SOUND_DEICONIFY" "audio/SOUND_DEICONIFY.wav"
END_SOUND

