#include <definitions>
__E_CFG_VERSION 1

/* Maintained at themes.effx.us
   $Id$ */

DEFINE_TOOLTIP("DEFAULT", "TT_MAIN", "TT_CLOUD1", "TT_CLOUD2", "TT_CLOUD3", "TT_CLOUD4", "TEXT1", 80)
DEFINE_TOOLTIP("ICONBOX", "COORDS", "TT_BLANK", "TT_BLANK", "TT_BLANK", "TT_BLANK", "TEXT1", 16)
DEFINE_TOOLTIP("PAGER", "COORDS", "TT_BLANK", "TT_BLANK", "TT_BLANK", "TT_BLANK", "TEXT1", 16)
