#include <definitions>
__E_CFG_VERSION 1

#include <borders/test.cfg>
#include <borders/test1.cfg>
#include <borders/test2.cfg>
#include <borders/borderless.cfg>
#include <borders/default.cfg>
#include <borders/def_alt.cfg>
#include <borders/def_alt2.cfg>
#include <borders/def_alt3.cfg>
#include <borders/leftism.cfg>
#include <borders/fixed_size.cfg>
#include <borders/iconbox.cfg>
#include <borders/iconbox_new.cfg>
#include <borders/menu.cfg>
#include <borders/pager_right.cfg>
#include <borders/pixel.cfg>
#include <borders/shaped.cfg>
#include <borders/transient.cfg>

