#include <definitions>
__E_CFG_VERSION 1

USE_BORDER_FOR_CLIENT_WITH_TITLE("gkrellm*", "PAGER")
USE_BORDER_FOR_CLIENT_WITH_NAME("*licq*", "ICQ")
USE_BORDER_FOR_CLIENT_WITH_NAME("*gnomeicu*", "ICQ")

/* Anything narrower than 100 pixels gets the SIDE border: */
/*
__MATCH_WINDOW __BGN
  __NAME NARROW_WINDOWS
  __USE_BORDER SIDE
  __IS_IN_WIDTH_RANGE 0 100
__END
*/
