#include <definitions>
__E_CFG_VERSION 1

BEGIN_TEXT(COORDS)
  TEXT_NORMAL("*font-coords", __EFFECT_SHADOW, 255 255 255, 0 0 0)
  TEXT_JUSTIFY_LEFT
END_TEXT

BEGIN_TEXT(DIALOG)
  TEXT_NORMAL("*font-dialog", __EFFECT_NONE, 0 0 0, 0 0 0)
  TEXT_JUSTIFY_CENTER
END_TEXT

BEGIN_TEXT(DIALOG_BUTTON)
  TEXT_NORMAL("*font-dialog-hilite", __EFFECT_NONE, 0 0 0, 0 0 0)
  TEXT_JUSTIFY_CENTER
END_TEXT

BEGIN_TEXT(DIALOG_WIDGET_BUTTON)
  TEXT_NORMAL("*font-dialog-hilite", __EFFECT_NONE, 0 0 0, 0 0 0)
  TEXT_JUSTIFY_CENTER
END_TEXT

BEGIN_TEXT(DIALOG_WIDGET_CHECK_BUTTON)
  TEXT_NORMAL("*font-dialog", __EFFECT_NONE, 0 0 0, 0 0 0)
  TEXT_JUSTIFY_LEFT
END_TEXT

BEGIN_TEXT(DIALOG_WIDGET_RADIO_BUTTON)
  TEXT_NORMAL("*font-dialog", __EFFECT_NONE, 0 0 0, 0 0 0)
  TEXT_JUSTIFY_LEFT
END_TEXT

BEGIN_TEXT(DIALOG_WIDGET_TEXT)
  TEXT_NORMAL("*font-dialog", __EFFECT_NONE, 0 0 0, 0 0 0)
  TEXT_JUSTIFY_CENTER
END_TEXT

BEGIN_TEXT(EPPLET_BUTTON)
  TEXT_NORMAL("*font-epplet", __EFFECT_SHADOW, 255 255 255, 0 0 0)
  TEXT_CLICKED("*font-epplet", __EFFECT_SHADOW, 255 255 255, 0 0 0)
END_TEXT

BEGIN_TEXT(EPPLET_LABEL)
  TEXT_NORMAL("*font-epplet", __EFFECT_SHADOW, 255 255 255, 0 0 0)
END_TEXT

BEGIN_TEXT(EPPLET_POPUP)
  TEXT_NORMAL("*font-epplet", __EFFECT_SHADOW, 255 255 255, 0 0 0)
  TEXT_CLICKED("*font-epplet", __EFFECT_SHADOW, 255 255 255, 0 0 0)
END_TEXT

BEGIN_TEXT(EPPLET_TEXT_LARGE)
  TEXT_NORMAL("*font-epplet-large", __EFFECT_SHADOW, 255 255 255, 0 0 0)
END_TEXT

BEGIN_TEXT(EPPLET_TEXT_MEDIUM)
  TEXT_NORMAL("*font-epplet-medium", __EFFECT_SHADOW, 255 255 255, 0 0 0)
END_TEXT

BEGIN_TEXT(EPPLET_TEXT_TINY)
  TEXT_NORMAL("*font-epplet-small", __EFFECT_SHADOW, 255 255 255, 0 0 0)
END_TEXT

BEGIN_TEXT(EPPLET_TOGGLEBUTTON_OFF)
  TEXT_NORMAL("*font-epplet", __EFFECT_SHADOW, 255 255 255, 0 0 0)
END_TEXT

BEGIN_TEXT(EPPLET_TOGGLEBUTTON_ON)
  TEXT_NORMAL("*font-epplet", __EFFECT_SHADOW, 255 255 255, 0 0 0)
END_TEXT

BEGIN_TEXT(MENU_TEXT)
  TEXT_NORMAL("*font-menu", __EFFECT_NONE, 0 0 0, 0 0 0)
  TEXT_HILITED("*font-menu", __EFFECT_SHADOW, 255 255 255, 0 0 0)
  TEXT_JUSTIFY_LEFT
END_TEXT

BEGIN_TEXT(TEXT1)
  TEXT_NORMAL("*font-default", __EFFECT_SHADOW, 255 255 255, 0 0 0)
  TEXT_NORMAL_ACTIVE("*font-default", __EFFECT_SHADOW, 255 255 255, 0 0 0)
  TEXT_JUSTIFY_LEFT
END_TEXT

BEGIN_TEXT(TEXT1UP)
  TEXT_NORMAL("*font-default", __EFFECT_NONE, 0 0 0, 0 0 0)
  TEXT_ORIENTATION(__FONT_TO_UP)
  TEXT_NORMAL_ACTIVE("*font-default", __EFFECT_NONE, 0 0 0, 0 0 0)
  TEXT_ORIENTATION(__FONT_TO_UP)
  TEXT_JUSTIFY_CENTER
END_TEXT

BEGIN_TEXT(TEXT2)
  TEXT_NORMAL("*font-default", __EFFECT_NONE, 0 0 0, 0 0 0)
  TEXT_HILITED("*font-default", __EFFECT_SHADOW, 255 255 255, 0 0 0)
  TEXT_JUSTIFY_LEFT
END_TEXT

BEGIN_TEXT(TEXTM)
  TEXT_NORMAL("*font-default", __EFFECT_SHADOW, 255 255 255, 0 0 0)
  TEXT_NORMAL_ACTIVE("*font-default", __EFFECT_SHADOW, 255 255 255, 0 0 0)
  TEXT_JUSTIFY_CENTER
END_TEXT

BEGIN_TEXT(TT_TEXT)
  TEXT_NORMAL("*font-tooltip", __EFFECT_NONE, 255 255 255, 0 0 0)
  TEXT_JUSTIFY_LEFT
END_TEXT

BEGIN_TEXT(WARPFOCUS)
  TEXT_NORMAL("*font-focus", __EFFECT_NONE, 0 0 0, 0 0 0)
  TEXT_CLICKED("*font-focus", __EFFECT_SHADOW, 255 255 255, 0 0 0)
  TEXT_JUSTIFY_LEFT
END_TEXT

