#include <definitions>
__E_CFG_VERSION 1

USE_BORDER_FOR_CLIENT_WITH_TITLE("DOX:*", "SMALL")
USE_BORDER_FOR_CLIENT_WITH_TITLE("The GIMP", "SMALL")
USE_BORDER_FOR_CLIENT_WITH_TITLE("*ICU*", "SMALL")
USE_BORDER_FOR_CLIENT_WITH_TITLE("*icq*", "SMALL")
USE_BORDER_FOR_CLIENT_WITH_TITLE("Blender", "BORDERLESS")
USE_BORDER_FOR_CLIENT_WITH_TITLE("c0mm4nd3r", "BORDERLESS")
USE_ICON_IMAGE_FOR_CLIENT_CLASS("XClock", "artwork/wait1.png")
USE_BORDER_FOR_CLIENT_WITH_TITLE("*Settings", "SMALL")
USE_BORDER_FOR_CLIENT_WITH_TITLE("*Error", "SMALL")
USE_BORDER_FOR_CLIENT_WITH_TITLE("*error", "SMALL")
USE_BORDER_FOR_CLIENT_WITH_TITLE("About*", "SMALL")
USE_BORDER_FOR_CLIENT_WITH_TITLE("Remembered Application Attributes", "SMALL")
USE_BORDER_FOR_CLIENT_WITH_TITLE("*?", "SMALL")

