#include <definitions>
__E_CFG_VERSION 1

BEGIN_FONTS
  font-border "-*-mints-strong-r-normal-*-*-90-*-*-p-*-*-*"
  font-coords "-artwiz-snap-medium-r-normal-*-*-100-*-*-p-*-*-*"
  font-dialog "-schumacher-clean-medium-r-*-*-*-120-*-*-*-*-*-*"
  font-dialog-hilite "-schumacher-clean-medium-r-*-*-*-120-*-*-*-*-*-*"
  font-epplet "-*-lucida-medium-r-normal-*-*-80-75-75-p-*-*-*"
  font-epplet-large "-*-lucida-bold-r-normal-*-*-120-75-75-p-*-*-*"
  font-epplet-medium "-*-lucida-bold-r-normal-*-*-100-75-75-p-*-*-*"
  font-epplet-small "-*-lucida-medium-r-normal-*-*-80-75-75-p-*-*-*"
  font-focus "-artwiz-snap-medium-r-normal-*-*-100-*-*-p-*-*-*"
  font-init "-*-vizung-medium-r-normal-*-*-120-*-*-p-*-*-*"
  font-menu "-schumacher-clean-medium-r-*-*-*-120-*-*-*-*-*-*"
  font-tooltip "-schumacher-clean-medium-r-*-*-*-120-*-*-*-*-*-*"
END_FONTS

