#include <definitions>
__E_CFG_VERSION 1

/* Maintained at themes.effx.us
   $Id$ */

BEGIN_BACKGROUND(STARTUP_BACKGROUND)
  SET_SOLID("30 30 90")
  ADD_BACKGROUND_TILED_SCALED_VERTICALLY("artwork/common/bg.png")
END_BACKGROUND

__ICLASS __BGN
  __NAME STARTUP_BAR
  __NORMAL "artwork/epplets/bg.png"
  __EDGE_SCALING 4 4 4 4
__END

__ICLASS __BGN
  __NAME PROGRESS_BAR
/* normal used for text background */
  __NORMAL "artwork/dialogs/button-c.png"
  __EDGE_SCALING 4 4 4 4
/* used for numeric bg */
  __CLICKED "artwork/dialogs/button-c.png"
  __EDGE_SCALING 4 4 4 4
/* used for bar itself */
  __NORMAL_ACTIVE "artwork/dialogs/button-h.png"
  __EDGE_SCALING 4 4 4 4
__END

/* text class for text above progress bar */
__TCLASS __BGN
  __NAME PROGRESS_TEXT
  __JUSTIFICATION 0
  __NORMAL "*font-init"
  __DRAWING_EFFECT __EFFECT_SHADOW
  __FORGROUND_COLOR 60 60 60
  __BACKGROUND_COLOR 220 220 220
__END

/* number in % displayed next to text */
__TCLASS __BGN
  __NAME PROGRESS_TEXT_NUMBER
  __JUSTIFICATION 512
  __NORMAL "*font-init"
  __DRAWING_EFFECT __EFFECT_SHADOW
  __FORGROUND_COLOR 60 60 60
  __BACKGROUND_COLOR 220 220 220
__END

