#include <definitions>
__E_CFG_VERSION 0

/* Maintained at themes.effx.us
   $Id$ */

#include <borders/black_frame.cfg>
#include <borders/borderless.cfg>
#include <borders/default.cfg>
#include <borders/full_title.cfg>
#include <borders/iconbox.cfg>
#include <borders/no_title.cfg>
#include <borders/pager_left.cfg>
#include <borders/pager_right.cfg>
#include <borders/shaped.cfg>
#include <borders/with_buttons.cfg>
