#include <definitions>
__E_CFG_VERSION 0

/* Maintained at theming.effishiency.com
   $Id$ */

#include <borders/borderless.cfg>
#include <borders/default.cfg>
#include <borders/windows.cfg>
#include <borders/title_only.cfg>
#include <borders/pager.cfg>
#include <borders/menu.cfg>
#include <borders/menu_border_only.cfg>
#include <borders/verysmall.cfg>
#include <borders/iconbox.cfg>
