#include <definitions>
__E_CFG_VERSION 1

BEGIN_BACKGROUND(STARTUP_BACKGROUND)
  SET_SOLID("0 0 0")
  ADD_BACKGROUND_SCALED("artwork/bg.png")
END_BACKGROUND

BEGIN_IMAGE(STARTUP_BAR)
  IMAGE_NORMAL("artwork/w1.png", __STRETCH, 2, 2, 2, 16)
END_IMAGE

BEGIN_IMAGE(PROGRESS_BAR)
  IMAGE_NORMAL("artwork/w1_normal.png", __STRETCH, 4, 4, 4, 4)
  IMAGE_CLICKED("artwork/w1_hilited.png", __STRETCH, 4, 4, 4, 4)
  IMAGE_NORMAL_ACTIVE("artwork/w1.png", __STRETCH, 4, 4, 4, 4)
  IMAGE_PADDING(2, 2, 2, 2)
END_IMAGE

BEGIN_TEXT(PROGRESS_TEXT)
  TEXT_NORMAL("*font-init", __EFFECT_SHADOW, 255 255 255, 0 0 0)
  TEXT_JUSTIFY_RIGHT
END_TEXT

BEGIN_TEXT(PROGRESS_TEXT_NUMBER)
  TEXT_NORMAL("*font-init", __EFFECT_SHADOW, 255 255 255, 0 0 0)
  TEXT_JUSTIFY_RIGHT
END_TEXT

