#include <definitions>
__E_CFG_VERSION 1

TOOLTIP("DEFAULT", "TT_MAIN", "TT_CLOUD1", "TT_CLOUD1",  "TT_CLOUD1", "TT_CLOUD1", "COORDS", 64)
TOOLTIP("PAGER", "TT_MINI", "TT_BLANK", "TT_BLANK",  "TT_BLANK", "TT_BLANK", "COORDS", 16)
TOOLTIP("ICONBOX", "TT_MINI", "TT_BLANK", "TT_BLANK", "TT_BLANK", "TT_BLANK", "COORDS", 16)

