#include <definitions>
__E_CFG_VERSION 1

BEGIN_FONTS
  font-border "-*-lucida-medium-r-*-*-10-*-*-*-*-*-*-*"
  font-coords "tahoma/8"
  font-default "tahoma/8"
  font-dialog "tahoma/8"
  font-dialog-hilite "tahoma/8"
  font-focus "tahoma/8"
  font-init "tahoma/8"
  font-menu "-*-lucida-medium-r-*-*-10-*-*-*-*-*-*-*"
  font-tooltip "tahoma/8"
END_FONTS

