#include <definitions>
__E_CFG_VERSION 1

USE_BORDER_FOR_CLIENT_WITH_CLASS("Enlightenment_Dialog", "SMALL_SHADE_UP")
USE_BORDER_FOR_CLIENT_WITH_NAME(sodipodi, "SMALL")
USE_BORDER_FOR_CLIENT_WITH_NAME(Gaim, "MENU")
USE_BORDER_FOR_CLIENT_WITH_NAME(xawtv, "SMALL_SHADE_UP")

