#include <definitions>
__E_CFG_VERSION 1

#if THEME_VARIANT_winter == 1
#include <imageclasses/winter/borders.cfg>
#include <imageclasses/winter/coords.cfg>
#include <imageclasses/winter/dialogs.cfg>
#include <imageclasses/winter/dock.cfg>
#include <imageclasses/winter/dragbar.cfg>
#include <imageclasses/winter/epplets.cfg>
#include <imageclasses/winter/focuslist.cfg>
#include <imageclasses/winter/iconbox.cfg>
#include <imageclasses/winter/menustyles.cfg>
#include <imageclasses/winter/pager.cfg>
#include <imageclasses/winter/tooltips.cfg>
#endif

#if THEME_VARIANT_spring == 1
#include <imageclasses/spring/borders.cfg>
#include <imageclasses/spring/coords.cfg>
#include <imageclasses/spring/dialogs.cfg>
#include <imageclasses/spring/dock.cfg>
#include <imageclasses/spring/dragbar.cfg>
#include <imageclasses/spring/epplets.cfg>
#include <imageclasses/spring/focuslist.cfg>
#include <imageclasses/spring/iconbox.cfg>
#include <imageclasses/spring/menustyles.cfg>
#include <imageclasses/spring/pager.cfg>
#include <imageclasses/spring/tooltips.cfg>
#endif

#if THEME_VARIANT_summer == 1
#include <imageclasses/summer/borders.cfg>
#include <imageclasses/summer/coords.cfg>
#include <imageclasses/summer/dialogs.cfg>
#include <imageclasses/summer/dock.cfg>
#include <imageclasses/summer/dragbar.cfg>
#include <imageclasses/summer/epplets.cfg>
#include <imageclasses/summer/focuslist.cfg>
#include <imageclasses/summer/iconbox.cfg>
#include <imageclasses/summer/menustyles.cfg>
#include <imageclasses/summer/pager.cfg>
#include <imageclasses/summer/tooltips.cfg>
#endif

#if THEME_VARIANT_autumn == 1
#include <imageclasses/autumn/borders.cfg>
#include <imageclasses/autumn/coords.cfg>
#include <imageclasses/autumn/dialogs.cfg>
#include <imageclasses/autumn/dock.cfg>
#include <imageclasses/autumn/dragbar.cfg>
#include <imageclasses/autumn/epplets.cfg>
#include <imageclasses/autumn/focuslist.cfg>
#include <imageclasses/autumn/iconbox.cfg>
#include <imageclasses/autumn/menustyles.cfg>
#include <imageclasses/autumn/pager.cfg>
#include <imageclasses/autumn/tooltips.cfg>
#else
#include <imageclasses/winter/borders.cfg>
#include <imageclasses/winter/coords.cfg>
#include <imageclasses/winter/dialogs.cfg>
#include <imageclasses/winter/dock.cfg>
#include <imageclasses/winter/dragbar.cfg>
#include <imageclasses/winter/epplets.cfg>
#include <imageclasses/winter/focuslist.cfg>
#include <imageclasses/winter/iconbox.cfg>
#include <imageclasses/winter/menustyles.cfg>
#include <imageclasses/winter/pager.cfg>
#include <imageclasses/winter/tooltips.cfg>
#endif

