#include <definitions>
__E_CFG_VERSION 1

DEFINE_TOOLTIP("DEFAULT", "TT_MAIN", "TT_CLOUD1", "TT_CLOUD2", "TT_CLOUD3", "TT_CLOUD4", "TT_TEXT", 64)
DEFINE_TOOLTIP("PAGER", "PAGER_BACKGROUND", "TT_BLANK", "TT_BLANK", "TT_BLANK", "TT_BLANK", "TEXT2", 16)
DEFINE_TOOLTIP("ICONBOX", "PAGER_BACKGROUND", "TT_BLANK", "TT_BLANK", "TT_BLANK", "TT_BLANK", "TEXT2", 16)

