#include <definitions>
__E_CFG_VERSION 1

__BUTTON __BGN
  __NAME SL_LOWER
  __ICLASS SLIDEOUT_LOWER
  __ACLASS ACTION_LOWER
  __IS_INTERNAL __ON
  __SHOW_BY_DEFAULT __OFF
  __USE_SIZE_OF_IMAGE __ON
__END

__BUTTON __BGN
  __NAME SL_MAX
  __ICLASS SLIDEOUT_MAX
  __ACLASS ACTION_MAX
  __IS_INTERNAL __ON
  __SHOW_BY_DEFAULT __OFF
  __USE_SIZE_OF_IMAGE __ON
__END

__BUTTON __BGN
  __NAME SL_RAISE
  __ICLASS SLIDEOUT_RAISE
  __ACLASS ACTION_RAISE
  __IS_INTERNAL __ON
  __SHOW_BY_DEFAULT __OFF
  __USE_SIZE_OF_IMAGE __ON
__END

__BUTTON __BGN
  __NAME SL_SHADE
  __ICLASS SLIDEOUT_SHADE
  __ACLASS ACTION_SHADE
  __IS_INTERNAL __ON
  __SHOW_BY_DEFAULT __OFF
  __USE_SIZE_OF_IMAGE __ON
__END

__BUTTON __BGN
  __NAME SL_STICK
  __ICLASS SLIDEOUT_STICK
  __ACLASS ACTION_STICK
  __IS_INTERNAL __ON
  __SHOW_BY_DEFAULT __OFF
  __USE_SIZE_OF_IMAGE __ON
__END

