#include <definitions>
__E_CFG_VERSION 0

/* Maintained at theming.effishiency.com
   $Id$ */

NORMAL_MENU_STYLE_VERTICAL("DEFAULT", "MENU", "MENU", "MB2", "M2", "M3", 40)
NORMAL_MENU_STYLE_VERTICAL("DESK_MENU", "MENU_BORDER_ONLY", "MENU_DARK", "MB1", "M2", "M3", 40)
NORMAL_MENU_STYLE_VERTICAL("EMPTY", "MENU_BORDER_ONLY", "MENU_DARK", "MB1", "M2", "M3", 40)
NORMAL_MENU_STYLE_VERTICAL("GROUP_MENU", "MENU_BORDER_ONLY", "MENU", "MB1", "M2", "M3", 40)
NORMAL_MENU_STYLE_VERTICAL("ROOT", "MENU", "MENU", "MB2", "M2", "M3", 40)
NORMAL_MENU_STYLE_VERTICAL("ROOT_IMAGE", "MENU", "MENU", "MB2", "M2", "M3", 15)

