#include <definitions>
__E_CFG_VERSION 0

/* Maintained at theming.effishiency.com
   $Id$ */

#include <borders/frame.cfg>
#include <borders/frame2.cfg>
#include <borders/borderless.cfg>
#include <borders/default.cfg>
#include <borders/pager_right.cfg>
#include <borders/shaped.cfg>
#include <borders/side.cfg>
#include <borders/transient.cfg>

