#include <definitions>
__E_CFG_VERSION 1

USE_BORDER_FOR_CLIENT_WITH_TITLE("DOX*","BORDERLESS")
USE_BORDER_FOR_CLIENT_WITH_TITLE("*MpegTV*","FRAME")
USE_BORDER_FOR_CLIENT_WITH_TITLE("*Control*","FRAME")
USE_BORDER_FOR_CLIENT_WITH_TITLE("Blender*","BORDERLESS")
USE_BORDER_FOR_CLIENT_WITH_TITLE("The GIMP","THEGIMP")
USE_BORDER_FOR_CLIENT_WITH_TITLE("xeyes","FRAME")
USE_BORDER_FOR_CLIENT_WITH_TITLE("xman","FRAME")
USE_BORDER_FOR_CLIENT_WITH_TITLE("xmag","FRAME")
USE_BORDER_FOR_CLIENT_WITH_TITLE("xclock","FRAME")
USE_BORDER_FOR_CLIENT_WITH_TITLE("xcalc","FRAME")
USE_BORDER_FOR_CLIENT_WITH_TITLE("xfontsel","FRAME")

