#include <definitions>
__E_CFG_VERSION 1

BEGIN_BACKGROUND("STARTUP_BACKGROUND")
  SET_SOLID("0 0 0")
  ADD_BACKGROUND_SCALED("artwork/bg.jpg")
  ADD_OVERLAY_IMAGE_TOP_LEFT("artwork/stat1a.png")
END_BACKGROUND

__ICLASS  __BGN
  __NAME STARTUP_BAR
  __NORMAL "artwork/dragbar_normal.png"
  __EDGE_SCALING 115 3 3 3
__END

__ICLASS  __BGN
  __NAME PROGRESS_BAR
/* normal used for text background */ 
  __NORMAL "artwork/stat_1.png"
  __EDGE_SCALING 7 6 0 0
/* used for numeric bg */
  __CLICKED "artwork/stat_2.png"
  __EDGE_SCALING 7 6 0 0
/* used for bar itself */ 
  __NORMAL_ACTIVE "artwork/stat_1.png"
  __EDGE_SCALING 7 6 0 0
  __PADDING 1 1 1 1
__END

__TCLASS  __BGN
  __NAME "PROGRESS_TEXT"
  __NORMAL "*font-init"
  __DRAWING_EFFECT  __EFFECT_OUTLINE
  __FORGROUND_COLOR 255 255 255
  __BACKGROUND_COLOR 0 0 0
  __JUSTIFICATION 200
__END

__TCLASS  __BGN
  __NAME "PROGRESS_TEXT_NUMBER"
  __NORMAL "*font-init"
  __DRAWING_EFFECT  __EFFECT_OUTLINE
  __FORGROUND_COLOR 255 180 0
  __BACKGROUND_COLOR 120 50 0
  __JUSTIFICATION 700
__END

