#include <definitions>
__E_CFG_VERSION 0

/* Maintained at themes.effx.us
   $Id$ */

/*
__BUTTON __BGN
  __NAME EXEC_TERMINAL_BUTTON
  __ICLASS EXEC_TERMINAL_BUTTON
  __ACLASS ACTION_EXEC_TERMINAL
  __KEEP_ON_TOP __ON
  __Y_ORIGIN 1023
  __Y_PERCENTAGE 1023
  __X_ABSOLUTE 0 
  __USE_SIZE_OF_IMAGE __ON
  __MAKE_STICKY __ON
__END

__BUTTON __BGN
  __NAME EXEC_WEB_BUTTON
  __ICLASS EXEC_WEB_BUTTON
  __ACLASS ACTION_EXEC_WEB
  __KEEP_ON_TOP __ON
  __Y_ORIGIN 1023
  __Y_PERCENTAGE 1023
  __X_ABSOLUTE 75 
  __USE_SIZE_OF_IMAGE __ON
  __MAKE_STICKY __ON
__END

__BUTTON __BGN
  __NAME EXEC_MUSIC_BUTTON
  __ICLASS EXEC_MUSIC_BUTTON
  __ACLASS ACTION_EXEC_MUSIC
  __KEEP_ON_TOP __ON
  __Y_ORIGIN 1023
  __Y_PERCENTAGE 1023
  __X_ABSOLUTE 150 
  __USE_SIZE_OF_IMAGE __ON
  __MAKE_STICKY __ON
__END
*/
