#include <definitions>
__E_CFG_VERSION 1

BEGIN_FONTS
  font-coords "-adobe-helvetica-medium-r-normal-*-*-100-*-*-*-*-*-*"
  font-default "-adobe-helvetica-medium-r-normal-*-*-100-*-*-*-*-*-*"
  font-dialog "-*-lucida-medium-r-normal-*-*-100-*-*-p-*-iso8859-1"
  font-dialog-hilite "-*-lucida-bold-r-normal-*-*-100-*-*-p-*-iso8859-1"
  font-focus "-adobe-helvetica-medium-r-normal-*-*-100-*-*-*-*-*-*"
  font-init "-*-helvetica-medium-r-*-*-10-*-*-*-*-*-*-*"
  font-menu "-adobe-helvetica-medium-r-normal-*-*-100-*-*-*-*-*-*"
  font-tooltip "-adobe-helvetica-medium-r-normal-*-*-100-*-*-*-*-*-*"
END_FONTS

