#include <definitions>
__E_CFG_VERSION 1

#include <borders/frame.cfg>
#include <borders/borderless.cfg>
#include <borders/bottom.cfg>
#include <borders/default.cfg>
#include <borders/fixed_size.cfg>
#include <borders/iconbox.cfg>
#include <borders/menu.cfg>
#include <borders/pager.cfg>
#include <borders/pager_right.cfg>
#include <borders/pager_top.cfg>
#include <borders/pager_bottom.cfg>
#include <borders/tab.cfg>
#include <borders/transient.cfg>

