#include <definitions>
__E_CFG_VERSION 1

__FONTS __BGN
  font-coords "verdana/8"
  font-default "verdana/8"
  font-dialog "verdana/8"
  font-dialog-hilite "verdana/8"
  font-epplet "verdana/8"
  font-epplet-large "verdana/12"
  font-epplet-medium "verdana/10"
  font-epplet-small "verdana/8"
  font-focus "verdana/8"
  font-init "verdana/9"
  font-menu "verdana/8"
  font-tooltip "verdana/8"
__END

