#include <definitions>
__E_CFG_VERSION 1

BEGIN_FONTS
  font-coords "arimo/8"
  font-default "arimo/8"
  font-dialog "arimo/8"
  font-dialog-hilite "arimo/8"
  font-epplet "arimo/8"
  font-epplet-large "arimo/12"
  font-epplet-medium "arimo/10"
  font-epplet-small "arimo/8"
  font-focus "arimo/8"
  font-init "arimo/9"
  font-menu "arimo/8"
  font-tooltip "arimo/8"
END_FONTS

