#include <definitions>
__E_CFG_VERSION 1

NORMAL_MENU_STYLE_VERTICAL("DEFAULT", "FRAME_MICRO_FIXED", "MENU_TEXT", "MENU_BG", "MENU_SEL", "MENU_SUB", 40)
NORMAL_MENU_STYLE_VERTICAL("EMPTY", "FRAME_MICRO_FIXED", "MENU_TEXT", "MENU_BG", "MENU_SEL", "MENU_SUB", 40)
NORMAL_MENU_STYLE_VERTICAL("ROOT", "TRANSIENT", "MENU_TEXT", "MENU_BG", "MENU_SEL", "MENU_SUB", 40)

