#include <definitions>
__E_CFG_VERSION 1

BEGIN_FONTS
  font-coords "-*-helvetica-medium-r-*-*-10-*-*-*-*-*-*-*"
  font-default "-*-helvetica-medium-r-*-*-10-*-*-*-*-*-*-*"
  font-dialog "-*-helvetica-medium-r-*-*-10-*-*-*-*-*-*-*"
  font-dialog-hilite "-*-helvetica-medium-r-*-*-10-*-*-*-*-*-*-*"
  font-focus "-*-helvetica-medium-r-*-*-10-*-*-*-*-*-*-*"
  font-init "-*-helvetica-medium-r-*-*-10-*-*-*-*-*-*-*"
  font-menu "-*-helvetica-medium-r-*-*-12-*-*-*-*-*-*-*"
END_FONTS

