#include <definitions>
__E_CFG_VERSION 1

BEGIN_FONTS
  font-coords "-*-lucida-medium-r-normal-*-*-100-*-*-p-*-iso8859-1"
  font-default "-*-lucida-medium-r-*-*-12-*-*-*-*-*-*-*"
  font-dialog "-*-lucida-medium-r-*-*-10-*-*-*-*-*-*-*"
  font-dialog-hilite "-*-lucida-bold-r-*-*-10-*-*-*-*-*-*-*"
  font-epplet "-misc-fixed-*-r-normal-*-10-*-*-*-*-*-*-*"
  font-epplet-large "-misc-fixed-*-r-normal-*-13-*-*-*-*-*-*-*"
  font-epplet-medium "-misc-fixed-*-r-normal-*-10-*-*-*-*-*-*-*"
  font-epplet-small "-misc-fixed-*-r-normal-*-9-*-*-*-*-*-*-*"
  font-focus "-*-lucida-bold-r-*-*-10-*-*-*-*-*-*-*"
  font-init "verdana/9"
  font-menu "-*-lucida-medium-r-*-*-10-*-*-*-*-*-*-*"
  font-tooltip "-*-lucida-medium-r-*-*-10-*-*-*-*-*-*-*"
END_FONTS

