#include <definitions>
__E_CFG_VERSION 1

BEGIN_SOUND
  "SOUND_DESKTOP_SHUT"        "audio/Desktop_shut.wav"
  "SOUND_WINDOW_CLOSE"        "audio/Window_close.wav"
  "SOUND_WINDOW_STICK"        "audio/Window_stick.wav"
  "SOUND_WINDOW_UNSTICK"      "audio/Window_unstick.wav"
  "SOUND_WINDOW_SLIDE"        "audio/Window_slide.wav"
  "SOUND_MENU_SHOW"           "audio/Menu.wav"
  "SOUND_UNSHADE"             "audio/Unshade.wav"
  "SOUND_SHADE"               "audio/Shade.wav"
  "SOUND_WINDOW_BORDER_CHANGE"  "audio/Border_change.wav"
  "SOUND_NEW_ICONBOX"  "audio/Iconbox.wav"
  "SOUND_MOVE_AREA_LEFT"  "audio/Move_area.wav"
  "SOUND_MOVE_AREA_RIGHT"  "audio/Move_area.wav"
  "SOUND_MOVE_AREA_UP"  "audio/Move_area.wav"
  "SOUND_MOVE_AREA_DOWN"  "audio/Move_area.wav"
  "SOUND_MOVE_RESIST"  "audio/Move_area.wav"
  
/* The sound below works, and is cool, but I find it annoying after a while. */
/*  "SOUND_FOCUS_SET"  "audio/focus.wav" */

  "SOUND_ICONIFY" "audio/Iconify.wav"
  "SOUND_DEICONIFY" "audio/Deiconify.wav"
END_SOUND
