#include <definitions>
__E_CFG_VERSION 1

CURSOR(DEFAULT, 200 200 200, 50 30 25, "artwork/cursors/cursor.xbm")
CURSOR(MOVE, 200 200 200, 50 30 25, "artwork/cursors/move.xbm")
CURSOR(RESIZE_H, 0 0 255, 50 30 25, "artwork/cursors/resize_h.xbm")
CURSOR(RESIZE_V, 0 0 255, 50 30 25, "artwork/cursors/resize_v.xbm")
CURSOR(RESIZE_BR, 0 0 255, 50 30 25, "artwork/cursors/resize_br.xbm")
CURSOR(RESIZE_TR, 0 0 255, 50 30 25, "artwork/cursors/resize_tr.xbm")
CURSOR(KILL, 255 0 0, 0 0 0, "artwork/cursors/kill.xbm")
CURSOR(ICONIFY, 0 0 255, 50 30 25, "artwork/cursors/iconify.xbm")
CURSOR(SHADE, 240 240 196, 0 0 0, "artwork/cursors/shade.xbm")
CURSOR(STICK, 240 240 225, 0 0 0, "artwork/cursors/glue.xbm")
CURSOR(SLIDE, 180 180 180, 96 96 96, "artwork/cursors/slide.xbm")
