#include <definitions>
__E_CFG_VERSION 1

USE_BORDER_FOR_CLIENT_WITH_CLASS("Gimp", "LEFT")
USE_BORDER_FOR_CLIENT_WITH_TITLE("*Eterm*", "LEFT")
USE_BORDER_FOR_CLIENT_WITH_TITLE("*xterm*", "LEFT")
USE_BORDER_FOR_CLIENT_WITH_TITLE("*rxvt*", "LEFT")

