/* Maintained at themes.effx.us
   $Id$ */

__ICLASS __BGN
  __NAME MENU_BG
  __NORMAL "artwork/dialogs/bg.png"
  __EDGE_SCALING 1 1 1 1
  __PADDING 1 1 1 1
__END

__ICLASS __BGN
  __NAME MENU_SEL
#ifdef GREEN
  __NORMAL "artwork/menustyles/mb1_green.png"
#endif
#ifdef BLUE
  __NORMAL "artwork/menustyles/mb1_blue.png"
#endif
  __EDGE_SCALING 6 22 1 1
#ifdef GREEN
  __HILITED "artwork/menustyles/mb1_green.png"
#endif
#ifdef BLUE
  __HILITED "artwork/menustyles/mb1_blue.png"
#endif
  __EDGE_SCALING 6 22 1 1
#ifdef GREEN
  __CLICKED "artwork/menustyles/mb1_green.png"
#endif
#ifdef BLUE
  __CLICKED "artwork/menustyles/mb1_blue.png"
#endif
  __EDGE_SCALING 6 22 1 1
  __PADDING 6 22 1 1
__END

__ICLASS __BGN
  __NAME MENU_SUB
#ifdef GREEN
  __NORMAL "artwork/menustyles/mb3_green.png"
#endif
#ifdef BLUE
  __NORMAL "artwork/menustyles/mb3_blue.png"
#endif
  __EDGE_SCALING 6 22 1 1
#ifdef GREEN
  __HILITED "artwork/menustyles/mb2_green.png"
#endif
#ifdef BLUE
  __HILITED "artwork/menustyles/mb2_blue.png"
#endif
  __EDGE_SCALING 6 22 1 1
#ifdef GREEN
  __CLICKED "artwork/menustyles/mb2_green.png"
#endif
#ifdef BLUE
  __CLICKED "artwork/menustyles/mb2_blue.png"
#endif
  __EDGE_SCALING 6 22 1 1
  __PADDING 6 22 1 1
__END

