__ICLASS __BGN
  __NAME TT_MAIN
  __NORMAL "artwork/tooltips/tooltipbg.png"
  __EDGE_SCALING 3 3 3 3
  __PADDING 6 6 6 6
__END

__ICLASS __BGN
  __NAME TT_LOGO
  __NORMAL "artwork/tooltips/clear.png"
__END

__ICLASS __BGN
  __NAME TT_BLANK
  __NORMAL "artwork/common/blank.png"
__END
 
__ICLASS __BGN
  __NAME TT_MINI
#ifdef GREEN
  __NORMAL "artwork/common/bar_green.png"
#endif
#ifdef BLUE
  __NORMAL "artwork/common/bar_blue.png"
#endif
  __EDGE_SCALING 1 1 1 1
  __PADDING 1 1 1 1
__END

