#include <definitions>
__E_CFG_VERSION 1

/*
__BUTTON __BGN   
  __NAME BUTTON_EDITOR
  __ICLASS BUTTON_EDITOR
  __ACLASS ACTION_EXEC_EDITOR
  __KEEP_ON_TOP __OFF
  __X_ORIGIN 1023
  __X_PERCENTAGE 1023
  __Y_ORIGIN 1
  __Y_PERCENTAGE 1
  __Y_ABSOLUTE 2 
  __X_ABSOLUTE -225 
  __USE_SIZE_OF_IMAGE __ON
  __MAKE_STICKY __ON
__END

__BUTTON __BGN   
  __NAME BUTTON_TERMINAL
  __ICLASS BUTTON_TERMINAL
  __ACLASS ACTION_EXEC_TERMINAL
  __KEEP_ON_TOP __OFF
  __X_ORIGIN 1023
  __X_PERCENTAGE 1023
  __Y_ORIGIN 1
  __Y_PERCENTAGE 1
  __Y_ABSOLUTE 2  
  __X_ABSOLUTE -125 
  __USE_SIZE_OF_IMAGE __ON
  __MAKE_STICKY __ON
__END

__BUTTON __BGN   
  __NAME BUTTON_BROWSER
  __ICLASS BUTTON_BROWSER
  __ACLASS ACTION_EXEC_BROWSER
  __KEEP_ON_TOP __OFF
  __X_ORIGIN 1023
  __X_PERCENTAGE 1023
  __Y_ORIGIN 1
  __Y_PERCENTAGE 1
  __Y_ABSOLUTE 2 
  __X_ABSOLUTE -25 
  __USE_SIZE_OF_IMAGE __ON
  __MAKE_STICKY __ON
__END
*/
