#include <definitions>
__E_CFG_VERSION 1

__CURSOR __BGN
  __NAME DEFAULT
  __FG_COLOR 0 0 0
  __BG_COLOR 255 215 0
  __XBM_FILE "artwork/cursors/left_ptr.xbm"
__END

__CURSOR __BGN
  __NAME RESIZE_H
  __BG_COLOR 0 0 0
  __FG_COLOR 255 215 0
  __XBM_FILE "artwork/cursors/resize_h.xbm"
__END

__CURSOR __BGN
  __NAME RESIZE_V
  __BG_COLOR 0 0 0
  __FG_COLOR 255 215 0
  __XBM_FILE "artwork/cursors/resize_v.xbm"
__END

__CURSOR __BGN
  __NAME RESIZE_BR
  __BG_COLOR 0 0 0
  __FG_COLOR 255 215 0
  __XBM_FILE "artwork/cursors/resize_br.xbm"
__END

__CURSOR __BGN
  __NAME RESIZE_TR
  __BG_COLOR 0 0 0
  __FG_COLOR 255 215 0
  __XBM_FILE "artwork/cursors/resize_tr.xbm"
__END

