#include <definitions>
__E_CFG_VERSION 1

#include <imageclasses/borders.cfg>
#include <imageclasses/coords.cfg>
#include <imageclasses/dialogs.cfg>
#include <imageclasses/dock.cfg>
#include <imageclasses/dragbar.cfg>
#include <imageclasses/focuslist.cfg>
#include <imageclasses/iconbox.cfg>
#include <imageclasses/menustyles.cfg>
#include <imageclasses/pager.cfg>
#include <imageclasses/tooltips.cfg>

