#include <definitions>
__E_CFG_VERSION 1

NORMAL_MENU_STYLE_VERTICAL("DEFAULT", "FIXEDSIZE", "MENU_TEXT", "MENU_SEL", "MENU_SEL", "MENU_SUB", 40)
NORMAL_MENU_STYLE_VERTICAL("EMPTY", "FIXEDSIZE", "MENU_TEXT", "MENU_SEL", "MENU_SEL", "MENU_SUB", 40)
NORMAL_MENU_STYLE_VERTICAL("ROOT", "FIXEDSIZE", "MENU_TEXT", "MENU_SEL", "MENU_SEL", "MENU_SUB", 40)

