#include <definitions>
__E_CFG_VERSION 1

TOOLTIP("DEFAULT", "TT_MAIN", "TT_CLOUD", "TT_CLOUD", "TT_CLOUD", "TT_CLOUD", "TT_TEXT", 64)
TOOLTIP("ICONBOX", "TT_MINI", "BLANK", "BLANK", "BLANK", "BLANK", "TT_TEXT", 16)
TOOLTIP("PAGER", "TT_MINI", "BLANK", "BLANK", "BLANK", "BLANK", "TT_TEXT", 16)

