#include <definitions>
__E_CFG_VERSION 1

BEGIN_FONTS
  font-coords "bei/8"
  font-default "bei/10"
  font-dialog "bei/10"
  font-dialog-hilite "bei/11"
  font-focus "bei/10"
  font-init "bei/9"
  font-menu "bei/10"
END_FONTS

