#include <definitions>
__E_CFG_VERSION 1

/* Maintained at themes.effx.us
   $Id$ */

USE_BORDER_FOR_CLIENT_WITH_TITLE("The GIMP", "SIDE_SCALE")
USE_BORDER_FOR_CLIENT_WITH_TITLE("Log Window", "SIDE_SCALE")
USE_BORDER_FOR_CLIENT_WITH_TITLE("Gnome Debug", "SIDE")
USE_BORDER_FOR_CLIENT_WITH_TITLE("Open File...", "FULL_WIN")
USE_BORDER_FOR_CLIENT_WITH_TITLE("Load Image", "FULL_WIN")
USE_BORDER_FOR_CLIENT_WITH_TITLE("Save As...", "FULL_WIN")
USE_BORDER_FOR_CLIENT_WITH_TITLE("Save Image", "FULL_WIN")
USE_BORDER_FOR_CLIENT_WITH_TITLE("Open", "FULL_WIN")
USE_BORDER_FOR_CLIENT_WITH_TITLE("Save", "FULL_WIN")
USE_BORDER_FOR_CLIENT_WITH_TITLE("*etscape*", "FULL_WIN")
USE_BORDER_FOR_CLIENT_WITH_TITLE("Electric Eyes", "FULL_WIN")
USE_BORDER_FOR_CLIENT_WITH_TITLE("*GIMP Startup*", "TRANSIENT_NOBORDERS_NOBUTTONS")
USE_BORDER_FOR_CLIENT_WITH_TITLE("GIMP Tip of the day", "TRANSIENT_NOSCALE")
USE_BORDER_FOR_CLIENT_WITH_TITLE("Prefrences", "TRANSIENT_NOSCALE")
USE_BORDER_FOR_CLIENT_WITH_TITLE("Screen Shot", "TRANSIENT_NOSCALE")
USE_BORDER_FOR_CLIENT_WITH_TITLE("Script-Fu Server Options", "TRANSIENT_NOSCALE")
USE_BORDER_FOR_CLIENT_WITH_TITLE("*gEdit*", "FULL_WIN")
USE_BORDER_FOR_TRANSIENT_CLIENT("TRANSIENT")
USE_BORDER_FOR_UNRESIZABLE_CLIENT("FIXED_SIZE")
USE_BORDER_FOR_SHAPED_CLIENT("TOOL_TOP_BORDER")
USE_BORDER_FOR_CLIENT_WITH_TITLE("0", "SIDE_SCALE")
USE_BORDER_FOR_CLIENT_WITH_TITLE("1", "SIDE_SCALE")
USE_BORDER_FOR_CLIENT_WITH_TITLE("2", "SIDE_SCALE")
USE_BORDER_FOR_CLIENT_WITH_TITLE("3", "SIDE_SCALE")

