#include <definitions>
__E_CFG_VERSION 1

BEGIN_FONTS
  font-border "virtue/8"
  font-coords "virtue/8"
  font-default "virtue/9"
  font-dialog "virtue/9"
  font-dialog-hilite "virtue/9"
  font-epplet "-*-lucida-medium-r-normal-*-*-80-*-*-p-*-iso8859-1"
  font-epplet-large "-*-lucida-bold-r-normal-*-*-120-*-*-p-*-iso8859-1"
  font-epplet-medium "virtue/9"
  font-epplet-small "-*-lucida-medium-r-normal-*-*-80-*-*-p-*-iso8859-1"
  font-init "virtue/9"
  font-menu "virtue/9"
END_FONTS

