#include <definitions>
__E_CFG_VERSION 1

BEGIN_BACKGROUND(STARTUP_BACKGROUND)
  SET_SOLID("200 200 200")
  ADD_BACKGROUND_TILED("artwork/init/white_mist.png")
  ADD_OVERLAY_IMAGE_CENTERED("artwork/init/ap_splash.png")
END_BACKGROUND

BEGIN_IMAGE(STARTUP_BAR)
  IMAGE_NORMAL("artwork/trans.png", __STRETCH, 0, 0, 0, 0)
END_IMAGE

BEGIN_IMAGE(PROGRESS_BAR)
  IMAGE_NORMAL("artwork/init/trough.png", __STRETCH, 4, 4, 4, 4)
  IMAGE_CLICKED("artwork/init/trough.png", __STRETCH, 4, 4, 4, 4)
  IMAGE_NORMAL_ACTIVE("artwork/init/slider.png", __STRETCH, 4, 5, 2, 2)
  IMAGE_PADDING(3, 3, 1, 1)
END_IMAGE

BEGIN_TEXT(PROGRESS_TEXT)
  TEXT_NORMAL("*font-init", __EFFECT_NONE, 0 0 0, 0 0 0)
  TEXT_JUSTIFY_CENTER
END_TEXT

BEGIN_TEXT(PROGRESS_TEXT_NUMBER)
  TEXT_NORMAL("*font-init", __EFFECT_NONE, 0 0 0, 0 0 0)
  TEXT_JUSTIFY_CENTER
END_TEXT

