#include <definitions>
__E_CFG_VERSION 0

/* Maintained at theming.effishiency.com
   $Id$ */

BEGIN_BACKGROUND(STARTUP_BACKGROUND)
  SET_SOLID(0 0 0)
  ADD_OVERLAY_IMAGE_CENTERED("artwork/init/title.png")
END_BACKGROUND

__ICLASS __BGN
  __NAME STARTUP_BAR
  __NORMAL "artwork/common/blank.png"
__END

__ICLASS __BGN
  __NAME PROGRESS_BAR
  __NORMAL  "artwork/init/indent.png"
  __EDGE_SCALING 2 2 2 2
  __CLICKED "artwork/init/indent.png"
  __EDGE_SCALING 2 2 2 2
  __NORMAL_ACTIVE "artwork/init/indent.png"
  __EDGE_SCALING 2 15 2 2
__END

__TCLASS __BGN
  __NAME PROGRESS_TEXT
  __NORMAL "augie/12"
  __DRAWING_EFFECT __EFFECT_SHADOW
  __FORGROUND_COLOR 0 0 0
  __BACKGROUND_COLOR 255 255 255
  __JUSTIFICATION 512
__END

__TCLASS __BGN
  __NAME PROGRESS_TEXT_NUMBER
  __NORMAL "augie/12"
  __DRAWING_EFFECT __EFFECT_SHADOW
  __FORGROUND_COLOR 0 0 0
  __BACKGROUND_COLOR 255 255 255
  __JUSTIFICATION 512
__END

