#include <definitions>
__E_CFG_VERSION 1

BEGIN_BACKGROUND(STARTUP_BACKGROUND)
  SET_SOLID("30 30 90")
  ADD_BACKGROUND_TILED("artwork/backgrounds/bg.png 1 1 512 512 0 0")
END_BACKGROUND

BEGIN_IMAGE(STARTUP_BAR)
  IMAGE_NORMAL("artwork/common/bar_normal.png", __STRETCH, 4, 4, 4, 4)
END_IMAGE

BEGIN_IMAGE(PROGRESS_BAR)
  IMAGE_NORMAL("artwork/common/bar_normal.png", __STRETCH, 2, 2, 2, 2)
  IMAGE_CLICKED("artwork/common/bar_normal.png", __STRETCH, 2, 2, 2, 2)
  IMAGE_NORMAL_ACTIVE("artwork/common/scrollbar.png", __STRETCH, 6, 22, 1, 1)
  IMAGE_PADDING(6, 22, 1, 1)
END_IMAGE

BEGIN_TEXT(PROGRESS_TEXT)
  TEXT_NORMAL("*font-init", __EFFECT_SHADOW, 255 255 255, 0 0 0)
  TEXT_JUSTIFY_LEFT
END_TEXT

BEGIN_TEXT(PROGRESS_TEXT_NUMBER)
  TEXT_NORMAL("*font-init", __EFFECT_SHADOW, 255 255 255, 0 0 0)
  TEXT_JUSTIFY_CENTER
END_TEXT

