#include <definitions>
__E_CFG_VERSION 1

TOOLTIP("DEFAULT", "TT_MAIN", "TT_CLOUD1", "TT_CLOUD2", "TT_CLOUD3", "TT_CLOUD4", "TEXT2", 64)
TOOLTIP("ICONBOX", "COORDS", "TT_BLANK", "TT_BLANK", "TT_BLANK", "TT_BLANK", "TEXT2", 16)
TOOLTIP("PAGER", "COORDS", "TT_BLANK", "TT_BLANK", "TT_BLANK", "TT_BLANK", "TEXT2", 16)
