#include <definitions>
__E_CFG_VERSION 1

BEGIN_FONTS
  font-coords "-*-lucida-bold-r-normal-*-*-100-*-*-p-*-*"
  font-default "-*-lucida-bold-r-normal-*-*-100-*-*-p-*-*"
  font-dialog "-*-lucida-medium-r-normal-*-*-100-*-*-p-*-*"
  font-dialog-hilite "-*-lucida-bold-r-normal-*-*-100-*-*-p-*-*"
  font-epplet "-*-lucida-medium-r-normal-*-*-80-*-*-p-*-*"
  font-epplet-large "-*-lucida-bold-r-normal-*-*-120-*-*-p-*-*"
  font-epplet-medium "-*-lucida-bold-r-normal-*-*-100-*-*-p-*-*"
  font-epplet-small "-*-lucida-medium-r-normal-*-*-80-*-*-p-*-*"
  font-focus "-*-lucida-bold-r-normal-*-*-100-*-*-p-*-*"
  font-init "-*-lucida-bold-r-normal-*-*-100-*-*-p-*-*"
  font-menu "-*-lucida-medium-r-normal-*-*-100-*-*-p-*-*"
  font-tooltip "-*-lucida-bold-r-normal-*-*-100-*-*-p-*-*"
END_FONTS

