#include <definitions>
__E_CFG_VERSION 1

#include <borders/borderless.cfg>
#include <borders/concept2.cfg>
#include <borders/concept.cfg>
#include <borders/default2.cfg>
#include <borders/default.cfg>
#include <borders/fixed_frame.cfg>
#include <borders/fixed_size.cfg>
#include <borders/gimp.cfg>
#include <borders/iconbox.cfg>
#include <borders/left_side2.cfg>
#include <borders/left_side.cfg>
#include <borders/menu_frame.cfg>
#include <borders/menu.cfg>
#include <borders/minimal.cfg>
#include <borders/pager_bottom.cfg>
#include <borders/pager_top.cfg>
#include <borders/shaped.cfg>
#include <borders/standard.cfg>
#include <borders/style2.cfg>
#include <borders/style3.cfg>
#include <borders/style.cfg>
#include <borders/top.cfg>
#include <borders/transient.cfg>

