#include <definitions>
__E_CFG_VERSION 0

/* Maintained at theming.effishiency.com
   $Id$ */

__TCLASS __BGN
  __NAME TEXT1
  __NORMAL "tahoma/8"
  __JUSTIFICATION 0
  __DRAWING_EFFECT __NONE
  __FORGROUND_COLOR 0 72 126
  __BACKGROUND_COLOR 0 0 0
  __NORMAL_ACTIVE "tahoma/8"
  __JUSTIFICATION 0 
  __DRAWING_EFFECT __NONE
  __FORGROUND_COLOR 0 183 255
  __BACKGROUND_COLOR 0 0 0
  __NORMAL_STICKY "tahoma/8"
  __JUSTIFICATION 0
  __DRAWING_EFFECT __NONE
  __FORGROUND_COLOR 0 72 126
  __BACKGROUND_COLOR 0 0 0
  __NORMAL_ACTIVE_STICKY "tahoma/8"
  __JUSTIFICATION 0 
  __DRAWING_EFFECT __NONE
  __FORGROUND_COLOR 40 183 255
  __BACKGROUND_COLOR 0 0 0
__END

__TCLASS __BGN
  __NAME TEXT_CENTER
  __NORMAL "tahoma/8"
  __JUSTIFICATION 512
  __DRAWING_EFFECT __NONE
  __FORGROUND_COLOR 0 72 126
  __BACKGROUND_COLOR 0 0 0
  __NORMAL_ACTIVE "tahoma/8"
  __JUSTIFICATION 512
  __DRAWING_EFFECT __NONE
  __FORGROUND_COLOR 0 183 255
  __BACKGROUND_COLOR 0 0 0
  __NORMAL_STICKY "tahoma/8"
  __JUSTIFICATION 512
  __DRAWING_EFFECT __NONE
  __FORGROUND_COLOR 0 72 126
  __BACKGROUND_COLOR 0 0 0
  __NORMAL_ACTIVE_STICKY "tahoma/8"
  __JUSTIFICATION 512
  __DRAWING_EFFECT __NONE
  __FORGROUND_COLOR 40 183 255
  __BACKGROUND_COLOR 0 0 0
__END

__TCLASS __BGN
  __NAME TEXT_CMENU
  __NORMAL "tahoma/8"
  __JUSTIFICATION 512
  __DRAWING_EFFECT __NONE
  __FORGROUND_COLOR 0 183 255
  __BACKGROUND_COLOR 0 0 0
  __NORMAL_ACTIVE "tahoma/8"
  __JUSTIFICATION 512
  __DRAWING_EFFECT __NONE
  __FORGROUND_COLOR 0 183 255
  __BACKGROUND_COLOR 0 0 0
__END

__TCLASS __BGN
  __NAME TEXT_LEFT
  __NORMAL "tahoma/8"
  __JUSTIFICATION 512
  __DRAWING_EFFECT __NONE
  __FORGROUND_COLOR 0 72 126
  __BACKGROUND_COLOR 0 0 0
  __ORIENTATION __FONT_TO_UP
  __NORMAL_ACTIVE "tahoma/8"
  __JUSTIFICATION 512
  __ORIENTATION __FONT_TO_UP
  __DRAWING_EFFECT __NONE
  __FORGROUND_COLOR 0 183 255
  __BACKGROUND_COLOR 0 0 0
  __NORMAL_STICKY "tahoma/8"
  __ORIENTATION __FONT_TO_UP
  __JUSTIFICATION 512
  __DRAWING_EFFECT __NONE
  __FORGROUND_COLOR 0 72 126
  __BACKGROUND_COLOR 0 0 0
  __NORMAL_ACTIVE_STICKY "tahoma/8"
  __ORIENTATION __FONT_TO_UP
  __JUSTIFICATION 512
  __DRAWING_EFFECT __NONE
  __FORGROUND_COLOR 40 183 255
  __BACKGROUND_COLOR 0 0 0
__END

__TCLASS __BGN
  __NAME TEXT_RIGHT
  __NORMAL "tahoma/8"
  __JUSTIFICATION 512
  __DRAWING_EFFECT __NONE
  __FORGROUND_COLOR 0 72 126
  __BACKGROUND_COLOR 0 0 0
  __ORIENTATION __FONT_TO_DOWN
  __NORMAL_ACTIVE "tahoma/8"
  __JUSTIFICATION 512
  __ORIENTATION __FONT_TO_DOWN
  __DRAWING_EFFECT __NONE
  __FORGROUND_COLOR 0 183 255
  __BACKGROUND_COLOR 0 0 0
  __NORMAL_STICKY "tahoma/8"
  __JUSTIFICATION 512
  __ORIENTATION __FONT_TO_DOWN
  __DRAWING_EFFECT __NONE
  __FORGROUND_COLOR 0 72 126
  __BACKGROUND_COLOR 0 0 0
  __NORMAL_ACTIVE_STICKY "tahoma/8"
  __JUSTIFICATION 512
  __ORIENTATION __FONT_TO_DOWN
  __DRAWING_EFFECT __NONE
  __FORGROUND_COLOR 40 183 255
  __BACKGROUND_COLOR 0 0 0
__END

__TCLASS __BGN
  __NAME PAGER_HORIZONTAL_TEXT
  __NORMAL"-*-lucida-medium-r-normal-*-*-80-*-*-p-*-iso8859-1"
  __JUSTIFICATION 512
  __DRAWING_EFFECT __NONE
  __FORGROUND_COLOR 0 183 255
  __BACKGROUND_COLOR 0 0 0
__END

__TCLASS __BGN
  __NAME PAGER_TEXT
  __NORMAL"-*-lucida-medium-r-normal-*-*-80-*-*-p-*-iso8859-1"
  __JUSTIFICATION 512
  __ORIENTATION __FONT_TO_UP
  __DRAWING_EFFECT __NONE
  __FORGROUND_COLOR 0 183 255
  __BACKGROUND_COLOR 0 0 0
__END

__TCLASS __BGN
  __NAME PAGER_RIGHT_TEXT
  __NORMAL"-*-lucida-medium-r-normal-*-*-80-*-*-p-*-iso8859-1"
  __JUSTIFICATION 512
  __ORIENTATION __FONT_TO_DOWN
  __DRAWING_EFFECT __NONE
  __FORGROUND_COLOR 0 183 255
  __BACKGROUND_COLOR 0 0 0
__END

__TCLASS __BGN
  __NAME COORDS
  __JUSTIFICATION 0
  __NORMAL "tahoma/8"
  __FORGROUND_COLOR 0 183 255
__END

__TCLASS __BGN
  __NAME WARPFOCUS
  __JUSTIFICATION 0
  __NORMAL "tahoma/8"
  __FORGROUND_COLOR 0 72 126
  __CLICKED "tahoma/8"
  __FORGROUND_COLOR 0 183 255
__END

__TCLASS __BGN
  __NAME DIALOG
  __JUSTIFICATION 512
  __NORMAL "tahoma/8"
  __DRAWING_EFFECT __EFFECT_NONE
  __FORGROUND_COLOR 0 168 255
  __BACKGROUND_COLOR 0 0 0

__END

__TCLASS __BGN
  __NAME DIALOG_WIDGET_BUTTON
  __JUSTIFICATION 512
  
  __NORMAL "tahoma/10"
  __DRAWING_EFFECT __EFFECT_NONE
  __FORGROUND_COLOR 0 168 255
  __BACKGROUND_COLOR 0 0 0
__END

__TCLASS __BGN
  __NAME DIALOG_WIDGET_CHECK_BUTTON
  __JUSTIFICATION 0
  __NORMAL "tahoma/8"
  __DRAWING_EFFECT __EFFECT_NONE
  __FORGROUND_COLOR 0 168 255
  __BACKGROUND_COLOR 0 0 0

__END

__TCLASS __BGN
  __NAME DIALOG_WIDGET_RADIO_BUTTON
  __JUSTIFICATION 0
  __NORMAL "tahoma/8"
  __DRAWING_EFFECT __EFFECT_NONE
  __FORGROUND_COLOR 0 168 255
  __BACKGROUND_COLOR 0 0 0

__END

__TCLASS __BGN
  __NAME DIALOG_WIDGET_TEXT
  __JUSTIFICATION 512
  __NORMAL "tahoma/8"
  __DRAWING_EFFECT __EFFECT_NONE
  __FORGROUND_COLOR 0 168 255
  __BACKGROUND_COLOR 0 0 0

__END

__TCLASS __BGN
  __NAME TT_MINI_TEXT
  __JUSTIFICATION 0
  __NORMAL "tahoma/8"
  __DRAWING_EFFECT __EFFECT_SHADOW
  __FORGROUND_COLOR 60 60 60
  __BACKGROUND_COLOR 220 220 220

__END

__TCLASS __BGN
  __NAME DIALOG_BUTTON
  __JUSTIFICATION 512
  __NORMAL "tahoma/10"
  __DRAWING_EFFECT __EFFECT_SHADOW
  __FORGROUND_COLOR 0 183 255
  __BACKGROUND_COLOR 40 40 40
  __HILITED "tahoma/10"
  __DRAWING_EFFECT __EFFECT_SHADOW
  __FORGROUND_COLOR 0 230 255
  __BACKGROUND_COLOR 40 40 40
  __CLICKED "tahoma/10"
  __DRAWING_EFFECT __EFFECT_SHADOW
  __FORGROUND_COLOR 40 40 40
  __BACKGROUND_COLOR 0 183 255
__END

__TCLASS __BGN
  __NAME EPPLET_LABEL
  __NORMAL "-*-lucida-medium-r-normal-*-*-120-*-*-p-*-iso8859-1"
  __DRAWING_EFFECT __EFFECT_NONE
  __FORGROUND_COLOR 0 168 255
  __BACKGROUND_COLOR 0 0 0
__END

__TCLASS __BGN
  __NAME EPPLET_BUTTON
  __NORMAL "-*-lucida-medium-r-normal-*-*-80-*-*-p-*-iso8859-1"
  __DRAWING_EFFECT __EFFECT_NONE
  __FORGROUND_COLOR 0 168 255
  __BACKGROUND_COLOR 0 0 0
__END

__TCLASS __BGN
  __NAME EPPLET_TOGGLEBUTTON_ON
  __NORMAL "-*-lucida-medium-r-normal-*-*-80-*-*-p-*-iso8859-1"
  __DRAWING_EFFECT __EFFECT_NONE
  __FORGROUND_COLOR 0 168 255
  __BACKGROUND_COLOR 0 0 0
__END

__TCLASS __BGN
  __NAME EPPLET_TOGGLEBUTTON_OFF
  __NORMAL "-*-lucida-medium-r-normal-*-*-80-*-*-p-*-iso8859-1"
  __DRAWING_EFFECT __EFFECT_NONE
  __FORGROUND_COLOR 0 168 255
  __BACKGROUND_COLOR 0 0 0
__END

__TCLASS __BGN
  __NAME EPPLET_POPUP
  __NORMAL "-*-lucida-medium-r-normal-*-*-80-*-*-p-*-iso8859-1"
  __DRAWING_EFFECT __EFFECT_NONE
  __FORGROUND_COLOR 0 168 255
  __BACKGROUND_COLOR 0 0 0
__END

__TCLASS __BGN
  __NAME EPPLET_TEXT_TINY
  __NORMAL "-*-lucida-medium-r-normal-*-*-80-*-*-p-*-iso8859-1"
  __DRAWING_EFFECT __EFFECT_NONE
  __FORGROUND_COLOR 0 168 255
  __BACKGROUND_COLOR 0 0 0
__END

__TCLASS __BGN
  __NAME EPPLET_TEXT_MEDIUM
  __NORMAL "-*-lucida-medium-r-normal-*-*-100-*-*-p-*-iso8859-1"
  __DRAWING_EFFECT __EFFECT_NONE
  __FORGROUND_COLOR 0 168 255
  __BACKGROUND_COLOR 0 0 0
__END

__TCLASS __BGN
  __NAME EPPLET_TEXT_LARGE
  __NORMAL "-*-lucida-medium-r-normal-*-*-120-*-*-p-*-iso8859-1"
  __DRAWING_EFFECT __EFFECT_NONE
  __FORGROUND_COLOR 0 168 255
  __BACKGROUND_COLOR 0 0 0
__END

__TCLASS __BGN
  __NAME MENU
  __JUSTIFICATION 0
  __NORMAL "tahoma/10"
  __DRAWING_EFFECT __NONE
  __FORGROUND_COLOR 0 72 126
  __BACKGROUND_COLOR 0 0 0
  __HILITED "tahoma/10"
  __DRAWING_EFFECT __NONE
  __FORGROUND_COLOR 0 183 255
  __BACKGROUND_COLOR 0 0 0
__END

__TCLASS __BGN
  __NAME TT_TEXT
  __JUSTIFICATION 0
  __NORMAL "tahoma/8"
  __DRAWING_EFFECT __EFFECT_NONE
  __FORGROUND_COLOR 0 183 255
  __BACKGROUND_COLOR 0 0 0
__END

