#include <definitions>
__E_CFG_VERSION 0

/* Maintained at theming.effishiency.com
   $Id$ */

BEGIN_BACKGROUND(STARTUP_BACKGROUND)
  ADD_BACKGROUND_TILED("artwork/images/morph_background.jpg")
END_BACKGROUND

__ICLASS __BGN
  __NAME STARTUP_BAR
  __NORMAL "artwork/images/dragbutton_active.png"
__END

__ICLASS __BGN
  __NAME PROGRESS_BAR
  __NORMAL  "artwork/images/button_active.png"
  __EDGE_SCALING 2 2 2 2
  __CLICKED "artwork/images/button_active.png"
  __EDGE_SCALING 2 2 2 2
  __NORMAL_ACTIVE  "artwork/images/button_active.png"
  __EDGE_SCALING 2 2 2 2
  __PADDING 2 2 2 2
__END

__TCLASS __BGN
  __NAME PROGRESS_TEXT
  __NORMAL "-*-helvetica-medium-r-*-*-10-*-*-*-*-*-*-*"
  __DRAWING_EFFECT __EFFECT_NONE
  __FORGROUND_COLOR 0 0 0
  __BACKGROUND_COLOR 0 0 0
  __JUSTIFICATION 0
__END

__TCLASS __BGN
  __NAME PROGRESS_TEXT_NUMBER
  __NORMAL "-*-helvetica-medium-r-*-*-10-*-*-*-*-*-*-*"
  __DRAWING_EFFECT __EFFECT_NONE
  __FORGROUND_COLOR 0 0 0
  __BACKGROUND_COLOR 0 0 0
  __JUSTIFICATION 512
__END

