#include <definitions>
__E_CFG_VERSION 1

BEGIN_FONTS
  font-coords "ankle/8"
  font-default "ankle/8"
  font-dialog "ankle/8"
  font-dialog-hilite "ankle/8"
  font-epplet "-*-lucida-medium-r-normal-*-*-80-*-*-p-*-iso8859-1"
  font-epplet-large "-*-lucida-medium-r-normal-*-*-120-*-*-p-*-iso8859-1"
  font-epplet-medium "-*-lucida-medium-r-normal-*-*-100-*-*-p-*-iso8859-1"
  font-epplet-small "-*-lucida-medium-r-normal-*-*-80-*-*-p-*-iso8859-1"
  font-focus "ankle/8"
  font-init "-*-helvetica-medium-r-*-*-12-*-*-*-*-*-*-*"
  font-menu "ankle/8"
  font-tooltip "ankle/8"
END_FONTS

