#include <definitions>
__E_CFG_VERSION 1

USE_BORDER_FOR_CLIENT_WITH_NAME("*Eterm*", "ETERM")
USE_BORDER_FOR_CLIENT_WITH_NAME("*etermcvs.pl*", "ETERM")
USE_BORDER_FOR_CLIENT_WITH_NAME("*terminl*", "ETERM")
USE_BORDER_FOR_CLIENT_WITH_NAME("*terminal*", "ETERM")
USE_BORDER_FOR_CLIENT_WITH_NAME("*rxvt*", "BOTTOM")
USE_BORDER_FOR_CLIENT_WITH_NAME("*xterm*", "ETERM")
USE_BORDER_FOR_CLIENT_WITH_NAME("*licq*", "ICQ")
USE_BORDER_FOR_CLIENT_WITH_NAME("*gnomeicu*", "ICQ")

