#include <definitions>
__E_CFG_VERSION 1

#include_next <actionclasses.cfg>

#if THEME_VARIANT_desktopbuttons == 1
#include <desktopbuttons/actionclasses.cfg>
#endif

BEGIN_ACLASS(ACTION_GANYMEDE_ALL_RESIZES, __TYPE_NORMAL)
  ACLASS_TOOLTIP("Resize Options")
  ACLASS_BUTTON(1, __NONE)
  ACLASS_ACTION_WITH_TOOLTIP(__A_MAX_HEIGHT, __MOUSE_PRESS, "Toggle height")
  ACLASS_NEXT_ACTION
  ACLASS_BUTTON(2, __NONE)
  ACLASS_ACTION_WITH_TOOLTIP(__A_MAX_SIZE, __MOUSE_PRESS, "Toggle size")
  ACLASS_NEXT_ACTION
  ACLASS_BUTTON(3, __NONE)
  ACLASS_ACTION_WITH_TOOLTIP(__A_MAX_WIDTH, __MOUSE_PRESS, "Toggle width")
  ACLASS_NEXT_ACTION
  ACLASS_BUTTON(1, __CTRL)
  ACLASS_ACTION_WITH_TOOLTIP(__A_MAX_HEIGHT absolute, __MOUSE_PRESS, "Force maximum height")
  ACLASS_NEXT_ACTION
  ACLASS_BUTTON(2, __CTRL)
  ACLASS_ACTION_WITH_TOOLTIP(__A_MAX_SIZE absolute, __MOUSE_PRESS, "Force maximum size")
  ACLASS_NEXT_ACTION
  ACLASS_BUTTON(3, __CTRL)
  ACLASS_ACTION_WITH_TOOLTIP(__A_MAX_WIDTH absolute, __MOUSE_PRESS, "Force maximum width")
END_ACLASS

BEGIN_ACLASS(ACTION_GANYMEDE_KILL, __TYPE_NORMAL)
  ACLASS_TOOLTIP("Closing/Killing options")
  ACLASS_BUTTON(1, __NONE)
  ACLASS_ACTION_WITH_TOOLTIP(__A_KILL, __MOUSE_RELEASE, "Close window,")
  ACLASS_ALLOW_ANY_MODIFIER_KEYS
  ACLASS_NEXT_ACTION
  ACLASS_BUTTON(2, __NONE)
  ACLASS_ACTION_WITH_TOOLTIP(__A_KILL_NASTY, __MOUSE_RELEASE, "Kill window,")
  ACLASS_ALLOW_ANY_MODIFIER_KEYS
  ACLASS_NEXT_ACTION
  ACLASS_BUTTON(3, __NONE)
  ACLASS_ACTION_WITH_TOOLTIP(__A_ICONIFY, __MOUSE_RELEASE, "Iconify window.")
  ACLASS_ALLOW_ANY_MODIFIER_KEYS
END_ACLASS

BEGIN_ACLASS(ACTION_WINDOW_SLIDEOUT_NORMAL, __TYPE_NORMAL)
  ACLASS_TOOLTIP("Click on this button to bring up a bar")
  ACLASS_TOOLTIP("of more buttons to control the Window with.")
  ACLASS_ALLOW_ANY_BUTTON
  ACLASS_ACTION(__A_SLIDEOUT normalslider, __MOUSE_RELEASE)
END_ACLASS

BEGIN_ACLASS(ACTION_WINDOW_SLIDEOUT_ROTATED, __TYPE_NORMAL)
  ACLASS_TOOLTIP("Click on this button to bring up a bar")
  ACLASS_TOOLTIP("of more buttons to control the Window with.")
  ACLASS_ALLOW_ANY_BUTTON
  ACLASS_ACTION(__A_SLIDEOUT rotatedslider, __MOUSE_RELEASE)
END_ACLASS

BEGIN_ACLASS(ACTION_WINDOW_SLIDEOUT_ROTATED_BLUE, __TYPE_NORMAL)
  ACLASS_TOOLTIP("Click on this button to bring up a bar")
  ACLASS_TOOLTIP("of more buttons to control the Window with.")
  ACLASS_ALLOW_ANY_BUTTON
  ACLASS_ACTION(__A_SLIDEOUT rotatedblueslider, __MOUSE_RELEASE)
END_ACLASS

BEGIN_ACLASS(ACTION_WINDOW_SLIDEOUT_GREEN, __TYPE_NORMAL)
  ACLASS_TOOLTIP("Click on this button to bring up a bar")
  ACLASS_TOOLTIP("of more buttons to control the Window with.")
  ACLASS_ALLOW_ANY_BUTTON
  ACLASS_ACTION(__A_SLIDEOUT greenslider, __MOUSE_RELEASE)
END_ACLASS

BEGIN_ACLASS(ACTION_WINDOW_SLIDEOUT_RED, __TYPE_NORMAL)
  ACLASS_TOOLTIP("Click on this button to bring up a bar")
  ACLASS_TOOLTIP("of more buttons to control the Window with.")
  ACLASS_ALLOW_ANY_BUTTON
  ACLASS_ACTION(__A_SLIDEOUT redslider, __MOUSE_RELEASE)
END_ACLASS

BEGIN_ACLASS(ACTION_WINDOW_SLIDEOUT_BLUE, __TYPE_NORMAL)
  ACLASS_TOOLTIP("Click on this button to bring up a bar")
  ACLASS_TOOLTIP("of more buttons to control the Window with.")
  ACLASS_ALLOW_ANY_BUTTON
  ACLASS_ACTION(__A_SLIDEOUT blueslider, __MOUSE_RELEASE)
END_ACLASS

