#include <definitions>
__E_CFG_VERSION 1

/* Maintained at themes.effx.us
   $Id$ */

BEGIN_SLIDEOUT("normalslider", __LEFT)
  ADD_BUTTON_TO_SLIDEOUT("SL_STICK")
  ADD_BUTTON_TO_SLIDEOUT("SL_LOWER")
  ADD_BUTTON_TO_SLIDEOUT("SL_RAISE")
  ADD_BUTTON_TO_SLIDEOUT("SL_ICONIFY")
END_SLIDEOUT

BEGIN_SLIDEOUT("redslider", __LEFT)
  ADD_BUTTON_TO_SLIDEOUT("SL_RED_STICK")
  ADD_BUTTON_TO_SLIDEOUT("SL_RED_LOWER")
  ADD_BUTTON_TO_SLIDEOUT("SL_RED_RAISE")
  ADD_BUTTON_TO_SLIDEOUT("SL_RED_ICONIFY")
END_SLIDEOUT

BEGIN_SLIDEOUT("greenslider", __LEFT)
  ADD_BUTTON_TO_SLIDEOUT("SL_GREEN_STICK")
  ADD_BUTTON_TO_SLIDEOUT("SL_GREEN_LOWER")
  ADD_BUTTON_TO_SLIDEOUT("SL_GREEN_RAISE")
  ADD_BUTTON_TO_SLIDEOUT("SL_GREEN_ICONIFY")
END_SLIDEOUT

BEGIN_SLIDEOUT("blueslider", __LEFT)
  ADD_BUTTON_TO_SLIDEOUT("SL_BLUE_STICK")
  ADD_BUTTON_TO_SLIDEOUT("SL_BLUE_LOWER")
  ADD_BUTTON_TO_SLIDEOUT("SL_BLUE_RAISE")
  ADD_BUTTON_TO_SLIDEOUT("SL_BLUE_ICONIFY")
END_SLIDEOUT

BEGIN_SLIDEOUT("rotatedblueslider", __TOP)
  ADD_BUTTON_TO_SLIDEOUT("SL_BLUE_ROTATED_STICK")
  ADD_BUTTON_TO_SLIDEOUT("SL_BLUE_ROTATED_LOWER")
  ADD_BUTTON_TO_SLIDEOUT("SL_BLUE_ROTATED_RAISE")
  ADD_BUTTON_TO_SLIDEOUT("SL_BLUE_ROTATED_ICONIFY")
END_SLIDEOUT

BEGIN_SLIDEOUT("rotatedslider", __TOP)
  ADD_BUTTON_TO_SLIDEOUT("SL_ROTATED_STICK")
  ADD_BUTTON_TO_SLIDEOUT("SL_ROTATED_LOWER")
  ADD_BUTTON_TO_SLIDEOUT("SL_ROTATED_RAISE")
  ADD_BUTTON_TO_SLIDEOUT("SL_ROTATED_ICONIFY")
END_SLIDEOUT

__ACLASS __BGN
  __NAME ACTION_GANYMEDE_ALL_RESIZES
  __TOOLTIP_TEXT "Resize options"
  __TYPE __TYPE_NORMAL
  __TOOLTIP_ACTION_TEXT "Toggle available height,"
  __EVENT __MOUSE_PRESS
  __BUTTON 1
  __ACTION __A_MAX_HEIGHT "available"
  __NEXT_ACTION
  __TOOLTIP_ACTION_TEXT "Toggle available size,"
  __BUTTON 2
  __ACTION __A_MAX_SIZE "available"
  __NEXT_ACTION
  __TOOLTIP_ACTION_TEXT "Toggle available width,"
  __BUTTON 3
  __ACTION __A_MAX_WIDTH "available"
  __NEXT_ACTION
  __TOOLTIP_ACTION_TEXT "Force maximum height,"
  __BUTTON 1
  __MODIFIER_KEY __CTRL
  __ACTION __A_MAX_HEIGHT
  __NEXT_ACTION
  __TOOLTIP_ACTION_TEXT "Force maximum size,"
  __BUTTON 2
  __MODIFIER_KEY __CTRL
  __ACTION __A_MAX_SIZE
  __NEXT_ACTION
  __TOOLTIP_ACTION_TEXT "Force maximum width."
  __BUTTON 3
  __MODIFIER_KEY __CTRL
  __ACTION __A_MAX_WIDTH
__END

__ACLASS __BGN
  __NAME ACTION_GANYMEDE_KILL
  __TOOLTIP_TEXT "Closing/Killing options"
  __TYPE __TYPE_NORMAL
  __TOOLTIP_ACTION_TEXT "Close window,"
  __EVENT __MOUSE_RELEASE
  __ALLOW_ANY_MODIFIER_KEYS __ON
  __BUTTON 1
  __ACTION __A_KILL
  __NEXT_ACTION
  __TOOLTIP_ACTION_TEXT "Forcibly kill window,"
  __BUTTON 2
  __ACTION __A_KILL_NASTY
  __NEXT_ACTION
  __TOOLTIP_ACTION_TEXT "Iconify window."
  __BUTTON 3
  __ACTION __A_ICONIFY
__END

__ACLASS __BGN
  __NAME ACTION_WINDOW_SLIDEOUT_NORMAL
  __TOOLTIP_TEXT "Click on this button to bring up a bar"
  __TOOLTIP_TEXT "of more buttons to control the Window with."
  __TYPE __TYPE_NORMAL
  __ALLOW_ANY_BUTTON __ON
  __EVENT __MOUSE_RELEASE
  __ACTION __A_SLIDEOUT normalslider
__END

__ACLASS __BGN
  __NAME ACTION_WINDOW_SLIDEOUT_ROTATED
  __TOOLTIP_TEXT "Click on this button to bring up a bar"
  __TOOLTIP_TEXT "of more buttons to control the Window with."
  __TYPE __TYPE_NORMAL
  __ALLOW_ANY_BUTTON __ON
  __EVENT __MOUSE_RELEASE
  __ACTION __A_SLIDEOUT rotatedslider
__END

__ACLASS __BGN
  __NAME ACTION_WINDOW_SLIDEOUT_ROTATED_BLUE
  __TOOLTIP_TEXT "Click on this button to bring up a bar"
  __TOOLTIP_TEXT "of more buttons to control the Window with."
  __TYPE __TYPE_NORMAL
  __ALLOW_ANY_BUTTON __ON
  __EVENT __MOUSE_RELEASE
  __ACTION __A_SLIDEOUT rotatedblueslider
__END

__ACLASS __BGN
  __NAME ACTION_WINDOW_SLIDEOUT_GREEN
  __TOOLTIP_TEXT "Click on this button to bring up a bar"
  __TOOLTIP_TEXT "of more buttons to control the Window with."
  __TYPE __TYPE_NORMAL
  __ALLOW_ANY_BUTTON __ON
  __EVENT __MOUSE_RELEASE
  __ACTION __A_SLIDEOUT greenslider
__END

__ACLASS __BGN
  __NAME ACTION_WINDOW_SLIDEOUT_RED
  __TOOLTIP_TEXT "Click on this button to bring up a bar"
  __TOOLTIP_TEXT "of more buttons to control the Window with."
  __TYPE __TYPE_NORMAL
  __ALLOW_ANY_BUTTON __ON
  __EVENT __MOUSE_RELEASE
  __ACTION __A_SLIDEOUT redslider
__END

__ACLASS __BGN
  __NAME ACTION_WINDOW_SLIDEOUT_BLUE
  __TOOLTIP_TEXT "Click on this button to bring up a bar"
  __TOOLTIP_TEXT "of more buttons to control the Window with."
  __TYPE __TYPE_NORMAL
  __ALLOW_ANY_BUTTON __ON
  __EVENT __MOUSE_RELEASE
  __ACTION __A_SLIDEOUT blueslider
__END

