#include <definitions>
__E_CFG_VERSION 1

BEGIN_SOUND
  "SOUND_STARTUP"          "audio/service.wav"
  "SOUND_WINDOW_CLOSE"     "audio/whoosh.wav"
  "SOUND_EXIT"             "audio/missile.wav"
  "SOUND_WINDOW_SLIDE"     "audio/conlink.wav"
/* 
  Don't have any good ones for those yet:
 
  "SOUND_BUTTON_CLICK"     "audio/drip.wav"
  "SOUND_BUTTON_RAISE"     "audio/FingerSnap.wav"
  "SOUND_DESKTOP_SHUT"     "audio/DoorClose.wav"
  "SOUND_WINDOW_STICK"     "audio/Eeeooop.wav"
  "SOUND_WINDOW_UNSTICK"   "audio/Wooeep.wav"
  "SOUND_ALERT"            "audio/beethoven.wav"
  "SOUND_WINDOW_SLIDE_END" "audio/boingiggig.wav"
*/
END_SOUND
