#include <definitions>
__E_CFG_VERSION 1

#include <options.cfg>

#if THEME_VARIANT_green == 1
#include <imageclasses/green/borders.cfg>
#include <imageclasses/green/pager.cfg>
#include <imageclasses/green/iconbox.cfg>
#else
#include <imageclasses/borders.cfg>
#include <imageclasses/pager.cfg>
#include <imageclasses/iconbox.cfg>
#endif

#include <imageclasses/coords.cfg>
#include <imageclasses/dialogs.cfg>
#include <imageclasses/dock.cfg>
#include <imageclasses/dragbar.cfg>
#include <imageclasses/epplets.cfg>
#include <imageclasses/focuslist.cfg>
#include <imageclasses/menustyles.cfg>
#include <imageclasses/tooltips.cfg>
