#include <definitions>
__E_CFG_VERSION 1

BEGIN_FONTS
  font-coords "-*-helvetica-*-r-*-*-10-*-*-*-*-*-*-*"
  font-default "-*-helvetica-*-r-*-*-10-*-*-*-*-*-*-*"
  font-dialog "-*-helvetica-*-r-*-*-10-*-*-*-*-*-*-*"
  font-dialog-hilite "-*-helvetica-*-r-*-*-10-*-*-*-*-*-*-*"
  font-epplet "-*-lucida-medium-r-normal-*-*-80-*-*-p-*-iso8859-1"
  font-epplet-large "-*-lucida-medium-r-normal-*-*-120-*-*-p-*-iso8859-1"
  font-epplet-medium "-*-lucida-medium-r-normal-*-*-100-*-*-p-*-iso8859-1"
  font-epplet-small "-*-lucida-medium-r-normal-*-*-80-*-*-p-*-iso8859-1"
  font-focus "-*-helvetica-*-r-*-*-10-*-*-*-*-*-*-*"
  font-init "-*-helvetica-medium-r-*-*-12-*-*-*-*-*-*-*"
  font-menu "-*-helvetica-*-r-*-*-10-*-*-*-*-*-*-*"
  font-tooltip "-*-helvetica-*-r-*-*-10-*-*-*-*-*-*-*"
END_FONTS

