#include <definitions>
__E_CFG_VERSION 1

BEGIN_TEXT(COORDS)
  TEXT_NORMAL("*font-coords", __EFFECT_SHADOW, 0 0 0, 230 255 200)
  TEXT_NORMAL_ACTIVE("*font-coords", __EFFECT_SHADOW, 230 255 200, 0 0 0)
  TEXT_JUSTIFY_CENTER
END_TEXT

BEGIN_TEXT(DIALOG_BUTTON)
  TEXT_NORMAL("*font-dialog-hilite", __EFFECT_SHADOW, 0 0 0, 230 255 200)
  TEXT_JUSTIFY_CENTER
END_TEXT

BEGIN_TEXT(DIALOG_WIDGET_BUTTON)
  TEXT_NORMAL("*font-dialog-hilite", __EFFECT_SHADOW, 0 0 0, 230 255 200)
  TEXT_JUSTIFY_CENTER
END_TEXT

BEGIN_TEXT(DIALOG_WIDGET_CHECK_BUTTON)
  TEXT_NORMAL("*font-dialog", __EFFECT_SHADOW, 0 0 0, 230 255 200)
  TEXT_JUSTIFY_LEFT
END_TEXT

BEGIN_TEXT(DIALOG_WIDGET_RADIO_BUTTON)
  TEXT_NORMAL("*font-dialog", __EFFECT_SHADOW, 0 0 0, 230 255 200)
  TEXT_JUSTIFY_LEFT
END_TEXT

BEGIN_TEXT(DIALOG_WIDGET_TEXT)
  TEXT_NORMAL("*font-dialog", __EFFECT_SHADOW, 0 0 0, 230 255 200)
  TEXT_JUSTIFY_CENTER
END_TEXT

BEGIN_TEXT(MENU_TEXT)
  TEXT_NORMAL("*font-menu", __EFFECT_SHADOW, 0 0 0, 230 255 200)
  TEXT_NORMAL_ACTIVE("*font-menu", __EFFECT_SHADOW, 230 255 200, 0 0 0)
  TEXT_JUSTIFY_CENTER
END_TEXT

BEGIN_TEXT(TITLE_TEXT)
  TEXT_NORMAL("*font-border", __EFFECT_SHADOW, 0 0 0, 230 255 200)
  TEXT_NORMAL_ACTIVE("*font-border", __EFFECT_SHADOW, 230 255 200, 0 0 0)
  TEXT_JUSTIFY_CENTER
END_TEXT

BEGIN_TEXT(TT_MINI_TEXT)
  TEXT_NORMAL("*font-tooltip", __EFFECT_SHADOW, 0 0 0, 230 255 200)
  TEXT_NORMAL_ACTIVE("*font-tooltip", __EFFECT_SHADOW, 230 255 200, 0 0 0)
  TEXT_JUSTIFY_CENTER
END_TEXT

BEGIN_TEXT(WARPFOCUS)
  TEXT_NORMAL("*font-focus", __EFFECT_SHADOW, 0 0 0, 230 255 200)
  TEXT_NORMAL_ACTIVE("*font-focus", __EFFECT_SHADOW, 230 255 200, 0 0 0)
  TEXT_JUSTIFY_CENTER
END_TEXT

