#include <definitions>
__E_CFG_VERSION 0

BEGIN_SLIDEOUT("termslider", "__RIGHT")
  ADD_BUTTON_TO_SLIDEOUT("SLIDEOUT_ETERM")
  ADD_BUTTON_TO_SLIDEOUT("SLIDEOUT_XTERM")
  ADD_BUTTON_TO_SLIDEOUT("SLIDEOUT_RXVT")
END_SLIDEOUT

BEGIN_SLIDEOUT("estuff", "__RIGHT")
  ADD_BUTTON_TO_SLIDEOUT("SLIDEOUT_E_EXIT")
  ADD_BUTTON_TO_SLIDEOUT("SLIDEOUT_E_RESTART")
  ADD_BUTTON_TO_SLIDEOUT("SLIDEOUT_E_CLEANUP")
  ADD_BUTTON_TO_SLIDEOUT("SLIDEOUT_E_HELP")
  ADD_BUTTON_TO_SLIDEOUT("SLIDEOUT_E_DESKRAY")
END_SLIDEOUT

BEGIN_SLIDEOUT("netapps", "__RIGHT")
  ADD_BUTTON_TO_SLIDEOUT("SLIDEOUT_NET_NETSCAPE")
  ADD_BUTTON_TO_SLIDEOUT("SLIDEOUT_NET_IRC")
  ADD_BUTTON_TO_SLIDEOUT("SLIDEOUT_NET_ICQ")
  ADD_BUTTON_TO_SLIDEOUT("SLIDEOUT_NET_MAIL")
  ADD_BUTTON_TO_SLIDEOUT("SLIDEOUT_NET_FTP")
  ADD_BUTTON_TO_SLIDEOUT("SLIDEOUT_NET_TELNET")
END_SLIDEOUT

BEGIN_SLIDEOUT("graphics_slider", "__RIGHT")
  ADD_BUTTON_TO_SLIDEOUT("SLIDEOUT_GRAPHICS_GIMP")
  ADD_BUTTON_TO_SLIDEOUT("SLIDEOUT_GRAPHICS_EE")
END_SLIDEOUT

