#include <definitions>
__E_CFG_VERSION 1

BEGIN_BACKGROUND(STARTUP_BACKGROUND)
  SET_SOLID("40 60 80")
  ADD_BACKGROUND_TILED("artwork/init/blue.png")
  ADD_OVERLAY_IMAGE_BOTTOM_MIDDLE("artwork/init/sensible_logo.png")
END_BACKGROUND

BEGIN_IMAGE(STARTUP_BAR)
  IMAGE_NORMAL("artwork/misc/bit.png", __STRETCH, 0, 0, 0, 0)
END_IMAGE

BEGIN_IMAGE(PROGRESS_BAR)
  IMAGE_NORMAL("artwork/misc/up.png", __STRETCH, 1, 1, 1, 1)
  IMAGE_CLICKED("artwork/misc/up.png", __STRETCH, 1, 1, 1, 1)
  IMAGE_NORMAL_ACTIVE("artwork/misc/up.png", __STRETCH, 1, 1, 1, 1)
  IMAGE_PADDING(10, 10, 2, 2)
END_IMAGE

BEGIN_TEXT(PROGRESS_TEXT)
  TEXT_NORMAL("*font-init", __EFFECT_NONE, 0 0 0, 0 0 0)
  TEXT_JUSTIFY_LEFT
END_TEXT

BEGIN_TEXT(PROGRESS_TEXT_NUMBER)
  TEXT_NORMAL("*font-init", __EFFECT_NONE, 0 0 0, 0 0 0)
  TEXT_JUSTIFY_CENTER
END_TEXT

