#include <definitions>
__E_CFG_VERSION 1

BEGIN_TEXT(COORDS)
  TEXT_NORMAL("*font-coords", __EFFECT_NONE, 0 0 0, 0 0 0)
  TEXT_JUSTIFY_CENTER
END_TEXT

BEGIN_TEXT(DIALOG)
  TEXT_NORMAL("*font-dialog", __EFFECT_NONE, 0 0 0, 0 0 0)
  TEXT_JUSTIFY_CENTER
END_TEXT

BEGIN_TEXT(DIALOG_BUTTON)
  TEXT_NORMAL("*font-dialog-hilite", __EFFECT_NONE, 255 255 255, 0 0 0)
  TEXT_HILITED("*font-dialog-hilite", __EFFECT_NONE, 255 255 255, 0 0 0)
  TEXT_CLICKED("*font-dialog-hilite", __EFFECT_NONE, 255 255 255, 0 0 0)
  TEXT_JUSTIFY_CENTER
END_TEXT

BEGIN_TEXT(DIALOG_WIDGET_BUTTON)
  TEXT_NORMAL("*font-dialog-hilite", __EFFECT_NONE, 255 255 255, 0 0 0)
  TEXT_JUSTIFY_LEFT
END_TEXT

BEGIN_TEXT(DIALOG_WIDGET_CHECK_BUTTON)
  TEXT_NORMAL("*font-dialog", __EFFECT_NONE, 255 255 255, 0 0 0)
  TEXT_JUSTIFY_LEFT
END_TEXT

BEGIN_TEXT(DIALOG_WIDGET_RADIO_BUTTON)
  TEXT_NORMAL("*font-dialog", __EFFECT_NONE, 255 255 255, 0 0 0)
  TEXT_JUSTIFY_LEFT
END_TEXT

BEGIN_TEXT(DIALOG_WIDGET_TEXT)
  TEXT_NORMAL("*font-dialog", __EFFECT_NONE, 255 255 255, 0 0 0)
  TEXT_JUSTIFY_LEFT
END_TEXT

BEGIN_TEXT(MENU_TEXT)
  TEXT_NORMAL("*font-menu", __EFFECT_NONE, 0 0 0, 0 0 0)
  TEXT_HILITED("*font-menu", __EFFECT_NONE, 255 255 255, 0 0 0)
  TEXT_CLICKED("*font-menu", __EFFECT_NONE, 255 255 255, 0 0 0)
  TEXT_JUSTIFY_LEFT
END_TEXT

BEGIN_TEXT(PAGER_TEXT)
  TEXT_NORMAL("*font-pager", __EFFECT_NONE, 0 0 0, 0 0 0)
  TEXT_NORMAL_ACTIVE("*font-pager", __EFFECT_NONE, 0 0 0, 0 0 0)
  TEXT_JUSTIFY_CENTER
END_TEXT

BEGIN_TEXT(TITLEBAR_TEXT)
  TEXT_NORMAL("*font-border", __EFFECT_SHADOW, 255 255 255, 0 0 0)
  TEXT_NORMAL_ACTIVE("*font-border", __EFFECT_SHADOW, 0 0 0, 255 255 255)
END_TEXT

BEGIN_TEXT(TITLEBAR_TEXT_SIDE)
  TEXT_NORMAL("*font-border", __EFFECT_SHADOW, 255 255 255, 0 0 0)
  TEXT_ORIENTATION(__FONT_TO_UP)
  TEXT_NORMAL_ACTIVE("*font-border", __EFFECT_SHADOW, 0 0 0, 255 255 255)
  TEXT_ORIENTATION(__FONT_TO_UP)
END_TEXT

BEGIN_TEXT(TT_TEXT)
  TEXT_NORMAL("*font-tooltip", __EFFECT_NONE, 255 255 255, 0 0 0)
  TEXT_JUSTIFY_CENTER
END_TEXT

BEGIN_TEXT(WARPFOCUS)
  TEXT_NORMAL("*font-focus", __EFFECT_NONE, 200 200 200, 0 0 0)
  TEXT_CLICKED("*font-focus", __EFFECT_NONE, 0 0 0, 0 0 0)
  TEXT_JUSTIFY_CENTER
END_TEXT

