#include <definitions>
__E_CFG_VERSION 0

/* Maintained at theming.effishiency.com
   $Id$ */

DEFINE_TOOLTIP("DEFAULT", "TT_MAIN", "TT_CLOUD", "TT_CLOUD", "TT_CLOUD", "TT_CLOUD", "TT_TEXT", 100)
DEFINE_TOOLTIP("ICONBOX", "TT_MINI", "TT_BLANK", "TT_BLANK", "TT_BLANK", "TT_BLANK", "TT_TEXT", 16)
DEFINE_TOOLTIP("PAGER", "TT_MINI", "TT_BLANK", "TT_BLANK", "TT_BLANK", "TT_BLANK", "TT_TEXT", 16)

