#include <definitions>
__E_CFG_VERSION 0

/* Maintained at theming.effishiency.com
   $Id$ */

USE_BORDER_FOR_UNRESIZABLE_CLIENT("FIXED_SIZE")
USE_BORDER_FOR_SHAPED_CLIENT("SHAPED")

__MATCH_WINDOW  __BGN
  __NAME TINY_WINDOWS
  __IS_IN_WIDTH_RANGE 0 10
  __USE_BORDER MENU
__END

__MATCH_WINDOW  __BGN
  __NAME SMALL_WINDOWS
  __IS_IN_WIDTH_RANGE 10 30
  __USE_BORDER SHAPED
__END

/* Anything between 150 and 400 pixels gets the shaped border */

__MATCH_WINDOW  __BGN
  __NAME SHAPED_MATCH
  __USE_BORDER SHAPED
  __IS_IN_WIDTH_RANGE 150 400
__END

/* Anything smaller gets the side border */

__MATCH_WINDOW  __BGN
  __NAME NARROW_MATCH
  __USE_BORDER SIDE
  __IS_IN_WIDTH_RANGE 0 149
__END 

/* I like Dali Clock borderless, and I figure most people do */

__MATCH_WINDOW  __BGN
  __NAME DALI_MATCH
  __USE_BORDER BORDERLESS
  __HAS_TITLE Dali Clock
__END

