#include <definitions>
__E_CFG_VERSION 1

NATIVE_CURSOR(DEFAULT, 7 59 91, 197 212 220, XC_LEFT_PTR)
NATIVE_CURSOR(GRAB, 7 59 91, 197 212 220, XC_CROSSHAIR)
NATIVE_CURSOR(GRAB_MOVE, 7 59 91, 197 212 220, XC_FLEUR)
NATIVE_CURSOR(GRAB_RESIZE, 7 59 91, 197 212 220, XC_SIZING)
NATIVE_CURSOR(MOVE, 197 212 220, 7 59 91, XC_FLEUR)
NATIVE_CURSOR(RESIZE_H, 7 59 91, 197 212 220, XC_SB_H_DOUBLE_ARROW)
NATIVE_CURSOR(RESIZE_V, 7 59 91, 197 212 220, XC_SB_V_DOUBLE_ARROW)
NATIVE_CURSOR(RESIZE_BR, 7 59 91, 197 212 220, XC_BOTTOM_RIGHT_CORNER)
NATIVE_CURSOR(RESIZE_BL, 7 59 91, 197 212 220, XC_BOTTOM_LEFT_CORNER)
NATIVE_CURSOR(RESIZE_TR, 7 59 91, 197 212 220, XC_TOP_RIGHT_CORNER)
NATIVE_CURSOR(RESIZE_TL, 7 59 91, 197 212 220, XC_TOP_LEFT_CORNER)

