#include <definitions>
__E_CFG_VERSION 1

BEGIN_TEXT("ICONBOX_WINDOW_TITLE")
  TEXT_NORMAL("*font-default", __EFFECT_NONE, 20 20 20, 0 0 0)
  TEXT_JUSTIFY_CENTER
END_TEXT

BEGIN_TEXT("WARPFOCUS")
  TEXT_NORMAL("*font-border", __EFFECT_NONE, 160 160 160, 0 0 0)
  TEXT_CLICKED("*font-border", __EFFECT_SHADOW, 60 60 60, 170 170 170)
  TEXT_JUSTIFY_LEFT
END_TEXT

BEGIN_TEXT("COORDS")
  TEXT_NORMAL("*font-mono", __EFFECT_NONE, 20 20 20, 0 0 0)
  TEXT_JUSTIFY_CENTER
END_TEXT

BEGIN_TEXT("DIALOG")
  TEXT_NORMAL("*font-default", __EFFECT_NONE, 60 60 60, 0 0 0)
  TEXT_JUSTIFY_CENTER
END_TEXT

BEGIN_TEXT("DIALOG_WIDGET_BUTTON")
  TEXT_NORMAL("*font-default", __EFFECT_SHADOW, 60 60 60, 170 170 170)
  TEXT_CLICKED("*font-default", __EFFECT_NONE, 30 30 30, 0 0 0)
  TEXT_JUSTIFY_CENTER
END_TEXT

BEGIN_TEXT("DIALOG_WIDGET_CHECK_BUTTON")
  TEXT_NORMAL("*font-default", __EFFECT_NONE, 60 60 60, 0 0 0)
  TEXT_JUSTIFY_LEFT
END_TEXT

BEGIN_TEXT("DIALOG_WIDGET_RADIO_BUTTON")
  TEXT_NORMAL("*font-default", __EFFECT_NONE, 60 60 60, 0 0 0)
  TEXT_JUSTIFY_LEFT
END_TEXT

BEGIN_TEXT("DIALOG_WIDGET_TEXT")
  TEXT_NORMAL("*font-default", __EFFECT_NONE, 60 60 60, 0 0 0)
  TEXT_JUSTIFY_CENTER
END_TEXT

BEGIN_TEXT("DIALOG_BUTTON")
  TEXT_NORMAL("*font-default", __EFFECT_OUTLINE, 235 245 255, 130 144 153)
  TEXT_CLICKED("*font-default", __EFFECT_OUTLINE, 231 238 247, 119 128 138)
  TEXT_JUSTIFY_CENTER
END_TEXT

BEGIN_TEXT("EPPLET_LABEL")
  TEXT_NORMAL("font-default", __EFFECT_NONE, 60 60 60, 0 0 0)
END_TEXT

BEGIN_TEXT("EPPLET_BUTTON")
  TEXT_NORMAL("*font-default", __EFFECT_NONE, 60 60 60, 0 0 0)
END_TEXT

BEGIN_TEXT("EPPLET_TOGGLEBUTTON_ON")
  TEXT_NORMAL("*font-epplet", __EFFECT_NONE, 20 20 20, 0 0 0)
END_TEXT

BEGIN_TEXT("EPPLET_TOGGLEBUTTON_OFF")
  TEXT_NORMAL("*font-epplet", __EFFECT_NONE, 20 20 20, 0 0 0)
END_TEXT

BEGIN_TEXT("EPPLET_POPUP")
  TEXT_NORMAL("*font-epplet", __EFFECT_NONE, 20 20 20, 0 0 0)
END_TEXT

BEGIN_TEXT("EPPLET_TEXT_TINY")
  TEXT_NORMAL("*font-epplet", __EFFECT_NONE, 20 20 20, 0 0 0)
END_TEXT

BEGIN_TEXT("EPPLET_TEXT_MEDIUM")
  TEXT_NORMAL("*font-default", __EFFECT_NONE, 60 60 60, 0 0 0)
END_TEXT

BEGIN_TEXT("EPPLET_TEXT_LARGE")
  TEXT_NORMAL("*font-default", __EFFECT_NONE, 60 60 60, 0 0 0)
END_TEXT

BEGIN_TEXT("MENU")
  TEXT_NORMAL("*font-default", __EFFECT_NONE, 180 180 180, 0 0 0)
  TEXT_HILITED("*font-default", __EFFECT_NONE, 90 90 90, 0 0 0)
  TEXT_JUSTIFY_LEFT
END_TEXT

BEGIN_TEXT("PAGER_WINDOW_TITLE")
  TEXT_NORMAL("*font-default", __EFFECT_NONE, 20 20 20, 0 0 0)
  TEXT_JUSTIFY_CENTER
END_TEXT

BEGIN_TEXT("TT_TEXT")
  TEXT_NORMAL("*font-default", __EFFECT_NONE, 20 20 20, 0 0 0)
  TEXT_JUSTIFY_LEFT
END_TEXT

BEGIN_TEXT("DEFAULT_TITLE")
  TEXT_NORMAL(*font-border, __EFFECT_NONE, 160 160 160, 0 0 0)
  TEXT_NORMAL_ACTIVE(*font-border, __EFFECT_SHADOW, 60 60 60, 170 170 170)
  TEXT_NORMAL_STICKY(*font-border, __EFFECT_NONE, 160 160 160, 0 0 0)
  TEXT_NORMAL_ACTIVE_STICKY(*font-border, __EFFECT_SHADOW, 60 60 60, 170 170 170)
  TEXT_JUSTIFY_LEFT
END_TEXT

BEGIN_TEXT("FIXED_TITLE")
  TEXT_NORMAL("*font-border", __EFFECT_SHADOW, 60 60 60, 170 170 170)
  TEXT_JUSTIFY_LEFT
END_TEXT

