#include <definitions>
__E_CFG_VERSION 1

/* Maintained at themes.effx.us
   $Id$ */

__DESKTOP __BGN
  __NAME Inbred_PixelSky
  __SOLID_COLOR 0 0 0
  __BACKGROUND_LAYER "artwork/backgrounds/pixelsky.jpg" 1 0 0 0 1024 1024
  __USE_ON_DESKTOP 1
__END

