#include <definitions>
__E_CFG_VERSION 1

BEGIN_FONTS
  font-coords "-*-lucida-medium-r-*-*-10-*-*-*-*-*-*-*"
  font-default "-*-lucida-medium-r-*-*-10-*-*-*-*-*-*-*"
  font-dialog "-*-lucida-medium-r-*-*-10-*-*-*-*-*-*-*"
  font-dialog-hilite "-*-lucida-medium-r-*-*-10-*-*-*-*-*-*-*"
  font-dialog-hilite "-*-lucida-medium-r-normal-*-*-100-*-*-p-*-iso8859-1"
  font-focus "-*-lucida-medium-r-normal-*-*-100-*-*-p-*-iso8859-1"
  font-init "-*-lucida-medium-r-*-*-10-*-*-*-*-*-*-*"
  font-menu "-*-lucida-medium-r-*-*-10-*-*-*-*-*-*-*"
  font-pager "-*-lucida-medium-r-*-*-10-*-*-*-*-*-*-*"
  font-tooltip "-*-lucida-medium-r-normal-*-*-80-*-*-p-*-iso8859-1"
END_FONTS

