#include <definitions>
__E_CFG_VERSION 1

__SLIDEOUT  __BGN
  __NAME mainwindowslider
  __SLIDE_DIRECTION  __RIGHT
  __BUTTON SLIDEOUT1
  __BUTTON SLIDEOUT2
  __BUTTON SLIDEOUT3
  __BUTTON SLIDEOUT4
__END

