#include <definitions>
__E_CFG_VERSION 1

TOOLTIP("DEFAULT", "TT_MAIN", "TT_CLOUD1", "TT_CLOUD1", "TT_CLOUD1", "TT_CLOUD1", "TT_TEXT", 100)
TOOLTIP("ICONBOX", "TT_MAIN", "TT_BLANK", "TT_BLANK", "TT_BLANK", "TT_BLANK", "TT_TEXT", 20)
TOOLTIP("PAGER", "TT_MAIN", "TT_BLANK", "TT_BLANK", "TT_BLANK", "TT_BLANK", "TT_TEXT", 20)

