#include <definitions>
__E_CFG_VERSION 1

BEGIN_FONTS
  font-coords "-adobe-helvetica-medium-r-normal-*-*-100-*-*-*-*-*-*"
  font-default "bei/11"
  font-dialog "-adobe-helvetica-medium-r-normal-*-*-120-*-*-*-*-*-*"
  font-dialog-hilite "-adobe-helvetica-medium-r-normal-*-*-120-*-*-*-*-*-*"
  font-epplet "-*-lucida-medium-r-normal-*-*-80-*-*-p-*-iso8859-1"
  font-epplet-large "-*-lucida-medium-r-normal-*-*-120-*-*-p-*-iso8859-1"
  font-epplet-medium "-*-lucida-medium-r-normal-*-*-100-*-*-p-*-iso8859-1"
  font-epplet-small "-*-lucida-medium-r-normal-*-*-80-*-*-p-*-iso8859-1"
  font-init "-*-helvetica-medium-r-*-*-12-*-*-*-*-*-*-*"
  font-menu "-adobe-helvetica-medium-r-normal-*-*-120-*-*-*-*-*-*"
  font-tooltip "-adobe-helvetica-medium-r-normal-*-*-100-*-*-*-*-*-*"
END_FONTS

