#include <definitions>
__E_CFG_VERSION 0

/* Maintained at theming.effishiency.com
   $Id$ */

NORMAL_MENU_STYLE_VERTICAL("DEFAULT", "PAGER", "MENU", "MENUBG", "MENUITEM", "DEFAULT_MENU_SUB", 15)
NORMAL_MENU_STYLE_VERTICAL("DESK_MENU", "PAGER", "MENU", "MENUBG", "MENUITEM", "DEFAULT_MENU_SUB", 15)
NORMAL_MENU_STYLE_VERTICAL("EMPTY", "PAGER", "MENU", "MENUBG", "MENUITEM", "DEFAULT_MENU_SUB", 15)
NORMAL_MENU_STYLE_VERTICAL("ROOT", "PAGER", "MENU", "MENUBG", "MENUITEM", "DEFAULT_MENU_SUB", 40)
NORMAL_MENU_STYLE_VERTICAL("ROOT_IMAGE", "PAGER", "MENU", "MENUBG", "MENUITEM", "DEFAULT_MENU_SUB", 15)
NORMAL_MENU_STYLE_VERTICAL("TASK_MENU", "PAGER", "MENU", "MENUBG", "MENUITEM", "DEFAULT_MENU_SUB", 15)

