#include <definitions>
__E_CFG_VERSION 0

/* Maintained at themes.effx.us
   $Id$ */

NORMAL_MENU_STYLE_VERTICAL("DEFAULT", "PAGER", "MENU_TEXT", "MENU_BG", "MENU_SEL", "MENU_SUB", 15)
NORMAL_MENU_STYLE_VERTICAL("DESK_MENU", "PAGER", "MENU_TEXT", "MENU_BG", "MENU_SEL", "MENU_SUB", 15)
NORMAL_MENU_STYLE_VERTICAL("EMPTY", "PAGER", "MENU_TEXT", "MENU_BG", "MENU_SEL", "MENU_SUB", 15)
NORMAL_MENU_STYLE_VERTICAL("ROOT", "PAGER", "MENU_TEXT", "MENU_BG", "MENU_SEL", "MENU_SUB", 40)
NORMAL_MENU_STYLE_VERTICAL("ROOT_IMAGE", "PAGER", "MENU_TEXT", "MENU_BG", "MENU_SEL", "MENU_SUB", 15)
NORMAL_MENU_STYLE_VERTICAL("TASK_MENU", "PAGER", "MENU_TEXT", "MENU_BG", "MENU_SEL", "MENU_SUB", 15)

