#include <definitions>
__E_CFG_VERSION 1

BEGIN_FONTS
  font-coords "tt1238m/12"
  font-dialog "tt1247m/14"
  font-dialog-hilite "tt1238m/18"
  font-epplet "-*-lucida-medium-r-normal-*-*-80-*-*-p-*-iso8859-1"
  font-epplet-large "-*-lucida-medium-r-normal-*-*-120-*-*-p-*-iso8859-1"
  font-epplet-medium "-*-lucida-medium-r-normal-*-*-100-*-*-p-*-iso8859-1"
  font-epplet-small "-*-lucida-medium-r-normal-*-*-80-*-*-p-*-iso8859-1"
  font-init "-*-helvetica-bold-r-*-*-12-*-*-*-*-*-*-*"
  font-menu "tt0106m/18"
  font-tooltip "tt0106m/16"
END_FONTS

