#include <definitions>
__E_CFG_VERSION 1

BEGIN_SOUND
  "SOUND_STARTUP"                   "audio/tranin.wav"
  "SOUND_ALERT"                     "audio/alert.wav"
  "SOUND_EXIT"                      "audio/cutpower.wav"
  "SOUND_LOGOUT"                    "audio/tranout.wav"
  "SOUND_WAIT"                      "audio/standby2.wav"
  "SOUND_ERROR_IPC"                 "audio/alert.wav"
  "SOUND_SETTINGS_PAGER"            "audio/lcars3.wav"
  "SOUND_SETTINGS_FOCUS"            "audio/lcars3.wav"
  "SOUND_SETTINGS_MOVERESIZE"       "audio/lcars3.wav"
  "SOUND_SETTINGS_DESKTOPS"         "audio/lcars3.wav"
  "SOUND_SETTINGS_AREA"             "audio/lcars3.wav"
  "SOUND_SETTINGS_PLACEMENT"        "audio/lcars3.wav"
  "SOUND_SETTINGS_AUTORAISE"        "audio/lcars3.wav"
  "SOUND_SETTINGS_TOOLTIPS"         "audio/lcars3.wav"
  "SOUND_SETTINGS_AUDIO"            "audio/lcars3.wav"
  "SOUND_SETTINGS_GROUP"            "audio/lcars3.wav"
  "SOUND_SETTINGS_FX"               "audio/lcars3.wav"
  "SOUND_SETTINGS_BG"               "audio/lcars3.wav"
  "SOUND_SETTINGS_REMEMBER"         "audio/lcars3.wav"
  "SOUND_SETTINGS_KDE"              "audio/lcars3.wav"
  "SOUND_SETTINGS_MISCELLANEOUS"    "audio/lcars3.wav"
  "SOUND_DESKTOP_SHUT"              "audio/badgetap.wav"
  "SOUND_WINDOW_CLOSE"              "audio/shrtbeep.wav"
  "SOUND_WINDOW_STICK"              "audio/scalcomm.wav"  
  "SOUND_WINDOW_UNSTICK"            "audio/scalcomm.wav" 
  "SOUND_WINDOW_SLIDE"              "audio/entdrop.wav" 
  "SOUND_MENU_SHOW"                 "audio/chanopen.wav"
  "SOUND_UNSHADE"                   "audio/entdoors-new.wav"
  "SOUND_SHADE"                     "audio/entdoors-new.wav"
  "SOUND_WINDOW_BORDER_CHANGE"      "audio/commack.wav"
  "SOUND_NEW_ICONBOX"               "audio/29ctrout.wav"
  "SOUND_MOVE_AREA_LEFT"            "audio/lcars4.wav"
  "SOUND_MOVE_AREA_RIGHT"           "audio/lcars4.wav"
  "SOUND_MOVE_AREA_UP"              "audio/lcars5.wav"
  "SOUND_MOVE_AREA_DOWN"            "audio/lcarbut.wav"
  "SOUND_ICONIFY"                   "audio/cutpower.wav"
  "SOUND_DEICONIFY"                 "audio/29ctrout.wav"
  "SOUND_RESIZE_STOP"              "audio/clicking.wav"
  "SOUND_MOVE_STOP"                "audio/endtran.wav"  
  "SOUND_RAISE"                     "audio/astrbut1.wav"
  "SOUND_LOWER"                     "audio/astrbut3.wav"
  "SOUND_DESKTOP_RAISE"             "audio/holconf.wav"
  "SOUND_DESKTOP_LOWER"             "audio/lcarbeep.wav"
  "SOUND_SLIDEOUT_SHOW"             "audio/entdrop.wav"
  "SOUND_GROUP_SETTINGS_ACTIVE"     "audio/paddbutt.wav"
END_SOUND

