#include <definitions>
__E_CFG_VERSION 0

/* Maintained at themes.effx.us
   $Id$ */

__TCLASS __BGN
  __NAME MENU_TEXT
/*__NORMAL "tt1238m/12 */
  __NORMAL "-b&h-lucida-bold-r-normal-sans-12-*-*-*-p-*-iso8859-1"
  __DRAWING_EFFECT __EFFECT_NONE
  __FORGROUND_COLOR 255 255 255
  __BACKGROUND_COLOR 255 255 255
  __JUSTIFICATION 0

/*__HILITED "tt1238m/12" */
  __HILITED "-b&h-lucida-bold-r-normal-sans-12-*-*-*-p-*-iso8859-1" 
  __DRAWING_EFFECT __EFFECT_NONE
  __FORGROUND_COLOR 0 0 0
  __BACKGROUND_COLOR 0 0 0
  __JUSTIFICATION 0
__END

__TCLASS __BGN
  __NAME COORDS
  __NORMAL "tt1238m/12"
  __DRAWING_EFFECT __EFFECT_NONE
  __FORGROUND_COLOR 221 130 221
  __BACKGROUND_COLOR 255 255 255
  __JUSTIFICATION 0
__END

__TCLASS __BGN
  __NAME TT_TEXT
  __NORMAL "-b&h-lucida-bold-r-normal-sans-12-*-*-*-p-*-iso8859-1"
  __DRAWING_EFFECT __EFFECT_NONE
  __FORGROUND_COLOR 255 201 155
  __BACKGROUND_COLOR 255 201 155
  __JUSTIFICATION 0
__END

__TCLASS __BGN
  __NAME MENU_TITLE
  __NORMAL "tt0106m/18"
  __DRAWING_EFFECT __EFFECT_NONE
  __FORGROUND_COLOR 229 95 96
  __BACKGROUND_COLOR 229 95 96
  __JUSTIFICATION 1024
  __NORMAL_ACTIVE "tt0106m/18"
  __DRAWING_EFFECT __EFFECT_NONE
  __FORGROUND_COLOR 255 135 139
  __BACKGROUND_COLOR 255 135 139
  __JUSTIFICATION 1024
  __NORMAL_ACTIVE_STICKY "tt0106m/18"
  __DRAWING_EFFECT __EFFECT_NONE
  __FORGROUND_COLOR 221 130 221
  __BACKGROUND_COLOR 221 130 221
  __JUSTIFICATION 1024
  __NORMAL_STICKY "tt0106m/18"
  __DRAWING_EFFECT __EFFECT_NONE
  __FORGROUND_COLOR 144 97 143
  __BACKGROUND_COLOR 144 97 143
  __JUSTIFICATION 1024
__END

__TCLASS __BGN
  __NAME MENU_TITLE_LEFT
  __NORMAL "tt0106m/18"
  __DRAWING_EFFECT __EFFECT_NONE
  __FORGROUND_COLOR 229 95 96
  __BACKGROUND_COLOR 229 95 96
  __JUSTIFICATION 0
  __ORIENTATION __FONT_TO_UP
  __NORMAL_ACTIVE "tt0106m/18"
  __DRAWING_EFFECT __EFFECT_NONE
  __FORGROUND_COLOR 255 135 139
  __BACKGROUND_COLOR 255 135 139
  __JUSTIFICATION 0
  __ORIENTATION __FONT_TO_UP
  __NORMAL_ACTIVE_STICKY "tt0106m/18"
  __DRAWING_EFFECT __EFFECT_NONE
  __FORGROUND_COLOR 221 130 221
  __BACKGROUND_COLOR 221 130 221
  __JUSTIFICATION 0
  __ORIENTATION __FONT_TO_UP
  __NORMAL_STICKY "tt0106m/18"
  __DRAWING_EFFECT __EFFECT_NONE
  __FORGROUND_COLOR 144 97 143
  __BACKGROUND_COLOR 144 97 143
  __JUSTIFICATION 0
  __ORIENTATION __FONT_TO_UP
__END

__TCLASS __BGN
  __NAME DIALOG
  __NORMAL "tt1247m/14"
  __DRAWING_EFFECT __EFFECT_NONE
  __FORGROUND_COLOR 221 130 221
  __BACKGROUND_COLOR 221 130 221
  __JUSTIFICATION 512
__END

__TCLASS __BGN
  __NAME DIALOG_BUTTON
  __NORMAL "tt1238m/18"
  __DRAWING_EFFECT __EFFECT_NONE
  __FORGROUND_COLOR 0 0 0
  __BACKGROUND_COLOR 255 255 255
  __JUSTIFICATION 512
__END

__TCLASS __BGN
  __NAME DIALOG_WIDGET_BUTTON
  __NORMAL "-b&h-lucida-bold-r-normal-sans-12-*-*-*-p-*-iso8859-1"
  __DRAWING_EFFECT __EFFECT_NONE
  __FORGROUND_COLOR 0 0 0
  __BACKGROUND_COLOR 0 0 0
  __JUSTIFICATION 512
__END

__TCLASS __BGN
  __NAME DIALOG_WIDGET_CHECK_BUTTON
  __NORMAL "-b&h-lucida-bold-r-normal-sans-12-*-*-*-p-*-iso8859-1"
  __DRAWING_EFFECT __EFFECT_NONE
  __FORGROUND_COLOR 255 201 155
  __BACKGROUND_COLOR 255 201 155
  __JUSTIFICATION 0
__END

__TCLASS __BGN
  __NAME DIALOG_WIDGET_RADIO_BUTTON
  __NORMAL "-b&h-lucida-bold-r-normal-sans-12-*-*-*-p-*-iso8859-1"
  __DRAWING_EFFECT __EFFECT_NONE
  __FORGROUND_COLOR 255 201 155
  __BACKGROUND_COLOR 255 201 155
  __JUSTIFICATION 0
__END

__TCLASS __BGN
  __NAME DIALOG_WIDGET_TEXT
  __NORMAL "-b&h-lucida-bold-r-normal-sans-12-*-*-*-p-*-iso8859-1"
  __DRAWING_EFFECT __EFFECT_NONE
  __FORGROUND_COLOR 255 201 155
  __BACKGROUND_COLOR 255 201 155
  __JUSTIFICATION 0
__END

__TCLASS __BGN
  __NAME EPPLET_LABEL
  __NORMAL "-*-lucida-medium-r-normal-*-*-80-*-*-p-*-iso8859-1"
  __DRAWING_EFFECT NONE
  __FORGROUND_COLOR 255 255 255
  __BACKGROUND_COLOR 0 0 0
__END

__TCLASS __BGN
  __NAME EPPLET_BUTTON
  __NORMAL "-*-lucida-medium-r-normal-*-*-80-*-*-p-*-iso8859-1"
  __DRAWING_EFFECT NONE
  __FORGROUND_COLOR 255 255 255
  __BACKGROUND_COLOR 0 0 0
  __CLICKED "-*-lucida-medium-r-normal-*-*-80-*-*-p-*-iso8859-1"
  __DRAWING_EFFECT NONE
  __FORGROUND_COLOR 0 0 0
  __BACKGROUND_COLOR 128 125 133
__END

__TCLASS __BGN
  __NAME EPPLET_TOGGLEBUTTON_ON
  __NORMAL "-*-lucida-medium-r-normal-*-*-80-*-*-p-*-iso8859-1"
  __DRAWING_EFFECT NONE
  __FORGROUND_COLOR 255 255 255
  __BACKGROUND_COLOR 0 0 0
__END

__TCLASS __BGN
  __NAME EPPLET_TOGGLEBUTTON_OFF
  __NORMAL "-*-lucida-medium-r-normal-*-*-80-*-*-p-*-iso8859-1"
  __DRAWING_EFFECT NONE
  __FORGROUND_COLOR 255 255 255
  __BACKGROUND_COLOR 0 0 0
__END

__TCLASS __BGN
  __NAME EPPLET_POPUP
  __NORMAL "-*-lucida-medium-r-normal-*-*-80-*-*-p-*-iso8859-1"
  __DRAWING_EFFECT NONE
  __FORGROUND_COLOR 255 255 255
  __BACKGROUND_COLOR 0 0 0
  __CLICKED "-*-lucida-medium-r-normal-*-*-80-*-*-p-*-iso8859-1"
  __DRAWING_EFFECT NONE
  __FORGROUND_COLOR 0 0 0
  __BACKGROUND_COLOR 255 255 255
__END

__TCLASS __BGN
  __NAME EPPLET_TEXT_TINY
  __NORMAL "-*-lucida-medium-r-normal-*-*-80-*-*-p-*-iso8859-1"
  __DRAWING_EFFECT NONE
  __FORGROUND_COLOR 255 255 255
  __BACKGROUND_COLOR 0 0 0
__END

__TCLASS __BGN
  __NAME EPPLET_TEXT_MEDIUM
  __NORMAL "-*-lucida-medium-r-normal-*-*-100-*-*-p-*-iso8859-1"
  __DRAWING_EFFECT NONE
  __FORGROUND_COLOR 255 255 255
  __BACKGROUND_COLOR 0 0 0
__END

__TCLASS __BGN
  __NAME EPPLET_TEXT_LARGE
  __NORMAL "-*-lucida-medium-r-normal-*-*-120-*-*-p-*-iso8859-1"
  __DRAWING_EFFECT NONE
  __FORGROUND_COLOR 255 255 255
  __BACKGROUND_COLOR 0 0 0
__END

