#include <definitions>
__E_CFG_VERSION 1

USE_BORDER_FOR_CLIENT_WITH_TITLE("Hmm", "BORDERLESS")
USE_BORDER_FOR_TRANSIENT_CLIENT("TRANSIENT")
USE_BORDER_FOR_UNRESIZABLE_CLIENT("FIXED_SIZE")
USE_BORDER_FOR_SHAPED_CLIENT("SHAPED")
USE_BORDER_FOR_CLIENT_WITH_TITLE("gkrellm", "ICONBOX")
USE_BORDER_FOR_CLIENT_WITH_TITLE("The GIMP", "SIDE")

__MATCH_WINDOW __BGN
  __NAME "SIDE_MATCH"
  __USE_BORDER "SIDE"
  __IS_IN_WIDTH_RANGE 50 240
  __IS_IN_HEIGHT_RANGE 241 99999
__END

/*  USE_BORDER_FOR_CLIENT_WITH_TITLE("Tool Options", "TRANSIENT")
 *  USE_BORDER_FOR_CLIENT_WITH_TITLE("Open File...", "TRANSIENT")
 *  USE_BORDER_FOR_CLIENT_WITH_TITLE("Load Image", "TRANSIENT")
 *  USE_BORDER_FOR_CLIENT_WITH_TITLE("Save As...", "TRANSIENT")
 *  USE_BORDER_FOR_CLIENT_WITH_TITLE("Save Image", "TRANSIENT")
 *  USE_BORDER_FOR_CLIENT_WITH_TITLE("Open", "TRANSIENT")
 *  USE_BORDER_FOR_CLIENT_WITH_TITLE("Save", "TRANSIENT")
 *  USE_BORDER_FOR_CLIENT_WITH_TITLE("Layers*", "TRANSIENT")
 *  USE_BORDER_FOR_CLIENT_WITH_TITLE("Brush*", "TRANSIENT") 
 *  USE_BORDER_FOR_CLIENT_WITH_TITLE("New Image", "TRANSIENT") */
