#include <definitions>
__E_CFG_VERSION 1

USE_BORDER_FOR_CLIENT_WITH_CLASS("Gkrellm", "ICONBOX")
USE_BORDER_FOR_CLIENT_WITH_CLASS("Gimp", "SIDE")

__MATCH_WINDOW __BGN
  __NAME "SIDE_MATCH"
  __USE_BORDER "SIDE"
  __IS_IN_WIDTH_RANGE 50 240
  __IS_IN_HEIGHT_RANGE 241 99999
__END

