#include <definitions>
__E_CFG_VERSION 1

BEGIN_FONTS
  font-coords "hatten/11"
  font-default "hatten/11"
  font-dialog "hatten/11"
  font-dialog-hilite "hatten/11"
  font-init "zirkle/9"
  font-menu "hatten/11"
  font-tooltip "hatten/12"
END_FONTS

