#include <definitions>
__E_CFG_VERSION 0

/* Maintained at themes.effx.us
   $Id$ */

BEGIN_BACKGROUND(STARTUP_BACKGROUND)
  SET_SOLID("214 214 214")
  ADD_BACKGROUND_CENTERED("artwork/backgrounds/gtk_overlay.png")
END_BACKGROUND

__ICLASS __BGN
  __NAME STARTUP_BAR
  __NORMAL "artwork/common/box_normal.png"
  __EDGE_SCALING 3 2 3 2
  __CLICKED "artwork/common/box_clicked.png"
  __EDGE_SCALING 3 2 3 2
__END

__ICLASS __BGN
  __NAME PROGRESS_BAR
/* normal used for text background */
  __NORMAL "artwork/common/box_normal.png"
  __EDGE_SCALING 3 2 3 2
/* used for numeric bg */
  __CLICKED "artwork/common/box_normal.png"
  __EDGE_SCALING 3 2 3 2
/* used for bar itself */
  __NORMAL_ACTIVE "artwork/common/box_hilited.png"
  __EDGE_SCALING 3 2 3 2
  __PADDING 8 8 1 1
__END

__TCLASS __BGN
  __NAME PROGRESS_TEXT
  __NORMAL "-*-helvetica-bold-r-normal-*-*-100-*-*-p-*-iso8859-1"
  __DRAWING_EFFECT __EFFECT_NORMAL
  __FORGROUND_COLOR 0 0 0
  __BACKGROUND_COLOR 0 0 0
  __JUSTIFICATION 0
__END

__TCLASS __BGN
  __NAME PROGRESS_TEXT_NUMBER
  __NORMAL "-*-helvetica-bold-r-normal-*-*-100-*-*-p-*-iso8859-1"
  __DRAWING_EFFECT __EFFECT_NORMAL
  __FORGROUND_COLOR 0 0 0
  __BACKGROUND_COLOR 0 0 0
  __JUSTIFICATION 512
__END

