#include <definitions>
__E_CFG_VERSION 1

BEGIN_SOUND
 "SOUND_STARTUP" "audio/startup.wav"
 "SOUND_WINDOW_CLOSE" "audio/close.wav"
 "SOUND_WINDOW_STICK" "audio/stick.wav"
 "SOUND_WINDOW_UNSTICK" "audio/unstick.wav"
 "SOUND_WINDOW_SLIDE" "audio/slide.wav"
 "SOUND_DEICONIFY" "audio/deiconify.wav"
 "SOUND_ICONIFY" "audio/iconify.wav"
 "SOUND_UNSHADE" "audio/unshade.wav"
 "SOUND_SHADE" "audio/shade.wav"
END_SOUND
