#include <definitions>
__E_CFG_VERSION 1

USE_BORDER_FOR_SHAPED_CLIENT("BORDERLESS")
USE_BORDER_FOR_CLIENT_WITH_TITLE("DOX:*", "FRAME")

__MATCH_WINDOW __BGN
  __NAME TRANSIENT_FIXED_MATCH
  __USE_BORDER TRANSIENT_FIXED
  __IS_TRANSIENT __ON
  __CANNOT_RESIZE_HORIZONTALLY __ON
  __CANNOT_RESIZE_VERTICALLY __ON
__END

__MATCH_WINDOW __BGN
  __NAME GLADE_TOOLBOX
  __USE_BORDER GIMP
  __HAS_NAME "glade"
  __HAS_CLASS "Glade"
  __HAS_TITLE "*Glade*"
__END

__MATCH_WINDOW __BGN
  __NAME GLADE_PROJECT
  __USE_BORDER GIMP
  __HAS_NAME "project"
  __HAS_CLASS "Glade"
  __HAS_TITLE "*Glade*"
__END

__MATCH_WINDOW __BGN
  __NAME GLADE_OPEN_PROJECT
  __USE_BORDER TRANSIENT
  __HAS_NAME "open_project"
  __HAS_CLASS "Glade"
__END

__MATCH_WINDOW __BGN
  __NAME XMMS_PREFS
  __USE_BORDER TRANSIENT_FIXED_GTK
  __HAS_NAME "xmms"
  __HAS_CLASS "Xmms"
  __HAS_TITLE "Preferences"
__END

__MATCH_WINDOW __BGN
  __NAME XMMS_FILE_INFO
  __USE_BORDER TRANSIENT_FIXED_GTK
  __HAS_NAME "xmms"
  __HAS_CLASS "Xmms"
  __HAS_TITLE "File Info - *"
__END

__MATCH_WINDOW __BGN
  __NAME XMMS_OSS_DRIV_CONF
  __USE_BORDER TRANSIENT_FIXED_GTK
  __HAS_NAME "xmms"
  __HAS_CLASS "Xmms"
  __HAS_TITLE "OSS Driver *"
__END

__MATCH_WINDOW __BGN
  __NAME XMMS_OSS_DRIV_ABOUT
  __USE_BORDER TRANSIENT
  __HAS_NAME "xmms"
  __HAS_CLASS "Xmms"
  __HAS_TITLE "About OSS Driver *"
__END

__MATCH_WINDOW __BGN
  __NAME XMMS_ESD_CONF
  __USE_BORDER TRANSIENT_FIXED_GTK
  __HAS_NAME "xmms"
  __HAS_CLASS "Xmms"
  __HAS_TITLE "ESD Plugin *"
__END

__MATCH_WINDOW __BGN
  __NAME XMMS_ESD_ABOUT
  __USE_BORDER TRANSIENT
  __HAS_NAME "xmms"
  __HAS_CLASS "Xmms"
  __HAS_TITLE "About ESounD Plugin *"
__END

__MATCH_WINDOW __BGN
  __NAME XMMS_MPG123_CONF
  __USE_BORDER TRANSIENT_FIXED_GTK
  __HAS_NAME "xmms"
  __HAS_CLASS "Xmms"
  __HAS_TITLE "MPG123 *"
__END

__MATCH_WINDOW __BGN
  __NAME XMMS_MIKMOD_ABOUT
  __USE_BORDER TRANSIENT_FIXED_GTK
  __HAS_NAME "xmms"
  __HAS_CLASS "Xmms"
  __HAS_TITLE "About mikmod plugin"
__END

__MATCH_WINDOW __BGN
  __NAME XMMS_MIKMOD_CONF
  __USE_BORDER TRANSIENT_FIXED_GTK
  __HAS_NAME "xmms"
  __HAS_CLASS "Xmms"
  __HAS_TITLE "MikMod Configuration"
__END

__MATCH_WINDOW __BGN
  __NAME XMMS_CD_AP_CONF
  __USE_BORDER TRANSIENT_FIXED_GTK
  __HAS_NAME "xmms"
  __HAS_CLASS "Xmms"
  __HAS_TITLE "CD Audio Player Configuration"
__END

__MATCH_WINDOW __BGN
  __NAME XMMS_CD_READ_CONF
  __USE_BORDER TRANSIENT_FIXED_GTK
  __HAS_NAME "xmms"
  __HAS_CLASS "Xmms"
  __HAS_TITLE "CD Reader Configuration"
__END

__MATCH_WINDOW __BGN
  __NAME XMMS_GL_SPEC_CONF
  __USE_BORDER TRANSIENT_FIXED_GTK
  __HAS_NAME "xmms"
  __HAS_CLASS "Xmms"
  __HAS_TITLE "OpenGL Spectrum *"
__END

__MATCH_WINDOW __BGN
  __NAME XMMS_COLOR_ENTRY
  __USE_BORDER TRANSIENT_FIXED_GTK
  __HAS_NAME "xmms"
  __HAS_CLASS "Xmms"
  __HAS_TITLE "Color Entry"
__END

__MATCH_WINDOW __BGN
  __NAME XMMS_TONE_GEN_ABOUT
  __USE_BORDER TRANSIENT
  __HAS_NAME "xmms"
  __HAS_CLASS "Xmms"
  __HAS_TITLE "About Tone Generator"
__END

__MATCH_WINDOW __BGN
  __NAME XMMS_CDDB_SERVER_LIST
  __USE_BORDER TRANSIENT
  __HAS_NAME "xmms"
  __HAS_CLASS "Xmms"
  __HAS_TITLE "CDDB servers"
__END

__MATCH_WINDOW __BGN
  __NAME XMMS_EXTRA_STEREO_CONF
  __USE_BORDER TRANSIENT
  __HAS_NAME "xmms"
  __HAS_CLASS "Xmms"
  __HAS_TITLE "Configure Extra Stereo"
__END

__MATCH_WINDOW __BGN
  __NAME XMMS_EXTRA_STEREO_ABOUT
  __USE_BORDER TRANSIENT
  __HAS_NAME "xmms"
  __HAS_CLASS "Xmms"
  __HAS_TITLE "About Extra Stereo Plugin"
__END

__MATCH_WINDOW __BGN
  __NAME XMMS_ECHO_CONF
  __USE_BORDER TRANSIENT
  __HAS_NAME "xmms"
  __HAS_CLASS "Xmms"
  __HAS_TITLE "Configure Echo"
__END

/* End Miscelaneous Windows */

/* GIMP Dialogs and Windows */
/* These show how to match both the WM_NAME and WM_CLASS before using
   a particular border style */

__MATCH_WINDOW __BGN
  __NAME GIMP_TOOLBOX
  __USE_BORDER GIMP
  __HAS_NAME "toolbox"
  __HAS_CLASS "Gimp"
  __HAS_TITLE "The GIMP"
__END

__MATCH_WINDOW __BGN
  __NAME GIMP_NEW_IMAGE
  __USE_BORDER TRANSIENT_FIXED_GTK
  __HAS_NAME "new_image"
  __HAS_CLASS "Gimp"
__END

__MATCH_WINDOW __BGN
  __NAME GIMP_SAVE_IMAGE
  __USE_BORDER TRANSIENT
  __HAS_NAME "save_image"
  __HAS_CLASS "Gimp"
__END

__MATCH_WINDOW __BGN
  __NAME GIMP_LOAD_IMAGE
  __USE_BORDER TRANSIENT
  __HAS_NAME "load_image"
  __HAS_CLASS "Gimp"
__END

__MATCH_WINDOW __BGN
  __NAME GIMP_SCALE_IMAGE
  __USE_BORDER TRANSIENT_FIXED_GTK
  __HAS_NAME "scale_image"
  __HAS_CLASS "Gimp"
__END

__MATCH_WINDOW __BGN
  __NAME GIMP_RESIZE_IMAGE
  __USE_BORDER TRANSIENT_FIXED_GTK
  __HAS_NAME "resize_image"
  __HAS_CLASS "Gimp"
__END

__MATCH_WINDOW __BGN
  __NAME GIMP_SCREENSHOT
  __USE_BORDER TRANSIENT_FIXED_GTK
  __HAS_NAME "screenshot"
  __HAS_CLASS "Gimp"
__END

__MATCH_WINDOW __BGN
  __NAME GIMP_PNG
  __USE_BORDER TRANSIENT_FIXED_GTK
  __HAS_NAME "png"
  __HAS_CLASS "Png"
__END

__MATCH_WINDOW __BGN
  __NAME GIMP_PNG_2
  __USE_BORDER TRANSIENT_FIXED_GTK
  __HAS_NAME "png"
  __HAS_CLASS "Gimp"
__END

__MATCH_WINDOW __BGN
  __NAME GIMP_JPEG
  __USE_BORDER TRANSIENT_FIXED_GTK
  __HAS_NAME "jpeg"
  __HAS_CLASS "Jpeg"
__END

__MATCH_WINDOW __BGN
  __NAME GIMP_JPEG_2
  __USE_BORDER TRANSIENT_FIXED_GTK
  __HAS_NAME "jpeg"
  __HAS_CLASS "Gimp"
__END

__MATCH_WINDOW __BGN
  __NAME GIMP_GIF
  __USE_BORDER TRANSIENT_FIXED_GTK
  __HAS_NAME "gif"
  __HAS_CLASS "Gif"
__END

__MATCH_WINDOW __BGN
  __NAME GIMP_GIF_2
  __USE_BORDER TRANSIENT_FIXED_GTK
  __HAS_NAME "gif"
  __HAS_CLASS "Gimp"
__END

__MATCH_WINDOW __BGN
  __NAME GIMP_XBM
  __USE_BORDER TRANSIENT_FIXED_GTK
  __HAS_NAME "xbm"
  __HAS_CLASS "Xbm"
__END

__MATCH_WINDOW __BGN
  __NAME GIMP_XBM_2
  __USE_BORDER TRANSIENT_FIXED_GTK
  __HAS_NAME "xbm"
  __HAS_CLASS "Gimp"
__END

__MATCH_WINDOW __BGN
  __NAME GIMP_COLOR_SEL
  __USE_BORDER TRANSIENT_FIXED_GTK
  __HAS_NAME "color_selection"
  __HAS_CLASS "Gimp"
__END

__MATCH_WINDOW __BGN
  __NAME GIMP_MESSAGE
  __USE_BORDER TRANSIENT_FIXED_GTK
  __HAS_NAME "gimp_message"
  __HAS_CLASS "Gimp"
__END

__MATCH_WINDOW __BGN
  __NAME GIMP_TIP_OF_THE_DAY
  __USE_BORDER TRANSIENT_FIXED_GTK
  __HAS_NAME "tip_of_the_day"
  __HAS_CLASS "Gimp"
__END

__MATCH_WINDOW __BGN
  __NAME GIMP_TIP_OF_THE_DAY
  __USE_BORDER TRANSIENT
  __HAS_NAME "brush_selection"
  __HAS_CLASS "Gimp"
__END

__MATCH_WINDOW __BGN
  __NAME GIMP_LAYERS_AND_CHANNELS
  __USE_BORDER TRANSIENT
  __HAS_NAME "layers_and_channels"
  __HAS_CLASS "Gimp"
__END

__MATCH_WINDOW __BGN
  __NAME GIMP_LAYERS_CHANNELS_PATHS
  __USE_BORDER TRANSIENT
  __HAS_NAME "layers_channels_paths"
  __HAS_CLASS "Gimp"
__END

__MATCH_WINDOW __BGN
  __NAME GIMP_FILE_EXISTS
  __USE_BORDER TRANSIENT_FIXED_GTK
  __HAS_NAME "file_exists"
  __HAS_CLASS "Gimp"
__END

__MATCH_WINDOW __BGN
  __NAME GIMP_REALLY_CLOSE
  __USE_BORDER TRANSIENT_FIXED_GTK
  __HAS_NAME "really_close"
  __HAS_CLASS "Gimp"
__END

__MATCH_WINDOW __BGN
  __NAME GIMP_INDEXED_COLOR_CONV
  __USE_BORDER TRANSIENT_FIXED_GTK
  __HAS_NAME "indexed_color_conversion"
  __HAS_CLASS "Gimp"
__END

__MATCH_WINDOW __BGN
  __NAME GIMP_EXPORT_FILE
  __USE_BORDER TRANSIENT_FIXED_GTK
  __HAS_NAME "export_file"
  __HAS_CLASS "Gimp"
__END

__MATCH_WINDOW __BGN
  __NAME GIMP_STARTUP
  __USE_BORDER TRANSIENT_FIXED_GTK
  __HAS_NAME "gimp_startup"
  __HAS_CLASS "Gimp"
__END

__MATCH_WINDOW __BGN
  __NAME GIMP_PLUG_IN_PROGRESS
  __USE_BORDER TRANSIENT_FIXED_GTK
  __HAS_NAME "plug_in_progress"
  __HAS_CLASS "Gimp"
__END

__MATCH_WINDOW __BGN
  __NAME GIMP_EDIT_LAYER_ATTRIBS
  __USE_BORDER TRANSIENT_FIXED_GTK
  __HAS_NAME "edit_layer_attributes"
  __HAS_CLASS "Gimp"
__END

__MATCH_WINDOW __BGN
  __NAME GIMP_TOOL_OPTIONS
  __USE_BORDER TRANSIENT_FIXED_GTK
  __HAS_NAME "tool_options"
  __HAS_CLASS "Gimp"
__END

__MATCH_WINDOW __BGN
  __NAME GIMP_ABOUT_DIALOG
  __USE_BORDER TRANSIENT_FIXED_GTK
  __HAS_NAME "about_dialog"
  __HAS_CLASS "Gimp"
__END

__MATCH_WINDOW __BGN
  __NAME GIMP_INDEXED_COLOR_PALETTE
  __USE_BORDER TRANSIENT_FIXED_GTK
  __HAS_NAME "indexed_color_palette"
  __HAS_CLASS "Gimp"
__END

__MATCH_WINDOW __BGN
  __NAME GIMP_PATTERN_SELECTION
  __USE_BORDER TRANSIENT
  __HAS_NAME "pattern_selection"
  __HAS_CLASS "Gimp"
__END

__MATCH_WINDOW __BGN
  __NAME GIMP_GRADIENT_SELECTION
  __USE_BORDER TRANSIENT
  __HAS_NAME "gradient_selection"
  __HAS_CLASS "Gimp"
__END

__MATCH_WINDOW __BGN
  __NAME GIMP_COLOR_PALETTE
  __USE_BORDER TRANSIENT
  __HAS_NAME "color_palette"
  __HAS_CLASS "Gimp"
__END

__MATCH_WINDOW __BGN
  __NAME GIMP_COLOR_PALETTE_EDIT
  __USE_BORDER TRANSIENT
  __HAS_NAME "color_palette_edit"
  __HAS_CLASS "Gimp"
__END

__MATCH_WINDOW __BGN
  __NAME GIMP_GRADIENT_EDITOR
  __USE_BORDER TRANSIENT
  __HAS_NAME "gradient_editor"
  __HAS_CLASS "Gimp"
__END

__MATCH_WINDOW __BGN
  __NAME GIMP_INPUT
  __USE_BORDER TRANSIENT_FIXED_GTK
  __HAS_TITLE "Input"
  __HAS_NAME "gimp"
  __HAS_CLASS "Gimp"
__END

__MATCH_WINDOW __BGN
  __NAME GIMP_DEVICE_STATUS
  __USE_BORDER TRANSIENT_FIXED_GTK
  __HAS_NAME "device_status"
  __HAS_CLASS "Gimp"
__END

__MATCH_WINDOW __BGN
  __NAME GIMP_DEVICE_STATUS
  __USE_BORDER TRANSIENT_FIXED_GTK
  __HAS_NAME "device_status"
  __HAS_CLASS "Gimp"
__END

__MATCH_WINDOW __BGN
  __NAME GIMP_ERROR_CONSOLE
  __USE_BORDER TRANSIENT
  __HAS_NAME "error_console"
  __HAS_CLASS "Gimp"
__END

__MATCH_WINDOW __BGN
  __NAME GIMP_QUERY_BOX
  __USE_BORDER TRANSIENT_FIXED_GTK
  __HAS_NAME "query_box"
  __HAS_CLASS "Gimp"
__END

__MATCH_WINDOW __BGN
  __NAME GIMP_PLUGIN_DETAILS
  __USE_BORDER TRANSIENT
  __HAS_NAME "plugindetails"
  __HAS_CLASS "Gimp"
__END

__MATCH_WINDOW __BGN
  __NAME GIMP_MODULE_DB_DIALOG
  __USE_BORDER TRANSIENT
  __HAS_NAME "module_db_dialog"
  __HAS_CLASS "Gimp"
__END

__MATCH_WINDOW __BGN
  __NAME GIMP_PALETTE_SELECTION
  __USE_BORDER TRANSIENT
  __HAS_NAME "palette_selection"
  __HAS_CLASS "Gimp"
__END

__MATCH_WINDOW __BGN
  __NAME GIMP_PALETTE_SELECTION
  __USE_BORDER TRANSIENT
  __HAS_TITLE "Create Directory"
  __HAS_NAME "gimp"
  __HAS_CLASS "Gimp"
__END

__MATCH_WINDOW __BGN
  __NAME GIMP_GDYNTEXT
  __USE_BORDER TRANSIENT
  __HAS_NAME "gdyntext"
  __HAS_CLASS "Gdyntext"
__END

__MATCH_WINDOW __BGN
  __NAME GIMP_UNITEDITOR
  __USE_BORDER TRANSIENT
  __HAS_NAME "uniteditor"
  __HAS_CLASS "Gimp"
__END

/* End GIMP Dialogs and Windows */
