#include <definitions>
__E_CFG_VERSION 0

/* Maintained at themes.effx.us
   $Id$ */

BEGIN_BACKGROUND(STARTUP_BACKGROUND)
  SET_SOLID("232 234 232")
  ADD_BACKGROUND_SCALED("artwork/backgrounds/startup.jpg")
END_BACKGROUND

__ICLASS __BGN
  __NAME STARTUP_BAR
  __NORMAL "artwork/dragbar_startup.png"
  __EDGE_SCALING 4 2 4 2
__END

/* Progress bar stuff needed to be able to start and look decent */
__ICLASS __BGN
  __NAME PROGRESS_BAR
/* normal used for text background */
  __NORMAL  "artwork/border_titlebar_normal_active.png"
  __EDGE_SCALING 4 2 4 2
/* used for numeric bg */
  __CLICKED "artwork/border_titlebar_normal_active.png"
  __EDGE_SCALING 4 2 4 2
/* used for bar itself */
  __NORMAL_ACTIVE  "artwork/border_titlebar_normal_active.png"
  __EDGE_SCALING 4 2 4 2
  __PADDING 8 8 0 2
__END

__TCLASS __BGN
  __NAME PROGRESS_TEXT
  __NORMAL "gilb____/8"
  __DRAWING_EFFECT __EFFECT_SHADOW
  __FORGROUND_COLOR 232 234 232
  __BACKGROUND_COLOR 0 0 0
  __JUSTIFICATION 0
__END

__TCLASS __BGN
  __NAME PROGRESS_TEXT_NUMBER
  __NORMAL "gilb____/8"
  __DRAWING_EFFECT __EFFECT_SHADOW
  __FORGROUND_COLOR 232 234 232
  __BACKGROUND_COLOR 0 0 0
  __JUSTIFICATION 512
__END

