#include <definitions>
__E_CFG_VERSION 1

BEGIN_BACKGROUND(STARTUP_BACKGROUND)
  SET_SOLID("232 234 232")
  ADD_BACKGROUND_SCALED("artwork/backgrounds/startup.jpg")
END_BACKGROUND

BEGIN_IMAGE(STARTUP_BAR)
  IMAGE_NORMAL("artwork/dragbar_startup.png", __STRETCH, 4, 2, 4, 2)
END_IMAGE

BEGIN_IMAGE(PROGRESS_BAR)
  IMAGE_NORMAL("artwork/border_titlebar_normal_active.png", __STRETCH, 4, 2, 4, 2)
  IMAGE_CLICKED("artwork/border_titlebar_normal_active.png", __STRETCH, 4, 2, 4, 2)
  IMAGE_NORMAL_ACTIVE("artwork/border_titlebar_normal_active.png", __STRETCH, 4, 2, 4, 2)
  IMAGE_PADDING(8, 8, 0, 2)
END_IMAGE

BEGIN_TEXT(PROGRESS_TEXT)
  TEXT_NORMAL("*font-init", __EFFECT_SHADOW, 232 234 232, 0 0 0)
  TEXT_JUSTIFY_LEFT
END_TEXT

BEGIN_TEXT(PROGRESS_TEXT_NUMBER)
  TEXT_NORMAL("*font-init", __EFFECT_SHADOW, 232 234 232, 0 0 0)
  TEXT_JUSTIFY_CENTER
END_TEXT

