#include <definitions>
__E_CFG_VERSION 1

BEGIN_BACKGROUND("STARTUP_BACKGROUND")
  SET_SOLID("30 30 90")
  ADD_BACKGROUND_TILED_SCALED_VERTICALLY("artwork/bg_v.png")
END_BACKGROUND

BEGIN_IMAGE(STARTTUP_BAR)
  IMAGE_NORMAL("artwork/bt1.png", __STRETCH, 0, 0, 0, 0)
END_IMAGE

BEGIN_IMAGE(PROGRESS_BAR)
  IMAGE_NORMAL("artwork/mb1.png", __STRETCH, 6, 22, 1, 1)
  IMAGE_CLICKED("artwork/mb1.png", __STRETCH, 6, 22, 1, 1)
  IMAGE_NORMAL_ACTIVE("artwork/mb4.png", __STRETCH, 6, 22, 1, 1)
  IMAGE_PADDING(6, 22, 1, 1)
END_IMAGE

BEGIN_TEXT("PROGRESS_TEXT")
  TEXT_NORMAL("*font-init", __EFFECT_SHADOW, 0 0 0, 180 180 180)
  TEXT_JUSTIFY_LEFT
END_TEXT

BEGIN_TEXT("PROGRESS_TEXT_NUMBER")
  TEXT_NORMAL("*font-init", __EFFECT_SHADOW, 0 0 0, 180 180 180)
  TEXT_JUSTIFY_CENTER
END_TEXT

