#include <definitions>
__E_CFG_VERSION 0

/* Maintained at theming.effishiency.com
   $Id$ */

#include <borders/borderless.cfg>
#include <borders/default.cfg>
#include <borders/eterm.cfg>
#include <borders/fixed.cfg>
#include <borders/iconbox.cfg>
#include <borders/menu.cfg>
#include <borders/pager.cfg>
#include <borders/pagerleft.cfg>
#include <borders/pagerright.cfg>
#include <borders/side.cfg>
#include <borders/transient.cfg>

