#include <definitions>
__E_CFG_VERSION 0

/* Maintained at theming.effishiency.com
   $Id$ */

DEFINE_TOOLTIP("DEFAULT", "TT_MAIN", "TT_BLANK", "TT_BLANK", "TT_BLANK", "TT_BLANK", "TEXT1", 5)
DEFINE_TOOLTIP("ICONBOX", "TT_MAIN", "TT_BLANK", "TT_BLANK", "TT_BLANK", "TT_BLANK", "TEXT1", 5)
DEFINE_TOOLTIP("PAGER", "TT_MAIN", "TT_BLANK", "TT_BLANK", "TT_BLANK", "TT_BLANK", "TEXT1", 5)

