#include <definitions>
__E_CFG_VERSION 1

USE_BORDER_FOR_CLIENT_WITH_TITLE("The GIMP", "MENU_BORDER")
USE_BORDER_FOR_CLIENT_WITH_TITLE("*XFlame*", "MENU_BORDER")
USE_BORDER_FOR_CLIENT_WITH_TITLE("*MpegTV*", "MENU_BORDER")
USE_BORDER_FOR_CLIENT_WITH_TITLE("Volume Meter", "MENU_BORDER")
USE_BORDER_FOR_CLIENT_WITH_TITLE("T O L V A", "MENU_BORDER")

