#include <definitions>
__E_CFG_VERSION 1

BEGIN_FONTS
  font-coords "chromolt/11"
  font-default "chromolt/11"
  font-dialog "-*-helvetica-medium-r-*-*-10-*-*-*-*-*-*-*"
  font-dialog-hilite "-*-helvetica-medium-r-*-*-10-*-*-*-*-*-*-*"
  font-init "zirkle/9"
  font-menu "-*-lucida-medium-r-normal-*-*-100-*-*-p-*-iso8859-1"
  font-tooltip "chromolt/11"
END_FONTS

