#include <definitions>
__E_CFG_VERSION 1

#include <borders/borderless.cfg>
#include <borders/default.cfg>
#include <borders/dialog.cfg>
#include <borders/fixed_size.cfg>
#include <borders/iconbox.cfg>
#include <borders/menu.cfg>
#include <borders/pager.cfg>
#include <borders/pager_right.cfg>
#include <borders/transient.cfg>
