#include <definitions>
__E_CFG_VERSION 1

NORMAL_MENU_STYLE_VERTICAL("DEFAULT", "MENU", "MENU", "M1", "M2", "M3", 25)
NORMAL_MENU_STYLE_VERTICAL("EMPTY", "BORDERLESS", "MENU", "M1", "M2", "M3", 25)
NORMAL_MENU_STYLE_VERTICAL("ROOT", "MENU", "MENU", "M1", "M2", "M3", 40)

