#include <definitions>
__E_CFG_VERSION 1

BEGIN_TEXT("WARPFOCUS")
  TEXT_NORMAL("-*-vizung-medium-r-normal-*-*-120-*-*-p-*-*-*", __EFFECT_SHADOW, 60 50 70, 230 200 255)
  TEXT_JUSTIFY_LEFT
END_TEXT

BEGIN_TEXT("COORDS")
  TEXT_NORMAL("-*-vizung-medium-r-normal-*-*-120-*-*-p-*-*-*", __EFFECT_SHADOW, 60 50 70, 230 200 255)
  TEXT_JUSTIFY_CENTER
END_TEXT

BEGIN_TEXT("DIALOG")
  TEXT_NORMAL("-*-vizung-medium-r-normal-*-*-120-*-*-p-*-*-*", __EFFECT_NONE, 90 90 90, 220 220 220)
  TEXT_JUSTIFY_CENTER
END_TEXT

BEGIN_TEXT("DIALOG_WIDGET_BUTTON")
  TEXT_NORMAL("-*-vizung-medium-r-normal-*-*-120-*-*-p-*-*-*", __EFFECT_SHADOW, 90 90 90, 187 187 187)
  TEXT_HILITED("-*-vizung-medium-r-normal-*-*-120-*-*-p-*-*-*", __EFFECT_SHADOW, 60 60 60, 187 187 187)
  TEXT_JUSTIFY_CENTER
END_TEXT

BEGIN_TEXT("DIALOG_WIDGET_CHECK_BUTTON")
  TEXT_NORMAL("-*-vizung-medium-r-normal-*-*-120-*-*-p-*-*-*", __EFFECT_NONE, 90 90 90, 220 220 220)
  TEXT_JUSTIFY_LEFT
END_TEXT

BEGIN_TEXT("DIALOG_WIDGET_RADIO_BUTTON")
  TEXT_NORMAL("-*-vizung-medium-r-normal-*-*-120-*-*-p-*-*-*", __EFFECT_NONE, 90 90 90, 220 220 220)
  TEXT_JUSTIFY_LEFT
END_TEXT

BEGIN_TEXT("DIALOG_WIDGET_TEXT")
  TEXT_NORMAL("-*-vizung-medium-r-normal-*-*-120-*-*-p-*-*-*", __EFFECT_NONE, 90 90 90, 220 220 220)
  TEXT_JUSTIFY_CENTER
END_TEXT

BEGIN_TEXT("PAGER_WINDOW_TITLE")
  TEXT_NORMAL("-*-vizung-medium-r-normal-*-*-120-*-*-p-*-*-*", __EFFECT_NONE, 90 90 90, 220 220 220)
  TEXT_JUSTIFY_LEFT
END_TEXT

BEGIN_TEXT("DIALOG_BUTTON")
  TEXT_NORMAL("-*-vizung-medium-r-normal-*-*-120-*-*-p-*-*-*", __EFFECT_SHADOW, 90 90 90, 187 187 187)
  TEXT_HILITED("-*-vizung-medium-r-normal-*-*-120-*-*-p-*-*-*", __EFFECT_SHADOW, 60 60 60, 187 187 187)
  TEXT_JUSTIFY_CENTER
END_TEXT

BEGIN_TEXT("EPPLET_LABEL")
  TEXT_NORMAL("-*-lucida-medium-r-normal-*-*-120-*-*-p-*-iso8859-1", __EFFECT_SHADOW, 60 60 60, 220 220 220)
END_TEXT

BEGIN_TEXT("EPPLET_BUTTON")
  TEXT_NORMAL("-*-lucida-medium-r-normal-*-*-80-*-*-p-*-iso8859-1", __EFFECT_SHADOW, 60 60 60, 220 220 220)
END_TEXT

BEGIN_TEXT("EPPLET_TOGGLEBUTTON_ON")
  TEXT_NORMAL("-*-lucida-medium-r-normal-*-*-80-*-*-p-*-iso8859-1", __EFFECT_SHADOW, 60 60 60, 220 220 220)
END_TEXT

BEGIN_TEXT("EPPLET_TOGGLEBUTTON_OFF")
  TEXT_NORMAL("-*-lucida-medium-r-normal-*-*-80-*-*-p-*-iso8859-1", __EFFECT_SHADOW, 60 60 60, 220 220 220)
END_TEXT

BEGIN_TEXT("EPPLET_POPUP")
  TEXT_NORMAL("-*-lucida-medium-r-normal-*-*-80-*-*-p-*-iso8859-1", __EFFECT_SHADOW, 60 60 60, 220 220 220)
END_TEXT

BEGIN_TEXT("EPPLET_TEXT_TINY")
  TEXT_NORMAL("-*-lucida-medium-r-normal-*-*-80-*-*-p-*-iso8859-1", __EFFECT_SHADOW, 60 60 60, 220 220 220)
END_TEXT

BEGIN_TEXT("EPPLET_TEXT_MEDIUM")
  TEXT_NORMAL("-*-lucida-bold-r-normal-*-*-100-*-*-p-*-iso8859-1", __EFFECT_SHADOW, 60 60 60, 220 220 220)
END_TEXT

BEGIN_TEXT("EPPLET_TEXT_LARGE")
  TEXT_NORMAL("-*-lucida-bold-r-normal-*-*-120-*-*-p-*-iso8859-1", __EFFECT_SHADOW, 60 60 60, 220 220 220)
END_TEXT

BEGIN_TEXT("ICONBOX_WINDOW_TITLE")
  TEXT_NORMAL("-*-vizung-medium-r-normal-*-*-120-*-*-p-*-*-*", __EFFECT_SHADOW, 60 50 70, 230 200 255)
  TEXT_JUSTIFY_CENTER
END_TEXT

BEGIN_TEXT("TT_TEXT")
  TEXT_NORMAL("-*-vizung-medium-r-normal-*-*-120-*-*-p-*-*-*", __EFFECT_SHADOW, 40 40 40, 180 150 200)
  TEXT_JUSTIFY_LEFT
END_TEXT

BEGIN_TEXT("MENU")
  TEXT_NORMAL("-*-vizung-medium-r-normal-*-*-120-*-*-p-*-*-*", __EFFECT_NONE, 90 90 90, 220 220 220)
  TEXT_HILITED("-*-vizung-medium-r-normal-*-*-120-*-*-p-*-*-*", __EFFECT_NONE, 60 60 60, 0 76 0)
  TEXT_JUSTIFY_LEFT
END_TEXT

BEGIN_TEXT("PAGER_WINDOW_TITLE")
  TEXT_NORMAL("-*-vizung-medium-r-normal-*-*-120-*-*-p-*-*-*", __EFFECT_SHADOW, 40 40 40, 180 150 200)
  TEXT_JUSTIFY_LEFT
END_TEXT

BEGIN_TEXT("TITLE")
  TEXT_NORMAL("runstop/8", __EFFECT_NONE, 135 175 120, 0 0 0)
  TEXT_NORMAL_ACTIVE("runstop/8", __EFFECT_SHADOW, 215 255 200, 0 76 0)
  TEXT_NORMAL_STICKY("-artwiz-mintsstrong-medium-r-normal--8-80-75-75-p-100-iso8859-1", __EFFECT_NONE, 135 175 120, 0 0 0)
  TEXT_NORMAL_ACTIVE_STICKY("-artwiz-mintsstrong-medium-r-normal--8-80-75-75-p-100-iso8859-1", __EFFECT_SHADOW, 215 255 200, 0 76 0)
  TEXT_JUSTIFY_LEFT
END_TEXT

BEGIN_TEXT("TEXT_CENTER")
  TEXT_NORMAL("electroh/10", __NONE, 90 90 90, 0 0 0)
  TEXT_NORMAL_ACTIVE("electroh/10", __NONE, 70 60 80, 0 0 0)
  TEXT_JUSTIFY_CENTER
END_TEXT

BEGIN_TEXT("TEXT_CMENU")
  TEXT_NORMAL("electroh/10", __NONE, 70 60 80, 0 0 0)
  TEXT_NORMAL_ACTIVE("electroh/10", __NONE, 70 60 80, 0 0 0)
  TEXT_JUSTIFY_CENTER
END_TEXT

BEGIN_TEXT("TEXT_LEFT")
  TEXT_NORMAL("electroh/10", __NONE, 90 90 90, 0 0 0)
  TEXT_NORMAL_ACTIVE("electroh/10", __NONE, 70 60 80, 0 0 0)
  TEXT_ORIENTATION(__FONT_TO_UP)
  TEXT_JUSTIFY_CENTER
END_TEXT

BEGIN_TEXT("TEXT_RIGHT")
  TEXT_NORMAL("electroh/10", __NONE, 90 90 90, 0 0 0)
  TEXT_NORMAL_ACTIVE("electroh/10", __NONE, 70 60 80, 0 0 0)
  TEXT_ORIENTATION(__FONT_TO_DOWN)
  TEXT_JUSTIFY_CENTER
END_TEXT

BEGIN_TEXT("MTITLE")
  TEXT_NORMAL("-*-mints-strong-r-normal-*-*-90-*-*-p-*-*-*", __EFFECT_SHADOW, 215 255 200, 0 76 0)
  TEXT_JUSTIFY_CENTER
END_TEXT

