/* top resize bar */
  __BORDER_PART __BGN
    __ICLASS ST
    __ACLASS ACTION_RESIZE_V
    __CURSOR RESIZE_V
    __FLAGS __FLAG_TITLE
    __MIN_WIDTH 2
    __MIN_HEIGHT BORDER_SIZE
    __MAX_HEIGHT BORDER_SIZE
    __MAX_WIDTH 99999
    __TOPLEFT_ORIGIN -1
    __TOPLEFT_X_PERCENTAGE  0
    __TOPLEFT_X_ABSOLUTE  BORDER_SIZE
    __TOPLEFT_Y_PERCENTAGE  0
    __TOPLEFT_Y_ABSOLUTE  0
    __BOTTOMRIGHT_ORIGIN -1
    __BOTTOMRIGHT_X_PERCENTAGE  1024
    __BOTTOMRIGHT_X_ABSOLUTE  -BORDER_SIZE_1
    __BOTTOMRIGHT_Y_PERCENTAGE  0
    __BOTTOMRIGHT_Y_ABSOLUTE  BORDER_SIZE
    __KEEP_WHEN_SHADED __ON
  __END


/* bottom resize bar */
  __BORDER_PART __BGN
    __ICLASS SB
    __ACLASS ACTION_RESIZE_V
    __CURSOR RESIZE_V
    __MIN_WIDTH 0
    __MAX_WIDTH 99999
    __MIN_HEIGHT BORDER_SIZE
    __MAX_HEIGHT BORDER_SIZE
    __TOPLEFT_ORIGIN -1
    __TOPLEFT_X_PERCENTAGE  0
    __TOPLEFT_X_ABSOLUTE  BORDER_SIZE
    __TOPLEFT_Y_PERCENTAGE  1024
    __TOPLEFT_Y_ABSOLUTE  -BORDER_SIZE
    __BOTTOMRIGHT_ORIGIN -1
    __BOTTOMRIGHT_X_PERCENTAGE  1024
    __BOTTOMRIGHT_X_ABSOLUTE  -BORDER_SIZE_1
    __BOTTOMRIGHT_Y_PERCENTAGE  1024
    __BOTTOMRIGHT_Y_ABSOLUTE  -1
    __KEEP_WHEN_SHADED __ON
  __END


/* right resize bar */
  __BORDER_PART __BGN
    __ICLASS SR
    __ACLASS ACTION_RESIZE_H
    __CURSOR RESIZE_H
    __MIN_WIDTH BORDER_SIZE
    __MAX_WIDTH BORDER_SIZE
    __MIN_HEIGHT 0
    __MAX_HEIGHT 99999
    __TOPLEFT_ORIGIN -1
    __TOPLEFT_X_PERCENTAGE  1024
    __TOPLEFT_X_ABSOLUTE  -BORDER_SIZE
    __TOPLEFT_Y_PERCENTAGE  0
    __TOPLEFT_Y_ABSOLUTE  BORDER_SIZE
    __BOTTOMRIGHT_ORIGIN -1
    __BOTTOMRIGHT_X_PERCENTAGE  1024
    __BOTTOMRIGHT_X_ABSOLUTE  -1
    __BOTTOMRIGHT_Y_PERCENTAGE  1024
    __BOTTOMRIGHT_Y_ABSOLUTE  -BORDER_SIZE_1
    __KEEP_WHEN_SHADED __ON
  __END

/* left resize bar */
  __BORDER_PART __BGN
    __ICLASS SL
    __ACLASS ACTION_RESIZE_H
    __CURSOR RESIZE_H
    __MIN_WIDTH BORDER_SIZE
    __MAX_WIDTH BORDER_SIZE
    __MIN_HEIGHT 0
    __MAX_HEIGHT 99999
    __TOPLEFT_ORIGIN -1
    __TOPLEFT_X_PERCENTAGE  0
    __TOPLEFT_X_ABSOLUTE  0
    __TOPLEFT_Y_PERCENTAGE  0
    __TOPLEFT_Y_ABSOLUTE  BORDER_SIZE
    __BOTTOMRIGHT_ORIGIN -1
    __BOTTOMRIGHT_X_PERCENTAGE  0
    __BOTTOMRIGHT_X_ABSOLUTE  BORDER_SIZE
    __BOTTOMRIGHT_Y_PERCENTAGE  1024
    __BOTTOMRIGHT_Y_ABSOLUTE  -BORDER_SIZE_1
    __KEEP_WHEN_SHADED __ON
  __END


#include <borders/corners.cfg>
