__BORDER __BGN
  __NAME PAGER_BOTTOM
  __BORDER_SIZE_LEFT BORDER_SIZE
  __BORDER_SIZE_RIGHT BORDER_SIZE
  __BORDER_SIZE_TOP TITLE_AND_BORDER
  __BORDER_SIZE_BOTTOM BORDER_SIZE
  __SHADE_DIRECTION __DOWN
  __CHANGES_SHAPE __OFF

/* the titlebar */
  __BORDER_PART __BGN
    __ICLASS TB
    __ACLASS ACTION_MOVE
    __TCLASS WINDOW_TITLE_TEXT1
/*    __CURSOR MOVE */
    __FLAGS __FLAG_TITLE
    __MIN_WIDTH 2
    __MIN_HEIGHT TITLE_SIZE
    __MAX_HEIGHT TITLE_SIZE
    __MAX_WIDTH 99999
    __TOPLEFT_ORIGIN -1
    __TOPLEFT_X_PERCENTAGE  0
    __TOPLEFT_X_ABSOLUTE  4
    __TOPLEFT_Y_PERCENTAGE  0
    __TOPLEFT_Y_ABSOLUTE  BORDER_SIZE
    __BOTTOMRIGHT_ORIGIN -1
    __BOTTOMRIGHT_X_PERCENTAGE  1024
    __BOTTOMRIGHT_X_ABSOLUTE  -4
    __BOTTOMRIGHT_Y_PERCENTAGE  0
    __BOTTOMRIGHT_Y_ABSOLUTE  TITLE_AND_BORDER
    __KEEP_WHEN_SHADED __ON
  __END


/* left side resize bar */
  __BORDER_PART __BGN
    __ICLASS SL
    __ACLASS ACTION_RESIZE_H
    __CURSOR RESIZE_H
    __MIN_WIDTH BORDER_SIZE
    __MAX_WIDTH BORDER_SIZE
    __MIN_HEIGHT 0
    __MAX_HEIGHT 99999
    __TOPLEFT_ORIGIN -1
    __TOPLEFT_X_PERCENTAGE  0
    __TOPLEFT_X_ABSOLUTE  0
    __TOPLEFT_Y_PERCENTAGE  0
    __TOPLEFT_Y_ABSOLUTE  BORDER_SIZE
    __BOTTOMRIGHT_ORIGIN -1
    __BOTTOMRIGHT_X_PERCENTAGE  0
    __BOTTOMRIGHT_X_ABSOLUTE  1
    __BOTTOMRIGHT_Y_PERCENTAGE  1024
    __BOTTOMRIGHT_Y_ABSOLUTE  -BORDER_SIZE_1
    __KEEP_WHEN_SHADED __ON
  __END

#include <borders/edges.cfg>
