#include <definitions>
__E_CFG_VERSION 0

/* Maintained at theming.effishiency.com
   $Id$ */

NORMAL_MENU_STYLE_VERTICAL("DEFAULT", "MENU", "TEXT2", "MENU_CENTER", "TITLE_BAR_MENU", "DEFAULT_MENU_SUB", 40)
NORMAL_MENU_STYLE_VERTICAL("DESK_MENU", "MENU", "TEXT2", "MENU_CENTER", "TITLE_BAR_MENU", "DEFAULT_MENU_SUB", 40)
NORMAL_MENU_STYLE_VERTICAL("ROOT", "MENU", "TEXT2", "MENU_CENTER", "TITLE_BAR_MENU", "DEFAULT_MENU_SUB", 40)
NORMAL_MENU_STYLE_VERTICAL("ROOT_IMAGE", "MENU", "TEXT2", "MENU_CENTER", "TITLE_BAR_MENU", "DEFAULT_MENU_SUB", 15)
NORMAL_MENU_STYLE_VERTICAL("EMPTY", "MENU", "TEXT2", "MENU_CENTER", "TITLE_BAR_MENU", "DEFAULT_MENU_SUB", 40)
NORMAL_MENU_STYLE_VERTICAL("TASK_MENU", "MENU", "TEXT2", "MENU_CENTER", "TITLE_BAR_MENU", "DEFAULT_MENU_SUB", 40)

