#include <definitions>
__E_CFG_VERSION 1

BEGIN_BACKGROUND(STARTUP_BACKGROUND)
  SET_SOLID("120 120 120")
END_BACKGROUND

BEGIN_IMAGE(STARTUP_BAR)
  IMAGE_NORMAL("artwork/dragbar/dragbar_horiz.png", __STRETCH, 1, 1, 1, 1)
END_IMAGE

BEGIN_IMAGE(PROGRESS_BAR)
  IMAGE_NORMAL("artwork/dialogs/bg.png", __STRETCH, 1, 1, 1, 1)
  IMAGE_NORMAL_ACTIVE("artwork/init/progress_bar.png", __STRETCH, 3, 3, 3, 3)
  IMAGE_PADDING(3, 3, 3, 3)
END_IMAGE

BEGIN_TEXT(PROGRESS_TEXT)
  TEXT_NORMAL("*font-init", __EFFECT_NONE, 255 255 255, 0 0 0)
  TEXT_JUSTIFY_CENTER
END_TEXT

BEGIN_TEXT(PROGRESS_TEXT_NUMBER)
  TEXT_NORMAL("*font-init", __EFFECT_NONE, 255 0 0, 180 180 180)
  TEXT_JUSTIFY_CENTER
END_TEXT

