#include <definitions>
__E_CFG_VERSION 1

#include <borders/borderless.cfg>
#include <borders/default.cfg>
#include <borders/fixed_scale.cfg>
#include <borders/pager_top.cfg>
#include <borders/startup.cfg>

