#include <definitions>
__E_CFG_VERSION 1

BEGIN_SOUND
  "SOUND_STARTUP" "audio/startup.wav"
  "SOUND_EXIT" "audio/shutdown.wav"
  "SOUND_ALERT" "audio/alert.wav"
  "SOUND_DESKTOP_SHUT" "audio/desktop-shut.wav"
  "SOUND_BUTTON_RAISE" "audio/button-raise.wav"
  "SOUND_BUTTON_CLICK" "audio/button-click.wav"
  "SOUND_WINDOW_CLOSE" "audio/window-shut.wav"
  "SOUND_WINDOW_STICK" "audio/window-stick.wav"
  "SOUND_WINDOW_UNSTICK" "audio/window-unstick.wav"
  "SOUND_WINDOW_SLIDE" "audio/window-slide.wav"
  "SOUND_WINDOW_SLIDE_END" "audio/window-slide-end.wav"
END_SOUND

