#include <definitions>
__E_CFG_VERSION 1

BEGIN_TEXT(COORDS)
  TEXT_NORMAL("*font-coords", __EFFECT_NONE, 20 20 20, 0 0 0)
  TEXT_JUSTIFY_CENTER
END_TEXT

BEGIN_TEXT(DIALOG)
  TEXT_NORMAL("*font-dialog", __EFFECT_NONE, 84 84 84, 0 0 0)
  TEXT_JUSTIFY_CENTER
END_TEXT

BEGIN_TEXT(DIALOG_BUTTON)
  TEXT_NORMAL("*font-dialog-hilite", __EFFECT_NONE, 20 20 20, 0 0 0)
  TEXT_JUSTIFY_CENTER
END_TEXT

BEGIN_TEXT(DIALOG_WIDGET_BUTTON)
  TEXT_NORMAL("*font-dialog-hilite", __EFFECT_NONE, 20 20 20, 0 0 0)
  TEXT_JUSTIFY_CENTER
END_TEXT

BEGIN_TEXT(DIALOG_WIDGET_CHECK_BUTTON)
  TEXT_NORMAL("*font-dialog", __EFFECT_NONE, 84 84 84, 0 0 0)
  TEXT_JUSTIFY_LEFT
END_TEXT

BEGIN_TEXT(DIALOG_WIDGET_RADIO_BUTTON)
  TEXT_NORMAL("*font-dialog", __EFFECT_NONE, 84 84 84, 0 0 0)
  TEXT_JUSTIFY_LEFT
END_TEXT

BEGIN_TEXT(DIALOG_WIDGET_TEXT)
  TEXT_NORMAL("*font-dialog", __EFFECT_NONE, 84 84 84, 0 0 0)
  TEXT_JUSTIFY_CENTER
END_TEXT

BEGIN_TEXT(EPPLET_BUTTON)
  TEXT_NORMAL("*font-epplet", __EFFECT_NONE, 20 20 20, 0 0 0)
END_TEXT

BEGIN_TEXT(EPPLET_LABEL)
  TEXT_NORMAL("*font-epplet", __EFFECT_NONE, 20 20 20, 0 0 0)
END_TEXT

BEGIN_TEXT(EPPLET_POPUP)
  TEXT_NORMAL("*font-epplet", __EFFECT_NONE, 20 20 20, 0 0 0)
END_TEXT

BEGIN_TEXT(EPPLET_TEXT_LARGE)
  TEXT_NORMAL("*font-epplet-large", __EFFECT_NONE, 20 20 20, 0 0 0)
END_TEXT

BEGIN_TEXT(EPPLET_TEXT_MEDIUM)
  TEXT_NORMAL("*font-epplet-medium", __EFFECT_NONE, 20 20 20, 0 0 0)
END_TEXT

BEGIN_TEXT(EPPLET_TEXT_TINY)
  TEXT_NORMAL("*font-epplet-small", __EFFECT_NONE, 20 20 20, 0 0 0)
END_TEXT

BEGIN_TEXT(EPPLET_TOGGLEBUTTON_OFF)
  TEXT_NORMAL("*font-epplet", __EFFECT_NONE, 20 20 20, 0 0 0)
END_TEXT

BEGIN_TEXT(EPPLET_TOGGLEBUTTON_ON)
  TEXT_NORMAL("*font-epplet", __EFFECT_NONE, 20 20 20, 0 0 0)
END_TEXT

BEGIN_TEXT(MENU_TEXT)
  TEXT_NORMAL("*font-menu", __EFFECT_NONE, 20 20 20, 0 0 0)
  TEXT_HILITED("*font-menu", __EFFECT_NONE, 158 88 32, 0 0 0)
  TEXT_CLICKED("*font-menu", __EFFECT_NONE, 254 222 136, 0 0 0)
  TEXT_JUSTIFY_RIGHT
END_TEXT

BEGIN_TEXT(TITLE)
  TEXT_NORMAL("*font-border", __EFFECT_NONE, 189 189 189, 0 0 0)
  TEXT_NORMAL_ACTIVE("*font-border", __EFFECT_SHADOW, 250 250 250, 47 68 85)
  TEXT_NORMAL_STICKY("*font-border", __EFFECT_NONE, 89 89 89, 0 0 0)
  TEXT_NORMAL_ACTIVE_STICKY("*font-border", __EFFECT_SHADOW, 47 68 85, 245 188 77)
  TEXT_JUSTIFY_RIGHT
END_TEXT

BEGIN_TEXT(TITLE_ACTIVE)
  TEXT_NORMAL("*font-border", __EFFECT_SHADOW, 250 250 250, 47 68 85)
  TEXT_JUSTIFY_RIGHT
END_TEXT

BEGIN_TEXT(TITLE_LEFT)
  TEXT_NORMAL("*font-border", __EFFECT_NONE, 189 189 189, 0 0 0)
  TEXT_ORIENTATION(__FONT_TO_UP)
  TEXT_NORMAL_ACTIVE("*font-border", __EFFECT_SHADOW, 250 250 250, 47 68 85)
  TEXT_ORIENTATION(__FONT_TO_UP)
  TEXT_NORMAL_STICKY("*font-border", __EFFECT_NONE, 189 189 189, 0 0 0)
  TEXT_ORIENTATION(__FONT_TO_UP)
  TEXT_NORMAL_ACTIVE_STICKY("*font-border", __EFFECT_SHADOW, 250 250 250, 47 68 85)
  TEXT_ORIENTATION(__FONT_TO_UP)
  TEXT_JUSTIFY_LEFT
END_TEXT

BEGIN_TEXT(TITLE_LEFT_ACTIVE)
  TEXT_NORMAL("*font-border", __EFFECT_SHADOW, 250 250 250, 47 68 85)
  TEXT_ORIENTATION(__FONT_TO_UP)
  TEXT_JUSTIFY_LEFT
END_TEXT

BEGIN_TEXT(TT_MINI_TEXT)
  TEXT_NORMAL("*font-tooltip", __EFFECT_NONE, 20 20 20, 0 0 0)
  TEXT_JUSTIFY_CENTER
END_TEXT

BEGIN_TEXT(TT_TEXT)
  TEXT_NORMAL("*font-tooltip", __EFFECT_NONE, 20 20 20, 0 0 0)
  TEXT_JUSTIFY_LEFT
END_TEXT

BEGIN_TEXT(WARPFOCUS)
  TEXT_NORMAL("*font-focus", __EFFECT_NONE, 20 20 20, 0 0 0)
  TEXT_JUSTIFY_CENTER
END_TEXT

