#include <definitions>
__E_CFG_VERSION 1

CURSOR(DEFAULT, 230 240 255, 50 30 25, "artwork/cursors/cursor.xbm")
CURSOR(MOVE, 230 240 255, 50 30 25, "artwork/cursors/cursor.xbm")
CURSOR(RESIZE_H, 84 102 128, 50 30 25, "artwork/cursors/resize_h.xbm")
CURSOR(RESIZE_V, 84 102 128, 50 30 25, "artwork/cursors/resize_v.xbm")
CURSOR(RESIZE_BR, 84 102 128, 50 30 25, "artwork/cursors/resize_br.xbm")
CURSOR(RESIZE_TR, 84 102 128, 50 30 25, "artwork/cursors/resize_tr.xbm")
CURSOR(KILL, 255 0 0, 0 0 0, "artwork/cursors/kill.xbm")
CURSOR(ICONIFY, 230 240 255, 50 30 25, "artwork/cursors/cursor.xbm")
