#include <definitions>
__E_CFG_VERSION 1

BEGIN_SOUND
  "SOUND_BUTTON_CLICK"     "audio/pop2.wav"
  "SOUND_BUTTON_RAISE"     "audio/pop5.wav"
  "SOUND_DESKTOP_SHUT"     "audio/zipperup.wav"
  "SOUND_WINDOW_CLOSE"     "audio/zap.wav"
  "SOUND_WINDOW_STICK"     "audio/splat.wav"
  "SOUND_WINDOW_UNSTICK"   "audio/stretch.wav"
  "SOUND_ALERT"            "audio/phaser.wav"
  "SOUND_WINDOW_SLIDE"     "audio/zing.wav"
END_SOUND

