#include <definitions>
__E_CFG_VERSION 0

/* Maintained at themes.effx.us
   $Id$ */

#include <borders/default.cfg>
#include <borders/transient.cfg>
#include <borders/nobuttons.cfg>
#include <borders/plainborder.cfg>
#include <borders/borderless.cfg>
#include <borders/menu.cfg>
#include <borders/pager_left.cfg>
#include <borders/iconbox.cfg>
#include <borders/left_title.cfg>











