#include <definitions>
__E_CFG_VERSION 1

BEGIN_BACKGROUND(STARTUP_BACKGROUND)
  SET_SOLID("100 70 40")
  ADD_BACKGROUND_TILED("artwork/backgrounds/bg.png")
  ADD_OVERLAY_IMAGE_CENTERED("artwork/backgrounds/name.png")
END_BACKGROUND

__ICLASS __BGN
  __NAME STARTUP_BAR
  __NORMAL "artwork/border/titlebar_2.png"
  __EDGE_SCALING 6 6 6 6 
__END

__ICLASS __BGN
  __NAME PROGRESS_BAR
  __NORMAL  "artwork/progressbar/bar.png"
  __EDGE_SCALING 10 10 3 3
  __CLICKED "artwork/progressbar/bar.png"
  __EDGE_SCALING 10 10 3 3
  __NORMAL_ACTIVE  "artwork/progressbar/progress_bar.png"
  __EDGE_SCALING 5 12 2 2
  __PADDING 2 2 2 2
__END

__TCLASS __BGN
  __NAME PROGRESS_TEXT
  __NORMAL "*font-init"
  __DRAWING_EFFECT __EFFECT_SHADOW
  __FORGROUND_COLOR 128 128 128
  __BACKGROUND_COLOR 30 30 30
  __JUSTIFICATION 0
__END

__TCLASS __BGN
  __NAME PROGRESS_TEXT_NUMBER
  __NORMAL "*font-init"
  __DRAWING_EFFECT __EFFECT_SHADOW
  __FORGROUND_COLOR 128 128 128
  __BACKGROUND_COLOR 30 30 30
  __JUSTIFICATION 512
__END

