#include <definitions>
__E_CFG_VERSION 1

/*
**********************************************
Type 1 Slideout Setup 
Open left for shade up windows  
**********************************************
*/

BEGIN_BUTTON(SLIDEOUT_BTN_MIN1, SLIDER_IMAGE_MIN, ACTION_ICONIFY)
  BUTTON_IS_INTERNAL
  BUTTON_USE_SIZE_OF_IMAGE
END_BUTTON

BEGIN_BUTTON(SLIDEOUT_BTN_MAX1, SLIDER_IMAGE_MAX, ACTION_MAX)
  BUTTON_IS_INTERNAL
  BUTTON_USE_SIZE_OF_IMAGE
END_BUTTON

BEGIN_BUTTON(SLIDEOUT_BTN_MAXW1, SLIDER_IMAGE_MAXW, ACTION_MAXW)
  BUTTON_IS_INTERNAL
  BUTTON_USE_SIZE_OF_IMAGE
END_BUTTON

BEGIN_BUTTON(SLIDEOUT_BTN_MAXH1, SLIDER_IMAGE_MAXH, ACTION_MAXH)
  BUTTON_IS_INTERNAL
  BUTTON_USE_SIZE_OF_IMAGE
END_BUTTON

BEGIN_BUTTON(SLIDEOUT_BTN_STICKY1, SLIDER_IMAGE_STICKY, ACTION_STICK)
  BUTTON_IS_INTERNAL
  BUTTON_USE_SIZE_OF_IMAGE
END_BUTTON

BEGIN_BUTTON(SLIDEOUT_BTN_SHADE_UP1, SLIDER_IMAGE_SHADE_UP, ACTION_SHADE)
  BUTTON_IS_INTERNAL
  BUTTON_USE_SIZE_OF_IMAGE
END_BUTTON

BEGIN_BUTTON(SLIDEOUT_BTN_KILL1, SLIDER_IMAGE_KILL, ACTION_KILL)
  BUTTON_IS_INTERNAL
  BUTTON_USE_SIZE_OF_IMAGE
END_BUTTON

BEGIN_BUTTON(SLIDEOUT_BTN_END_CAP_LEFTEND1, SLIDER_IMAGE_END_CAP_LEFTEND, ACTION_NULL)
  BUTTON_IS_INTERNAL
  BUTTON_USE_SIZE_OF_IMAGE
END_BUTTON

/*
**********************************************
Type 2 Slideout Setup 
Open left for shade down windows  
**********************************************
*/

BEGIN_BUTTON(SLIDEOUT_BTN_MIN2, SLIDER_IMAGE_MIN, ACTION_ICONIFY)
  BUTTON_IS_INTERNAL
  BUTTON_USE_SIZE_OF_IMAGE
END_BUTTON

BEGIN_BUTTON(SLIDEOUT_BTN_MAX2, SLIDER_IMAGE_MAX, EVOLUTION_ACTION_MAX)
  BUTTON_IS_INTERNAL
  BUTTON_USE_SIZE_OF_IMAGE
END_BUTTON

BEGIN_BUTTON(SLIDEOUT_BTN_MAXW2, SLIDER_IMAGE_MAXW, ACTION_MAXW)
  BUTTON_IS_INTERNAL
  BUTTON_USE_SIZE_OF_IMAGE
END_BUTTON

BEGIN_BUTTON(SLIDEOUT_BTN_MAXH2, SLIDER_IMAGE_MAXH, ACTION_MAXH)
  BUTTON_IS_INTERNAL
  BUTTON_USE_SIZE_OF_IMAGE
END_BUTTON

BEGIN_BUTTON(SLIDEOUT_BTN_STICKY2, SLIDER_IMAGE_STICKY, ACTION_STICK)
  BUTTON_IS_INTERNAL
  BUTTON_USE_SIZE_OF_IMAGE
END_BUTTON

BEGIN_BUTTON(SLIDEOUT_BTN_SHADE_DOWN2, SLIDER_IMAGE_SHADE_DOWN, ACTION_SHADE)
  BUTTON_IS_INTERNAL
  BUTTON_USE_SIZE_OF_IMAGE
END_BUTTON

BEGIN_BUTTON(SLIDEOUT_BTN_KILL2, SLIDER_IMAGE_KILL, ACTION_KILL)
  BUTTON_IS_INTERNAL
  BUTTON_USE_SIZE_OF_IMAGE
END_BUTTON

BEGIN_BUTTON(SLIDEOUT_BTN_END_CAP_LEFTEND2, SLIDER_IMAGE_END_CAP_LEFTEND, ACTION_NULL)
  BUTTON_IS_INTERNAL
  BUTTON_USE_SIZE_OF_IMAGE
END_BUTTON

/*
**********************************************
Type 3 Slideout Setup 
Open right for shade left windows  
**********************************************
*/

BEGIN_BUTTON(SLIDEOUT_BTN_MIN3, SLIDER_IMAGE_MIN, ACTION_ICONIFY)
  BUTTON_IS_INTERNAL
  BUTTON_USE_SIZE_OF_IMAGE
END_BUTTON

BEGIN_BUTTON(SLIDEOUT_BTN_MAX3, SLIDER_IMAGE_MAX, EVOLUTION_ACTION_MAX)
  BUTTON_IS_INTERNAL
  BUTTON_USE_SIZE_OF_IMAGE
END_BUTTON

BEGIN_BUTTON(SLIDEOUT_BTN_MAXW3, SLIDER_IMAGE_MAXW, ACTION_MAXW)
  BUTTON_IS_INTERNAL
  BUTTON_USE_SIZE_OF_IMAGE
END_BUTTON

BEGIN_BUTTON(SLIDEOUT_BTN_MAXH3, SLIDER_IMAGE_MAXH, ACTION_MAXH)
  BUTTON_IS_INTERNAL
  BUTTON_USE_SIZE_OF_IMAGE
END_BUTTON

BEGIN_BUTTON(SLIDEOUT_BTN_STICKY3, SLIDER_IMAGE_STICKY, ACTION_STICK)
  BUTTON_IS_INTERNAL
  BUTTON_USE_SIZE_OF_IMAGE
END_BUTTON

BEGIN_BUTTON(SLIDEOUT_BTN_SHADE_LEFT3, SLIDER_IMAGE_SHADE_LEFT, ACTION_SHADE)
  BUTTON_IS_INTERNAL
  BUTTON_USE_SIZE_OF_IMAGE
END_BUTTON

BEGIN_BUTTON(SLIDEOUT_BTN_KILL3, SLIDER_IMAGE_KILL, ACTION_KILL)
  BUTTON_IS_INTERNAL
  BUTTON_USE_SIZE_OF_IMAGE
END_BUTTON

BEGIN_BUTTON(SLIDEOUT_BTN_END_CAP_RIGHTEND3, SLIDER_IMAGE_END_CAP_RIGHTEND, ACTION_NULL)
  BUTTON_IS_INTERNAL
  BUTTON_USE_SIZE_OF_IMAGE
END_BUTTON

/*
**********************************************
Type 4 Slideout Setup 
Open right for shade right windows  
**********************************************
*/

BEGIN_BUTTON(SLIDEOUT_BTN_MIN4, SLIDER_IMAGE_MIN, ACTION_ICONIFY)
  BUTTON_IS_INTERNAL
  BUTTON_USE_SIZE_OF_IMAGE
END_BUTTON

BEGIN_BUTTON(SLIDEOUT_BTN_MAX4, SLIDER_IMAGE_MAX, EVOLUTION_ACTION_MAX)
  BUTTON_IS_INTERNAL
  BUTTON_USE_SIZE_OF_IMAGE
END_BUTTON

BEGIN_BUTTON(SLIDEOUT_BTN_MAXW4, SLIDER_IMAGE_MAXW, ACTION_MAXW)
  BUTTON_IS_INTERNAL
  BUTTON_USE_SIZE_OF_IMAGE
END_BUTTON

BEGIN_BUTTON(SLIDEOUT_BTN_MAXH4, SLIDER_IMAGE_MAXH, ACTION_MAXH)
  BUTTON_IS_INTERNAL
  BUTTON_USE_SIZE_OF_IMAGE
END_BUTTON

BEGIN_BUTTON(SLIDEOUT_BTN_STICKY4, SLIDER_IMAGE_STICKY, ACTION_STICK)
  BUTTON_IS_INTERNAL
  BUTTON_USE_SIZE_OF_IMAGE
END_BUTTON

BEGIN_BUTTON(SLIDEOUT_BTN_SHADE_RIGHT4, SLIDER_IMAGE_SHADE_RIGHT, ACTION_SHADE)
  BUTTON_IS_INTERNAL
  BUTTON_USE_SIZE_OF_IMAGE
END_BUTTON

BEGIN_BUTTON(SLIDEOUT_BTN_KILL4, SLIDER_IMAGE_KILL, ACTION_KILL)
  BUTTON_IS_INTERNAL
  BUTTON_USE_SIZE_OF_IMAGE
END_BUTTON

BEGIN_BUTTON(SLIDEOUT_BTN_END_CAP_LEFTEND4, SLIDER_IMAGE_END_CAP_LEFTEND, ACTION_NULL)
  BUTTON_IS_INTERNAL
  BUTTON_USE_SIZE_OF_IMAGE
END_BUTTON

