#include <definitions>
__E_CFG_VERSION 1

BEGIN_FONTS
  font-border "vixar/12"
  font-coords "vixar/12"
  font-dialog "vixar/12"
  font-dialog-hilite "vixar/12"
  font-epplet "-*-lucida-medium-r-normal-*-*-80-*-*-p-*-iso8859-1"
  font-epplet-large "-*-lucida-medium-r-normal-*-*-120-*-*-p-*-iso8859-1"
  font-epplet-medium "-*-lucida-medium-r-normal-*-*-100-*-*-p-*-iso8859-1"
  font-epplet-small "-*-lucida-medium-r-normal-*-*-80-*-*-p-*-iso8859-1"
  font-init "-*-lucida-bold-r-normal-*-*-100-*-*-p-*-iso8859-1"
  font-menu "vixar/12"
  font-pager "vixar/12"
  font-tooltip "vixar/12"
END_FONTS

