#include <definitions>
__E_CFG_VERSION 1

/* Evolution Slideout Types
TYPE1 - open left for shade up windows
TYPE2 - open left for shade down windows
TYPE3 - open right for shade left windows
TYPE4 - open left for shade right windows
*/

BEGIN_SLIDEOUT("WINDOW_SLIDEOUT_TYPE_1", __LEFT)
  ADD_BUTTON_TO_SLIDEOUT("SLIDEOUT_BTN_MIN1")
  ADD_BUTTON_TO_SLIDEOUT("SLIDEOUT_BTN_MAX1")
  ADD_BUTTON_TO_SLIDEOUT("SLIDEOUT_BTN_MAXH1")
  ADD_BUTTON_TO_SLIDEOUT("SLIDEOUT_BTN_MAXW1")
  ADD_BUTTON_TO_SLIDEOUT("SLIDEOUT_BTN_STICKY1")
  ADD_BUTTON_TO_SLIDEOUT("SLIDEOUT_BTN_SHADE_UP1")
  ADD_BUTTON_TO_SLIDEOUT("SLIDEOUT_BTN_KILL1")
  ADD_BUTTON_TO_SLIDEOUT("SLIDEOUT_BTN_END_CAP_LEFTEND1")
END_SLIDEOUT

BEGIN_SLIDEOUT("WINDOW_SLIDEOUT_TYPE_2", __LEFT)
  ADD_BUTTON_TO_SLIDEOUT("SLIDEOUT_BTN_MIN2")
  ADD_BUTTON_TO_SLIDEOUT("SLIDEOUT_BTN_MAX2")
  ADD_BUTTON_TO_SLIDEOUT("SLIDEOUT_BTN_MAXH2")
  ADD_BUTTON_TO_SLIDEOUT("SLIDEOUT_BTN_MAXW2")
  ADD_BUTTON_TO_SLIDEOUT("SLIDEOUT_BTN_STICKY2")
  ADD_BUTTON_TO_SLIDEOUT("SLIDEOUT_BTN_SHADE_DOWN2")
  ADD_BUTTON_TO_SLIDEOUT("SLIDEOUT_BTN_KILL2")
  ADD_BUTTON_TO_SLIDEOUT("SLIDEOUT_BTN_END_CAP_LEFTEND2")
END_SLIDEOUT

BEGIN_SLIDEOUT("WINDOW_SLIDEOUT_TYPE_3", __RIGHT)
  ADD_BUTTON_TO_SLIDEOUT("SLIDEOUT_BTN_MIN3")
  ADD_BUTTON_TO_SLIDEOUT("SLIDEOUT_BTN_MAX3")
  ADD_BUTTON_TO_SLIDEOUT("SLIDEOUT_BTN_MAXH3")
  ADD_BUTTON_TO_SLIDEOUT("SLIDEOUT_BTN_MAXW3")
  ADD_BUTTON_TO_SLIDEOUT("SLIDEOUT_BTN_STICKY3")
  ADD_BUTTON_TO_SLIDEOUT("SLIDEOUT_BTN_SHADE_LEFT3")
  ADD_BUTTON_TO_SLIDEOUT("SLIDEOUT_BTN_KILL3")
  ADD_BUTTON_TO_SLIDEOUT("SLIDEOUT_BTN_END_CAP_RIGHTEND3")
END_SLIDEOUT

BEGIN_SLIDEOUT("WINDOW_SLIDEOUT_TYPE_4", __LEFT)
  ADD_BUTTON_TO_SLIDEOUT("SLIDEOUT_BTN_MIN4")
  ADD_BUTTON_TO_SLIDEOUT("SLIDEOUT_BTN_MAX4")
  ADD_BUTTON_TO_SLIDEOUT("SLIDEOUT_BTN_MAXH4")
  ADD_BUTTON_TO_SLIDEOUT("SLIDEOUT_BTN_MAXW4")
  ADD_BUTTON_TO_SLIDEOUT("SLIDEOUT_BTN_STICKY4")
  ADD_BUTTON_TO_SLIDEOUT("SLIDEOUT_BTN_SHADE_RIGHT4")
  ADD_BUTTON_TO_SLIDEOUT("SLIDEOUT_BTN_KILL4")
  ADD_BUTTON_TO_SLIDEOUT("SLIDEOUT_BTN_END_CAP_LEFTEND4")
END_SLIDEOUT

