#include <definitions>
__E_CFG_VERSION 1

BEGIN_FONTS
  font-coords "arialn/10"
  font-default "arialn/10"
  font-dialog "-adobe-helvetica-medium-r-normal-*-*-100-*-*-*-*-*-*"
  font-dialog-hilite "-adobe-helvetica-medium-r-normal-*-*-100-*-*-*-*-*-*"
  font-init "-*-helvetica-medium-r-*-*-10-*-*-*-*-*-*-*"
  font-menu "arialn/10"
  font-tooltip "arial/9"
END_FONTS

