#include <definitions>
__E_CFG_VERSION 1

USE_BORDER_FOR_CLIENT_WITH_CLASS("Enlightenment_Dialog", "TRANSIENT")
USE_BORDER_FOR_CLIENT_WITH_CLASS("Enlightenment_Dox", "TRANSIENT")
USE_BORDER_FOR_CLIENT_WITH_TITLE("DOX:*", "TRANSIENT")

USE_BORDER_FOR_CLIENT_WITH_NAME("gimp, "TRANSIENT")
USE_BORDER_FOR_CLIENT_WITH_NAME("The_Gimp", "TRANSIENT")
USE_BORDER_FOR_CLIENT_WITH_NAME("gaim", "TRANSIENT")
USE_BORDER_FOR_CLIENT_WITH_NAME("Gaim", "TRANSIENT")
USE_BORDER_FOR_CLIENT_WITH_NAME("Gaim Buddy List", "TRANSIENT")
USE_BORDER_FOR_CLIENT_WITH_NAME("Eterm", "DEFAULT_ALTERNATIVE")

