#include <definitions>
__E_CFG_VERSION 1

BEGIN_FONTS
  font-border "trekker/10"
  font-coords "trekker/10"
  font-dialog "trekker/10"
  font-dialog-hilite "trekker/10"
  font-focus "trekker/10"
  font-init "-*-helvetica-medium-r-*-*-12-*-*-*-*-*-*-*"
  font-menu "trekker/10"
  font-tooltip "trekker/10"
END_FONTS

