#include <definitions>
__E_CFG_VERSION 1

BEGIN_FONTS
  font-border "04B/6"
  font-coords "04B/6"
  font-default "04B/6"
  font-dialog "04B/6"
  font-dialog-hilite "04B/6"
  font-epplet "04B/6"
  font-epplet-large "04B/6"
  font-epplet-medium "04B/6"
  font-epplet-small "04B/6"
  font-focus "04B/6"
  font-init "04B/6"
  font-menu "04B/6"
  font-tooltip "04B/6"
END_FONTS

