#include <definitions>
__E_CFG_VERSION 0

/* Maintained at theming.effishiency.com
   $Id$ */

__TCLASS __BGN
  __NAME TEXT_TITLE
  __NORMAL "-adobe-helvetica-medium-r-normal-*-*-80-*-*-*-*-*-*"
  __DRAWING_EFFECT __EFFECT_NONE
  __FORGROUND_COLOR 0 0 0
  __BACKGROUND_COLOR 0 0 0
  __JUSTIFICATION 1024
  __HILITED "-adobe-helvetica-medium-r-normal-*-*-80-*-*-*-*-*-*"
  __DRAWING_EFFECT __EFFECT_NONE
  __FORGROUND_COLOR 189 190 189
  __BACKGROUND_COLOR 0 0 0
  __JUSTIFICATION 1024
  __NORMAL_ACTIVE "-adobe-helvetica-medium-r-normal-*-*-80-*-*-*-*-*-*"
  __DRAWING_EFFECT __EFFECT_NONE
  __FORGROUND_COLOR 0 0 0
  __BACKGROUND_COLOR 0 0 0
  __JUSTIFICATION 1024
  __HILITED_ACTIVE "-adobe-helvetica-medium-r-normal-*-*-80-*-*-*-*-*-*"
  __DRAWING_EFFECT __EFFECT_NONE
  __FORGROUND_COLOR 255 255 255
  __BACKGROUND_COLOR 0 0 0
  __JUSTIFICATION 1024
  __CLICKED "-adobe-helvetica-medium-r-normal-*-*-80-*-*-*-*-*-*"
  __DRAWING_EFFECT __EFFECT_NONE
  __FORGROUND_COLOR 255 255 255
  __BACKGROUND_COLOR 0 0 0
  __JUSTIFICATION 1024
  __CLICKED_ACTIVE "-adobe-helvetica-medium-r-normal-*-*-80-*-*-*-*-*-*"
  __DRAWING_EFFECT __EFFECT_NONE
  __FORGROUND_COLOR 255 255 255
  __BACKGROUND_COLOR 0 0 0
  __JUSTIFICATION 1024

__END

__TCLASS __BGN
  __NAME TEXT_MENU
  __NORMAL "-adobe-helvetica-medium-r-normal-*-*-100-*-*-*-*-*-*"
  __DRAWING_EFFECT __EFFECT_NONE
  __FORGROUND_COLOR 255 255 255
  __BACKGROUND_COLOR 0 0 0
  __JUSTIFICATION 0
  __NORMAL_ACTIVE "-adobe-helvetica-medium-r-normal-*-*-100-*-*-*-*-*-*"
  __DRAWING_EFFECT __EFFECT_NONE
  __FORGROUND_COLOR 255 255 255
  __BACKGROUND_COLOR 0 0 0
  __JUSTIFICATION 0
__END

__TCLASS __BGN
  __NAME COORDS
  __NORMAL "-adobe-helvetica-medium-r-normal-*-*-100-*-*-*-*-*-*"
  __DRAWING_EFFECT __EFFECT_NONE
  __FORGROUND_COLOR 0 0 0
  __BACKGROUND_COLOR 255 255 255
  __JUSTIFICATION 0
__END

__TCLASS __BGN
  __NAME DIALOG
  __NORMAL "-adobe-helvetica-medium-r-normal-*-*-100-*-*-*-*-*-*"
  __DRAWING_EFFECT __EFFECT_NONE
  __FORGROUND_COLOR 255 255 255
  __BACKGROUND_COLOR 0 0 0
  __JUSTIFICATION 512
__END

__TCLASS __BGN
  __NAME DIALOG_BUTTON
  __NORMAL "-adobe-helvetica-medium-r-normal-*-*-100-*-*-*-*-*-*"
  __DRAWING_EFFECT __EFFECT_NONE
  __FORGROUND_COLOR 255 255 255
  __BACKGROUND_COLOR 0 0 0
  __JUSTIFICATION 512
__END

__TCLASS __BGN
  __NAME DIALOG_WIDGET_BUTTON
  __NORMAL "-adobe-helvetica-medium-r-normal-*-*-100-*-*-*-*-*-*"
  __DRAWING_EFFECT __EFFECT_NONE
  __FORGROUND_COLOR 255 255 255
  __BACKGROUND_COLOR 0 0 0
  __JUSTIFICATION 512
__END

__TCLASS __BGN
  __NAME DIALOG_WIDGET_TEXT
  __NORMAL "-adobe-helvetica-medium-r-normal-*-*-100-*-*-*-*-*-*"
  __DRAWING_EFFECT __EFFECT_NONE
  __FORGROUND_COLOR 255 255 255
  __BACKGROUND_COLOR 0 0 0
  __JUSTIFICATION 512
__END

__TCLASS __BGN
  __NAME DIALOG_WIDGET_CHECK_BUTTON
  __NORMAL "-adobe-helvetica-medium-r-normal-*-*-100-*-*-*-*-*-*"
  __DRAWING_EFFECT __EFFECT_NONE
  __FORGROUND_COLOR 255 255 255
  __BACKGROUND_COLOR 0 0 0
  __JUSTIFICATION 512
__END

__TCLASS __BGN
  __NAME DIALOG_WIDGET_RADIO_BUTTON
  __NORMAL "-adobe-helvetica-medium-r-normal-*-*-100-*-*-*-*-*-*"
  __DRAWING_EFFECT __EFFECT_NONE
  __FORGROUND_COLOR 255 255 255
  __BACKGROUND_COLOR 0 0 0
  __JUSTIFICATION 512
__END

