#include <definitions>
__E_CFG_VERSION 0

/* Maintained at theming.effishiency.com
   $Id$ */

USE_BORDER_FOR_TRANSIENT_CLIENT("TRANSIENT")
USE_BORDER_FOR_SHAPED_CLIENT("SHAPED")

__MATCH_WINDOW __BGN
  __NAME BORDERLESS_MAC_MENU
  __USE_BORDER BORDERLESS
  __HAS_TITLE *[menu]*
__END

__MATCH_WINDOW __BGN
  __NAME KNOTES
  __USE_BORDER BORDERLESS
  __HAS_TITLE Note: knote*
__END

__MATCH_WINDOW __BGN
  __NAME KNOTES
  __USE_BORDER BORDERLESS
  __HAS_TITLE GIMP Startup
__END

