#include <definitions>
__E_CFG_VERSION 1

BEGIN_FONTS
  font-border "village/10"
  font-coords "village/10"
  font-dialog "village/10"
  font-dialog-hilite "village/10"
  font-epplet "village/10"
  font-epplet "village/7"
  font-epplet-large "village/14"
  font-epplet-medium "village/8"
  font-epplet-small "village/6"
  font-focus "village/10"
  font-init "village/10"
  font-menu "village/10"
  font-tooltip "village/10"
END_FONTS

