#include <definitions>
__E_CFG_VERSION 0

/* Maintained at themes.effx.us
   $Id$ */

__TCLASS  __BGN
  __NAME MENU_TEXT
  __NORMAL "Vera/10"
  __FORGROUND_COLOR 0 0 0
  __BACKGROUND_COLOR 255 255 255
  __NORMAL_ACTIVE "Vera/10"
  __FORGROUND_COLOR 0 255 0
  __BACKGROUND_COLOR 255 255 255
  __JUSTIFICATION 512
__END

__TCLASS  __BGN
  __NAME TEXT1
  __NORMAL "Vera/10"
  __FORGROUND_COLOR 0 0 0
  __BACKGROUND_COLOR 255 255 255
  __NORMAL_ACTIVE "Vera/10"
  __FORGROUND_COLOR 0 255 0
  __BACKGROUND_COLOR 255 255 255
  __JUSTIFICATION 512
__END

__TCLASS  __BGN
  __NAME COORDS
  __NORMAL "Vera/10"
  __FORGROUND_COLOR 0 0 0
__END

__TCLASS  __BGN
  __NAME WARPFOCUS
  __NORMAL "Vera/10"
  __FORGROUND_COLOR 0 0 0
  __CLICKED "Vera/10"
  __FORGROUND_COLOR 0 255 0
  __JUSTIFICATION 512
__END

__TCLASS  __BGN
  __NAME DIALOG
  __NORMAL "Vera/10"
  __FORGROUND_COLOR 0 0 0
__END

__TCLASS  __BGN
  __NAME DIALOG_BUTTON
  __NORMAL "Vera/10"
  __FORGROUND_COLOR 0 0 0
__END


__TCLASS  __BGN
  __NAME DIALOG_WIDGET_BUTTON
  __NORMAL "Vera/10"
  __FORGROUND_COLOR 0 0 0
__END


__TCLASS  __BGN
  __NAME DIALOG_WIDGET_CHECK_BUTTON
  __NORMAL "Vera/10"
  __FORGROUND_COLOR 0 0 0
__END


__TCLASS  __BGN
  __NAME DIALOG_WIDGET_RADIO_BUTTON
  __NORMAL "Vera/10"
  __FORGROUND_COLOR 0 0 0
__END


__TCLASS  __BGN
  __NAME DIALOG_WIDGET_TEXT
  __NORMAL "Vera/10"
  __FORGROUND_COLOR 0 0 0
__END


