#include <definitions>
__E_CFG_VERSION 1

CURSOR(DEFAULT, 0 0 0, 255 255 255, "artwork/cursors/cursor.xbm")
CURSOR(MOVE, 0 0 0, 0 0 0, "artwork/cursors/move.xbm")
CURSOR(RESIZE_H, 0 0 0, 255 255 255, "artwork/cursors/sizeew.xbm")
CURSOR(RESIZE_V, 0 0 0, 255 255 255, "artwork/cursors/sizens.xbm")
CURSOR(RESIZE_BR, 0 0 0, 255 255 255, "artwork/cursors/sizenwse.xbm")
CURSOR(RESIZE_TR, 0 0 0, 255 255 255, "artwork/cursors/sizenesw.xbm")
CURSOR(KILL, 0 0 0, 255 255 255, "artwork/cursors/cursor_kill.xbm")
CURSOR(ICONIFY, 0 0 0, 255 255 255, "artwork/cursors/cursor_iconify.xbm")
