#include <definitions>
__E_CFG_VERSION 1

/* Maintained at themes.effx.us
   $Id$ */

BEGIN_SOUND
/* Format:
 * "event_name" "audio_file"
 */
  "SOUND_STARTUP"             "audio/startup.wav"
//  "SOUND_BUTTON_RAISE"        "audio/synclaves.wav"
  "SOUND_ALERT"               "audio/warning.wav"
  "SOUND_EXIT"                "audio/shutdown.wav"
  "SOUND_LOGOUT"              "audio/shutdown.wav"
//  "SOUND_WAIT"                "audio/E_wait.wav"
//  "SOUND_ERROR_IPC"           "audio/E_error_ipc.wav"
//  "SOUND_SCANNING"            "audio/E_scanning.wav"
//  "SOUND_SETTINGS_ACTIVE"     "audio/E_already_active.wav"
  "SOUND_SETTINGS_PAGER"      "audio/open.wav"
  "SOUND_SETTINGS_FOCUS"      "audio/open.wav"
  "SOUND_SETTINGS_MOVERESIZE" "audio/open.wav"
  "SOUND_SETTINGS_DESKTOPS"   "audio/open.wav"
  "SOUND_SETTINGS_AREA"       "audio/open.wav"
  "SOUND_SETTINGS_PLACEMENT"  "audio/open.wav"
  "SOUND_SETTINGS_AUTORAISE"  "audio/open.wav"
  "SOUND_SETTINGS_TOOLTIPS"   "audio/open.wav"
  "SOUND_SETTINGS_AUDIO"      "audio/open.wav"
  "SOUND_SETTINGS_FX"         "audio/open.wav"
  "SOUND_SETTINGS_BG"         "audio/open.wav"
  "SOUND_DESKTOP_SHUT"        "audio/shutdown.wav"
  "SOUND_WINDOW_CLOSE"        "audio/close.wav"
//  "SOUND_WINDOW_STICK"      "audio/SOUND_WINDOW_STICK.wav"
//  "SOUND_WINDOW_UNSTICK"    "audio/SOUND_WINDOW_UNSTICK.wav"
//  "SOUND_WINDOW_SLIDE"      "audio/SOUND_WINDOW_SLIDE.wav"
//  "SOUND_MENU_SHOW"  "audio/SOUND_MENU_SHOW.wav"
//  "SOUND_UNSHADE"  "audio/SOUND_UNSHADE.wav"
//  "SOUND_SHADE"  "audio/SOUND_SHADE.wav"
//  "SOUND_WINDOW_CHANGE_LAYER_DOWN"  "audio/SOUND_WINDOW_CHANGE_LAYER_DOWN.wav"
//  "SOUND_WINDOW_CHANGE_LAYER_UP"  "audio/SOUND_WINDOW_CHANGE_LAYER_DOWN.wav"
//  "SOUND_WINDOW_BORDER_CHANGE"  "audio/SOUND_WINDOW_BORDER_CHANGE.wav"
//  "SOUND_NEW_ICONBOX"  "audio/SOUND_NEW_ICONBOX.wav"
//  "SOUND_MOVE_AREA_LEFT"  "audio/SOUND_MOVE_AREA_DOWN.wav"
//  "SOUND_MOVE_AREA_RIGHT"  "audio/SOUND_MOVE_AREA_DOWN.wav"
//  "SOUND_MOVE_AREA_UP"  "audio/SOUND_MOVE_AREA_DOWN.wav"
//  "SOUND_MOVE_AREA_DOWN"  "audio/SOUND_MOVE_AREA_DOWN.wav"
//  "SOUND_MOVE_RESIST"  "audio/SOUND_MOVE_RESIST.wav"
//  "SOUND_FOCUS_SET"  "audio/SOUND_FOCUS_SET.wav"
//  "SOUND_ICONIFY" "audio/SOUND_ICONIFY.wav"
//  "SOUND_DEICONIFY" "audio/SOUND_DEICONIFY.wav"
/* don't have any good samples for the things below */
/*  "SOUND_BUTTON_CLICK"        "audio/"*/
/*  "SOUND_WINDOW_SLIDE_END"  "audio/"*/
/*  "SOUND_RESIZE_START"  "audio/"*/
/*  "SOUND_RESIZE_STOP"  "audio/"*/
//  "SOUND_MOVE_START"  "audio/drag.wav"
  "SOUND_MOVE_STOP"  "audio/drop.wav"
/*  "SOUND_RAISE"  "audio/"*/
/*  "SOUND_LOWER"  "audio/"*/
/*  "SOUND_DESKTOP_RAISE"  "audio/"*/
/*  "SOUND_DESKTOP_LOWER"  "audio/"*/
/*  "SOUND_SLIDEOUT_SHOW"  "audio/"*/
/*  "SOUND_INSERT_KEYS"  "audio/"*/
/*  "SOUND_GROUP_SETTINGS_ACTIVE"  "audio/"*/
/*  "SOUND_SETTINGS_GROUP"  "audio/"*/
END_SOUND

